<!DOCTYPE html>
<html lang="pt-br">
     <head>
        <title>OdontoPrev</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" href="../../img/odpv.PNG" type="image/png">
		<link href="../assets/css/bootstrap.min.css" rel="stylesheet">
	    <link href="../assets/css/main.css" rel="stylesheet">

	    <script type="text/javascript" src="../assets/js/jquery-3.2.1.min.js"></script>
	    <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
	    <script type="text/javascript" src="../assets/js/jquery.mask.min.js"></script>
	    <script type="text/javascript" src="../assets/js/odonto-Valida.js"></script>
     </head>

    <body>
		<div class="container-cadastro">
			<img src="../assets/img/logo-mobile.png" class="img-logo-odonto logoOdonto">
			<div class="ajuste-forme">
				<h1 class="font-blue text-center">
					<strong>Bem-vindo</strong>
				</h1>

				<div class="sub-title-index font-silver-index text-center">
					<p>ao sistema de venda odontoPrev</p>
				</div>

				<div class="form-group width-form space-top-50">
					<label class="label-cpfcnpj uppercase">cpf/cnpj </label>
					<input type="text" id="cpfcnpj" class="cpfcnpj form-control">
				</div>
				
				<div class="form-group width-form space-top-30">
					<label class="label-password">SENHA</label>
					<img src="../assets/img/senha-1@2x.png" id="icone-revelar" class="img-senha" align="right">
					  <input type="password" id="senha-index" class="password form-control">
				  </div>

				<div class="space-top-50">
					<a href="corretor/others/home-dono-corretora.html" type="button" class="btn btn-entrar-index r-medium" href="home.html">ENTRAR</a>
				</div>

				<div class="space-top-20">
					<a type="button" class="btn btn-meCadastrar-index r-medium" href="corretor/cadastro/cadastroDonoDeCorretora.html"> ME CADASTRAR</a>
				</div>
			</div>
		</div>
	</body>
</html>