<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br"
      xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" th:href="@{/img/odpv.PNG}" type="image/png"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>

    <script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.mask.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/odonto-Valida.js}"></script>
    <script type="text/javascript" th:src="@{/js/menu.js}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script>
        $(document).ready(function () {
            $(function () {
                $(".button-collapse").sideNav();
            });

            $("#cdEmpDcms").blur(function () {
                var reg = /^\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/
                if (reg.test($("#empDcms").val())) {
                    $("#empDcms_h").val($("#empDcms").val());
                    return;
                }
                return false;
            });

            $("#cdEmpDcms").click(function () {
                //document.getElementById('btnSalvarEnviar').style.display = "inline-block";
                $("#btnSalvar").removeClass('hide');
            });

            $("#btnBuscar").click(function () {
                //document.getElementById('btnSalvarEnviar').style.display = "inline-block";
                $("#cdEmpDcmsTxt").removeClass('hide');
            });

            $("#btnBuscar").click(function () {
                //document.getElementById('btnSalvarEnviar').style.display = "inline-block";
                $("#cdEmpDcms").removeClass('hide');
            });
        });
    </script>
</head>
<body style="min-width: 100% !important;">

<div class="container-fluid nopadding">

    <!-- div th:switch="${session.usuario.perfil}" -->
    <!-- div th:case="'Adiministrador'" -->
    <div th:replace="fragments/menu-admin :: menu-admin">&nbsp;</div>
    <div th:replace="/fragments/header-admin :: header-admin">&nbsp;</div>
    <!-- /div-->
    <!-- /div -->

    <div class="container-logado padding-logado">

        <div class="row" style="background:#F5F5F4;">
            <div class="col-xs-12">
                <h2 class="text-center font-blue title-odonto">Vincular Empresa DCMS</h2>
                <p class="text-center text-silver sub-title space-top-30">Insira os dados abaixo
                </p>
            </div>
        </div>

        <!--cadastro-->

        <div class="content-odonto" style="margin-bottom: 200px">

            <div id="naoSouDono" align="center">

                <form class="space-top-10" action="#" th:action="@{/buscaCnpjDCMS}"
                      th:object="${banana}" method="POST">

                    <div class="form-group width-form3 ">
                        <label class="label-cnpj">CNPJ da Empresa</label>
                        <input type="text" th:name="cnpj" id="cnpj" th:value="${cnpj}" class="cnpj form-control"
                               style="text-align:center">
                        <span th:text="${cnpj == null} ? ${observacao} : ''"
                              style="text-align:center;color: #b92c28;font-family: Roboto-Medium !important;font-size: 15px!important;"/>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 ">
                            <input type="submit" id="btnBuscar"
                                   class="btn btnBlue btn-width-custom space-top-10 uppercase"
                                   value="BUSCAR"/>
                        </div>
                    </div>

                    <div class="form-group width-form1 space-top-60 display:none">

                        <label class="label-cdEmpresa"
                               th:style="${cdEmpresa == null}  ? 'display:none' : 'display:inline-block'">Código da
                            Empresa</label>
                        <input type="text" th:value="*{cdEmpresa}" th:name="cdEmpresa" id="cdEmpresa"
                               th:style="${cdEmpresa == null}  ? 'display:none' : 'display:inline-block;text-align:center'"
                               class="cdEmpresa form-control"
                               th:disabled="${cdEmpDcms} != null"
                               style="width: 30%;">

                        <label class="label-dcms" id="cdEmpDcmsTxt"
                               th:style="${cdEmpDcms == ''}  ? 'display:inline-block' : 'display:inline-block'">Código
                            DCMS</label>
                        <input type="text" th:value="*{cdEmpDcms}" th:name="cdEmpDcms" id="cdEmpDcms"
                               th:style="${cdEmpDcms == ''}  ? 'display:inline-block;text-align:center' : 'display:inline-block;text-align:center'"
                               class="empDcms form-control"
                               th:disabled="${cdEmpDcms} != ''"
                               style="width: 30%;">
                    </div>

                    <div id="observacao">
                        <span th:name="observacao" th:text="${observacao}"
                              style="text-align:center;color: #b92c28;font-family: Roboto-Medium !important;font-size: 15px!important;"/>
                    </div>
                </form>
                <div class="row">
                    <div class="col-xs-12 ">
                        <form class="space-top-10" action="#" th:action="@{/vincularDCMS}" th:object="${banana}"
                              method="POST">
                            <input type="hidden" th:value="*{cnpj}" th:name="cnpj" id="cnpj_h"/>
                            <input type="hidden" th:value="*{cdEmpresa}" th:name="cdEmpresa" id="cdEmpresa_h"/>
                            <input type="hidden" th:value="*{cdEmpDcms}" th:name="cdEmpDcms" id="empDcms_h"/>

                            <input type="submit" id="btnSalvar"
                                   class="btn btnBlue btn-width-custom space-top-10 uppercase hide"
                                   value="SALVAR"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div th:replace="fragments/footer :: footer">&nbsp;</div>

    </div>
</div>
</div>
</body>
</html>
