<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>

    <!-- 		<link href="css/estiloOdontoPrev.css" rel="stylesheet"> -->
    <script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.mask.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/odonto-Valida.js}"></script>

    <script type="text/javascript" th:src="@{/js/menu.js}"></script>
    <!--<script type="text/javascript"-->
            <!--th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js}"></script>-->

</head>
<body style="min-width: 100% !important;">

<script>
    $(function () {
        $(".button-collapse").sideNav();
    });

</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('.table-odonto tr:odd').css('background-color', '#EDEDED');

        $('.table-odonto tr:even').css('background-color', '#fff');
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {

        $('.barras').each(function () {
            var dataWidth = $(this).data('value');
            $(this).css("width", dataWidth + "%");
            $(this).css("max-width", "100%");
            if (dataWidth <= 25) {
                $(this).css("border-color", "transparent");
            }
            else if (dataWidth > 25 && dataWidth <= 50) {
                $(this).css("border-color", "transparent");
            }
            else if (dataWidth > 50 && dataWidth <= 75) {
                $(this).css("border-color", "transparent");
            }
            else if (dataWidth > 75 && dataWidth <= 100) {
                $(this).css("border-color", "transparent");
            }
        });
    });
</script>

<div class="container-fluid nopadding">

    <div th:switch="${session.usuario.perfil}">
	  <div th:case="'Corretor'">
  			<div th:replace="fragments/menu-corretor :: menu-corretor">&nbsp;</div>
			<div th:replace="fragments/header-corretor :: header-corretor">&nbsp;</div>
	  </div>
	  <div th:case="'Corretora'">
  			<div th:replace="fragments/menu-corretora :: menu-corretora">&nbsp;</div>
			<div th:replace="fragments/header-corretora :: header-corretora">&nbsp;</div>
	  </div>  
	</div>

    <div class="container-logado padding-logado">
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12">
                        <h4 class="uppercase font-blue title-section-odonto pull-left">alertas<h4>
                    </div>
                </div>

                <div class="box-alerta-content">
                    <div class="alerta-1 pull-left">

                         <a class="text-center text-odonto nomargin" th:href="@{/alertas/aprovado}">
                            <div class="box-alerta bg-green pull-left space-top-30 space-right-30">
                                <h3 class="text-center uppercase nomargin "><strong
                                        th:text="${corretor.totalSucesso}">8</strong></h3>
                                Propostas finalizadas com sucesso
                            </div>
                        </a>
                        <a class="text-center text-odonto nomargin" href="lista-propostas.html"
                           th:href="@{/alertas/criticado}">
                            <div class="box-alerta bg-red pull-left space-top-30 space-right-30">
                                <h3 class="text-center uppercase nomargin "><strong
                                        th:text="${corretor.totalCriticadas}">4</strong></h3>
                                Propostas criticadas
                            </div>
                        </a>

                    </div>

                    <div class="alerta-2 pull-left">

                    </div>
                </div>

            </div>
        </div>

        <div class="row space-top-30">
            <div class="col-xs-12">

                <div class="vendas pull-left space-top-30">
                    <div class="row space-top-30">
                        <div class="col-xs-12">
                            <h4 class="uppercase font-blue title-section-odonto pull-left">suas Propostas de vendas</h4>


                            <!--<div class="dropdown pull-right">-->
                                <!--<span id="dLabel" role="button" data-toggle="dropdown"-->
                                      <!--class="btn btn-primary btn-odonto">-->
                                    <!--Vidas/mês <span class="caret"></span>-->
                                <!--</span>-->
                                <!--<ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">-->
                                    <!--<li><a href="#">Some action</a></li>-->
                                    <!--<li><a href="#">Some other action</a></li>-->
                                <!--</ul>-->
                            <!--</div>-->

                            <div class="dropdown pull-right space-right">
                            <span id="dLabel" role="button" data-toggle="dropdown" class="btn btn-primary btn-odonto" data-target="#" >
                            Valor R$/mês <span class="caret"></span>
                            </span>
                            <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                            <li><a href="#">Some action</a></li>
                            <li><a href="#">Some other action</a></li>
                            </ul>
                            </div>


                        </div>
                    </div>


                    <div class="row space-top-30">
                        <div class="col-xs-12">

                            <section class="grafico-barras">
                                <ul>
                         <span class="barra-fondo">
                            <div class="uppercase text-odonto">Pessoa física</div>
                            <li class="space-top-5 barras" th:data-value="${corretor.percenteValorPF}"
                                style="border:1px solid red; background-color: cyan"><span class="valor-vendar"
                                                                                           th:text="${corretor.totalValorPF}">R$ 350,00</span></li>
                         </span>

                                    <span class="barra-fondo">
                            <div class="uppercase text-odonto">pme</div>
                            <li class="space-top-5 barras" th:data-value="${corretor.percenteValorPME}"
                                style="border:1px solid red; background-color: #C3EB3B"><span class="valor-vendar" th:text="${corretor.totalValorPME}">R$ 100,00</span></li>
                         </span>
                                </ul>
                            </section>

                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>

    <div th:replace="fragments/footer :: footer">&nbsp;</div>

</div>

</body>
</html>