<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="pt-br"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>OdontoPrev</title>
    <meta charset="UTF-8">
    <link rel="shortcut icon" th:href="@{/img/odpv.PNG}" type="image/png"/>
    <meta http-equiv="Content-Language" content="pt-br" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no" />
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../css/sweetalert.css"/>
    <link rel="stylesheet" type="text/css" href="../css/odontoprev.css"/>

</head>
<body>
        <div class="container-fluid nopadding" th:style="${contratoAceito.contratoAceito} == true ? 'display:none' : 'display:block'">
            <div class="col-xs-12 text-center padding-top-20 padding-bottom-20" style="background-color: rgba(172,170,165, 0.12);">
                <div class="col-xs-12">
                    <label class="title-odonto" style="color: #1974CE">SOMOS TRANSPARENTES!</label>
                </div>
                <div class="col-xs-12">
                    <label class="title-odonto" style="color: #1974CE">AQUI NÃO TEM LETRAS MIÚDAS.</label>
                </div>
                <div class="col-xs-12">
                    <label class="title-odonto" style="color: #1974CE">LEIA E ACEITE OS TERMOS DO SEU CONTRATO ABAIXO:</label>
                </div>
            </div>


                <label class="title-odonto marginTermo margin-top-70" th:style="${contratoAceito.codSusep} == '' ? 'display:none' : ''">ATUALIZAÇÃO DO CONTRATO DE CORRETAGEM</label>
            <label class="title-odonto marginTermo margin-top-70" th:style="${contratoAceito.codSusep} != '' ? 'display:none' : ''">ATUALIZAÇÃO DO CONTRATO DE INTERMEDIAÇÃO</label>
                <div class="divTermoCondicao marginTermo">
                    <div class="textTermoContratoCorretora col-md-12 margin-top-0" id="termoCadastrado" style="border: 0px !important">
                        <div th:remove="tag" th:utext="${contratoAceito.textoContrato}"></div>
                    </div>
                </div>


            <div class="marginTermo margin-top-30">

                <label class="container"><span class="labelCheckContrato">Aceito os termos e condições expostos no contratos para venda PME e PF.
                </span><input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </label>
                <label class="container"><span class="labelCheckContrato">Sou o representante legal da corretora.</span>
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>

                <div class="margin-top-30 wrapper margin-bottom-30">
                    <a class="btn btn-lg btn-block btnOdont" id="btnAvancar" role="button">AVANÇAR</a>
                </div>

            </div>
        </div>

    <div th:style="${contratoAceito.contratoAceito} == false ? 'display:none' : 'display:block'">


        teste2
    </div>
</body>
</html>