<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="pt-br"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>OdontoPrev</title>
    <meta charset="UTF-8">
    <link rel="shortcut icon" th:href="@{/img/odpv.PNG}" type="image/png"/>
    <meta http-equiv="Content-Language" content="pt-br" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/odontoprev.css}"/>

</head>
<body>

<div class="container-fluid nopadding">
    <div class="col-xs-12 text-center padding-top-40 padding-bottom-40 " style="background-color: rgba(172,170,165, 0.12);">

        <div class="col-xs-12">
            <label class="title-odonto" style="color: #1974CE">CONTRATO ATUALIZADO COM SUCESSO</label>
        </div>

    </div>

    <div class="col-md-12 text-center">
        <label class="margin-top-140 labelEmailAceito">Muito obrigado pela parceria!!</label>
    </div>
    <div class="col-md-12 text-center">
        <label class="labelEmailAceito">Uma cópia do contrato foi enviada para o e-mail da corretora e estará disponível também no menu "Dados da Corretora".</label>
    </div>
</div>

</body>
</html>