<html xmlns:th="http://www.thymeleaf.org" lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../../../assets/img/odpv.PNG" type="image/png">
    <link href="../../../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../../assets/css/main.css" rel="stylesheet">

    <script type="text/javascript" src="../../../assets/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../../../assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../../assets/js/jquery.mask.min.js"></script>
    <script type="text/javascript" src="../../../assets/js/odonto-Valida.js"></script>
    <script type="text/javascript" src="../../../assets/js/menu.js"></script>
    <script>
        $(function () {
            $(".button-collapse").sideNav();

            $(".planoSelecionado").click(function () {
                $(".box-plano-select").hide();
            });

        });

    </script>
</head>

<body style="min-width: 100% !important;">
<div class="container-fluid nopadding">
    <nav class="nav-odonto">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo" style="color: silver; padding: 35px"><img src="../../../assets/img/logo.png"></a>
            <ul class="hide-on-med-and-down">
                <li class="nav-cel"><a href="../others/home-dono-corretora.html"><img
                        src="../../../assets/img/menu-home.png"><span>home</span></a></li>
                <li class="nav-cel"><a href="#"><img
                        src="../../../assets/img/menu-meus-dados.png"><span>meus dados</span></a></li>
                <li class="nav-cel nav-active"><a href="../vendas_pf/escolhaPlanoPF.html"><img
                        src="../../../assets/img/menu-vender-pf.png"><span>vender pessoa física</span></a></li>
                <li class="nav-cel"><a href="../vendas_pme/Escolha_um_plano.html"><img
                        src="../../../assets/img/menu-vender-pme.png"><span>vender pme</span></a></li>
                <li class="nav-cel"><a href="#"><img src="../../../assets/img/menu-listas.png"><span>informações dos planos</span></a>
                </li>
                <li class="nav-cel"><a href="../others/lista_de_pospostas.html"><img
                        src="../../../assets/img/menu-listas.png"><span>lista de propostas</span></a></li>
                <li class="nav-cel"><a href="../others/busca-rede-credenciadas.html"><img
                        src="../../../assets/img/menu-rede-credenciada.png"><span>rede credenciada</span></a></li>
                <li class="nav-cel"><a href="../others/fale-conosco-forca-vendas.html"><img
                        src="../../../assets/img/menu-contato.png"><span>fale conosco</span></a></li>
            </ul>
        </div>
    </nav>
    <div class="nav-mobile">
        <ul class="side-nav" id="menu-mobile">
            <li class="" style="background-color: #fff; padding: 30px">
                <div class="perfil-mobile">
                    <div class="circle-perfil">
                        <div class="data-perfil">
                            <p class="user-name"><strong>Marcos Palmas</strong></p>
                            <p class="font-gray">Corretora XPTO</p>
                            <a href="#" class="link-odonto">Sair</a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-cel"><a href="../others/home-dono-corretora.html"><img
                    src="../../../assets/img/menu-home.png"><span>home</span></a></li>
            <li class="nav-cel"><a href="#"><img
                    src="../../../assets/img/menu-meus-dados.png"><span>meus dados</span></a></li>
            <li class="nav-cel nav-active"><a href="../vendas_pf/escolhaPlanoPF.html"><img
                    src="../../../assets/img/menu-vender-pf.png"><span>vender pessoa física</span></a></li>
            <li class="nav-cel"><a href="../vendas_pme/Escolha_um_plano.html"><img
                    src="../../../assets/img/menu-vender-pme.png"><span>vender pme</span></a></li>
            <li class="nav-cel"><a href="#"><img
                    src="../../../assets/img/menu-listas.png"><span>informações dos planos</span></a></li>
            <li class="nav-cel"><a href="../others/lista_de_pospostas.html"><img
                    src="../../../assets/img/menu-listas.png"><span>lista de propostas</span></a></li>
            <li class="nav-cel"><a href="../others/busca-rede-credenciadas.html"><img
                    src="../../../assets/img/menu-rede-credenciada.png"><span>rede credenciada</span></a></li>
            <li class="nav-cel"><a href="../others/fale-conosco-forca-vendas.html"><img
                    src="../../../assets/img/menu-contato.png"><span>fale conosco</span></a></li>
        </ul>
    </div>
    <div class="header-logado">
        <a href="#" data-activates="menu-mobile" class="button-collapse pull-right">
            <img src="../../../assets/img/menu.png" class="icon-menu">
        </a>
        <img src="../../../assets/img/logo-mobile.png" class="logo-ondonto-mobile" style="position: relative;top:30px">

        <div class="perfil-web">
            <div class="circle-perfil">
                <div class="data-perfil">
                    <p class="user-name"><strong>Marcos Palmas</strong></p>
                    <p class="font-gray">Corretora XPTO</p>
                    <a href="#" class="link-odonto">Sair</a>
                </div>
            </div>
        </div>
        <div class="pull-right space-top-30 btn-header-web">
            <a href="../vendas_pf/escolhaPlanoPF.html" type="button" class="btn btnPink btn-width-custom text-right">VENDER
                PARA PESSOA FÍSICA</a><br>
            <a href="../vendas_pme/Escolha_um_plano.html" type="button"
               class="btn btnBlue btn-width-custom space-top-10">VENDER PME</a>
        </div>
    </div>
    <div class="container-logado padding-logado">
        <div class="titulo">
            <h4 class="uppercase font-blue nomargin">Venda pessoa física</h4>
            <h3 class="uppercase font-blue nomargin title-odonto">
                Pagamento com Débito em Conta
            </h3>

            <p class=" label-plano text-silver space-top-10">Resumo dos planos </p>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="box-plano-pagamento-cartao box-pme pull-left space-top-30 space-right">
                    <img src="../../../assets/img/close.png" class="close-blue planoSelecionado" id="">

                    <div class="row">
                        <div class="col-xs-7">
                            <p class="label-plano font-purple space-bottom-0 space-left-10">
                                <strong>Mensal</strong>
                            </p>
                            <p class="label-plano font-gray space-left-10">Total por ano R$ 547,20</p>
                            <p class="label-plano font-gray space-left-10 space-top-8">Titular:
                                <strong>Tiago Pereira</strong>
                            </p>
                        </div>
                        <div class="col-xs-5 text-right font-purple">
                            <div class="space-top-10 space-right-10">
                                <strong>
                                    <span class="font-moeda">R$</span>
                                    <span class="font-moeda">37,</span>
                                    <span class="font-cent">82</span>
                                </strong>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box-plano-pagamento-cartao box-pme pull-left space-top-30">
                    <img src="../../../assets/img/close.png" class="close-blue planoSelecionado">

                    <div class="row">
                        <div class="col-xs-7">
                            <p class="label-plano font-purple space-bottom-0 space-left-10">
                                <strong>Mensal</strong>
                            </p>
                            <p class="label-plano font-gray space-left-10 ">Total por ano R$ 547,20</p>
                            <p class="label-plano font-gray space-left-10 space-top-8">Titular:
                                <strong>Carols Pereira</strong>
                            </p>

                        </div>
                        <div class="col-xs-5 text-right font-purple">
                            <div class="space-top-10  space-right-10">
                                <strong>
                                    <span class="font-moeda">R$</span>
                                    <span class="font-moeda">37,</span>
                                    <span class="font-cent">82</span>
                                </strong>
                            </div>
                        </div>
                    </div>
                    <div class="space-top-50">
                        <div class="row">
                            <div class="col-xs-7 ">
                                <div class="row">
                                    <div class="col-xs-5">
                                                <span class="label-plano font-blue ">
                                                    <strong>Total</strong>
                                                </span>
                                    </div>
                                    <div class="col-xs-7 text-left font-blue">
                                        <strong>
                                            <span class="font-moeda">R$</span>
                                            <span class="font-moeda">151,</span>
                                            <span class="font-cent">28</span>
                                        </strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p class="label-plano text-silver space-top-90">Para finalizar a proposta, preencha os dados abaixo</p>

        <form>
            <div class="space-top-60">
                <div class="form-group inline space-right width-form3 space-top-50">
                    <label class="label-bancos font-blue">Bancos</label>
                    <select class="bancos form-control form-control-custom" id="bancosCC" data-toggle="modal"
                            data-target="">
                        <option>033 - Santander</option>
                        <option>237 - Bradesco</option>
                        <option>341 - Itaú</option>
                    </select>
                </div>

                <div class="form-group inline space-right-30 width-form3">
                    <label class="label-nome">Agência </label>
                    <input type="text" id="pagamentoCartaoNome" class="nome form-control">
                </div>
                <div class="form-group inline space-right-30 width-form3">
                    <label class="label-validade">Conta Corrente </label>
                    <input type="text" id="pagamentoCartaoValidade" class="validade form-control">
                </div>
            </div>

            <div class="space-top-30">
                <a href="compraRealizadaPF.html" type="button"
                   class="btn btnBlue btn-width-custom space-top-10 uppercase">FINALIZAR</a>
            </div>
        </form>
    </div>
    <div class="footer-logado">
        <div class="pull-left box-footer">
            <p>© OdontoPrev. S/A - CNPJ: 119.199/0001-51</p>
            <p>Av. Marcos Penteado de Ulhoa Rodrigues, 939-14 andar-Edifício Jatoba Torre 2-Barueri-SP CEP-
                06460-040</p>
            <p>OdontoPrev - CRO/SP n° 19009</p>
        </div>
        <div class="pull-right footer-img"><img th:src="@{/img/ans.png}"></div>
    </div>
</div>
</body>
</html>