<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="UTF-8">
	<!--<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-theme.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>

	<!-- 		<link href="css/estiloOdontoPrev.css" rel="stylesheet"> -->
	<script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery.mask.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/odonto-Valida.js}"></script>

	<script type="text/javascript" th:src="@{/js/menu.js}"></script>
	<!--<script type="text/javascript"
			th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js}"></script>-->

	<script>
        $(function () {
            $(".button-collapse").sideNav();
        });
	</script>

</head>

<body style="min-width: 100% !important;">
	<div class="container-fluid nopadding">

		<div th:replace="fragments/menu-corretora :: menu-corretora">&nbsp;</div>

		<div th:replace="fragments/header-corretora :: header-corretora">&nbsp;</div>

		<div class="container-logado padding-logado">
			<div class="row">
				<div class="col-xs-12">

					<!-- <form class="space-top-30"> -->
					<form action="#" th:action="@{/cadastrar}" th:object="${corretora}" method="POST">
						<div class="col-xs-12">
							<div class="form-group inline space-right width-form3 ">
								<label class="label-cnpj">CNPJ</label> 
								<input type="text" id="cnpjEditarCadastroSouDono" class="cnpj  form-control " th:field="*{cnpj}" readonly="readonly">
							</div>
						</div>

						<div class="col-xs-12">
							<div class="form-group inline space-right width-form3 space-top-30">
								<label class="label-razao-social">RAZÃO SOCIAL</label> 
								<input type="text" id="razaoSocialEditarCadastroSouDono" class="razao-social form-control" th:field="*{razaoSocial}" readonly="readonly">
							</div>
							<div class="form-group inline space-right width-form3">
								<label class="label-cnae">CNAE</label> 
								<input type="text" id="cnaeEditarCadastroSouDono" class="cnae form-control" th:field="*{cnae}" readonly="readonly">
							</div>
							<div class="form-group inline space-right width-form3">
								<label class="label-simplesNacional">SIMPLES NACIONAL </label> 
								<input type="text" id="simplesNacionalEditarCadastroSouDono" class="simplesNacional form-control" th:field="*{simplesNacional}" readonly="readonly">
							</div>						
						</div>

						<div class="col-xs-12">
							<div class="form-group inline inline space-right width-form3 space-top-30">
								<label class="label-dataAbertura">DATA DE ABERTURA</label> 
								<input type="text" id="dataAberturaEditarCadastroSouDono" class=" dataAbertura form-control" th:field="*{dataAbertura}" readonly="readonly">
							</div>
							<div class="form-group inline width-form3">
								<label class="label-statusCnpjCadastroSouDono">STATUS CNPJ</label> 
								<input type="text" id="statusCnpjEditarCadastroSouDono" class="statusCnpjCadastroSouDono form-control " th:field="*{statusCnpj}" readonly="readonly">
							</div>
						</div>

						<div class="col-xs-12">
							<div class="form-group inline space-right width-form1 space-top-30">
								<label class="label-nomeCadastroSouDono">NOME DO REPRESENTATE LEGAL</label> 
								<input type="text" id="nomeCadastroSouDono" class=" nomeCadastroSouDono form-control" readonly="readonly">
							</div>
							<div class="form-group inline width-form3">
								<label class="label-cpf">CPF</label> 
								<input type="text" id="cpEditarCadastroSouDono" class="cpf form-control " readonly="readonly">
							</div>
						</div>

						<div class="col-xs-12">
							<div class="form-group inline space-right width-form1 space-top-30">
								<label class="label-nomeSubCadastroSouDono">NOME DO REPRESENTATE LEGAL</label> 
								<input type="text" id="nomeSubEditarCadastroSouDono" class=" nomeSubCadastroSouDono form-control" readonly="readonly">
							</div>
							<div class="form-group inline width-form3">
								<label class="label-cpfCadastroSouDono">CPF</label> 
								<input type="text" id="cpfEditarCadastroSouDono" class="cpfCadastroSouDono form-control " readonly="readonly">
							</div>
						</div>

						<div class="col-xs-12">
							<div class="form-group inline space-right width-form3 space-top-30">
								<label class="label-telefone">TELEFONE</label> 
								<input type="text" id="telefoneEditarCadastroSouDono" class="telefone form-control" th:field="*{telefone}">
							</div>
							<div class="form-group inline space-right width-form3">
								<label class="label-celularCadastroSouDono">CELULAR</label> 
								<input type="text" id="celularEditarCadastroSouDono" class="celularCadastroSouDono form-control" th:field="*{celular}">
							</div>
							<div class="form-group inline space-right width-form3">
								<label class="label-email">E-MAIL </label> 
								<input type="text" id="emailEditarCadastroSouDono" class="email form-control" th:field="*{email}">
							</div>
						</div>

						<div class="col-xs-12">
							<h4 class="labelEndCorretoraDonoDeCorretora sub-title space-top-60"> ENDEREÇO DA CORRETORA</h4>

							<div class="form-group space-right width-form3 space-top-40">
								<label class="label-cep space-top-40">CEP</label> 
								<input type="text" id="cepEditarCadastroSouDono" class=" cep form-control" th:field="*{enderecoCorretora.cep}"> <a href=" "> 
								<img th:src="@{/img/magnifie.png}" class="icone-revelar-senha" align="right">
								</a>
							</div>

							<div class="form-group inline space-right width-form1 space-top-30">
								<label class="label-endereco">ENDEREÇO</label> 
								<input type="text" id="enderecoEditarCadastroSouDono" class="endereco form-control " th:field="*{enderecoCorretora.logradouro}">
							</div>

							<div class="form-group inline space-right width-form3">
								<label class="label-numero">NÚMERO</label> 
								<input type="text" id="numeroEditarCadastroSouDono" class="numero form-control " th:field="*{enderecoCorretora.numero}">
							</div>
						</div>

						<div class="col-xs-12">
							<div class="form-group inline space-right width-form3 space-top-30">
								<label form="complemento" class="label-complemento">COMPLEMENTO</label>
								<input type="text" id="complementoEditarCadastroSouDono" class="complemento form-control" th:field="*{enderecoCorretora.complemento}">
							</div>

							<div class="form-group inline space-right width-form3">
								<label form="bairro" class="label-bairro">BAIRRO</label> 
								<input type="text" id="bairroEditarCadastroSouDono" class=" bairro form-control " th:field="*{enderecoCorretora.bairro}">
							</div>

							<div class="form-group inline space-right width-form2">
								<label form="cidade" class="label-cidade">CIDADE</label> 
								<input type="text" id="cidadeEditarCadastroSouDono" class="cidade form-control" th:field="*{enderecoCorretora.cidade}">
							</div>

							<div class="form-group inline space-right">
								<label class="label-estado">ESTADO</label> <select
									class="form-control form-control-custom"
									id="estado estadoEditarCadastroSouDono">
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
								</select>
							</div>
						</div>

						<div class="col-xs-12">
							<h4
								class="labelEndCorretoraDonoDeCorretora sub-title space-top-60">
								DADOS BANCÁRIOS</h4>

							<div class="row">
								<div class="col-xs-12">

									<div class="form-group inline space-right width-form3 space-top-30">
										<label form="complemento" class="label-banco">Banco</label> 
										<input type="text" id="bancoEditarCadastroSouDono" class="banco form-control" th:field="*{conta.codigoBanco}"> <a href=" "> 
										<img th:src="@{/img/magnifie.png}" class="icone-revelar-senha" align="right">
										</a>
									</div>
									<div class="form-group inline space-right width-form3">
										<label form="bairro" class="label-agencia">Agência</label> 
										<input type="text" id="agenciaEditarCadastroSouDono" class="agencia form-control" th:field="*{conta.codigoAgencia}">
									</div>

									<div class="form-group inline space-right width-form2">
										<label form="cidade" class="label-conta">Conta</label> 
										<input type="text" id="contaEditarCadastroSouDono" class=" conta form-control" th:field="*{conta.numeroConta}">
									</div>
								</div>
							</div>
						</div>

						<div class="col-xs-12">
							<h4
								class="labelCadastroDeSenhaDonoDeCorretora sub-title space-top-60">
								SENHA</h4>
							<div class="form-group width-form3 space-top-40">
								<label class="label-sennhaCadastroSouDono space-top-60">
									Editar senha</label> <input type="password"
									id="senhaEditarCadastroSouDono"
									class=" sennhaCadastroSouDono form-control"> <img
									th:src="@{/img/senha-1@2x.png}"
									id="icone-senhaEditarCadastroSouDono"
									class="icone-revelar-senha" align="right">

							</div>
							<div class="space-top-30">
								<a type="button"
									class="btn btnBlue btn-width-custom space-top-10 uppercase">EDITAR
									MEUS DADOS</a>
							</div>
						</div>

					</form>
				</div>
			</div>
		</div>
		<div th:replace="fragments/footer :: footer">&nbsp;</div>
	</div>
	<script type="text/javascript" th:src="@{/js/setColorMenuCorretor.js}"></script>
</body>

</html>