<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br"
      xmlns="http://www.w3.org/1999/xhtml">

<head><title>OdontoPrev</title>
    <meta charset="UTF-8">
    <link rel="shortcut icon" th:href="@{/img/odpv.PNG}" type="image/png"/>

    <meta http-equiv="Content-Language" content="pt-br">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/odontoprev.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/sweetalert.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
</head>

<body style="min-width: 100% !important;">

<div class="container-fluid nopadding">

    <div th:replace="fragments/menu-corretor :: menu-corretor">&nbsp;</div>
    <div th:replace="fragments/header-corretor :: header-corretor">&nbsp;</div>

    <form class="space-top-40" th:object="${forcaVenda}" th:action="@{/forcavenda/editar/salvar}" method="POST">
        <div class="container-logado padding-logado">
            <div class="col-xs-12">
                <div>
                    <label class="titleOdont text-center">EDITAR MEUS DADOS</label>
                </div>
                <div type="hidden" id="cdForcaVenda" class="nome form-group" th:field="*{cdForcaVenda}"
                     name="cdForcaVenda"/>

                <div class="space-top-20">
                    <label class="label-nome">Nome</label><br/>
                    <input type="text" id="nomeCorretorEdicao" class="nome inputLabelBlur nomeRegex" th:field="*{nome}"
                           name="nome" maxlength="255" />
                </div>

                <div class="space-top-20">
                    <label class="label-email">E-mail</label><br/>
                    <input type="text" id="emailCorretorEdicao" class="email inputLabelBlur text-lowercase" th:field="*{email}"
                           name="email" maxlength="80"/>
                </div>

                <div class="space-top-20">
                    <label class="label-celular">Celular</label><br/>
                    <input type="text" id="telefoneCorretorEdicao" class="celular inputLabelBlur" th:field="*{celular}"
                           name="celular" />
                </div>
            </div>

            <div>
                <button type="submit" id="salvarDados" class="btn btn-cadastro-login r-medium btnOdont">
                    SALVAR
                    MEUS DADOS
                </button>
            </div>
        </div>
    </form>
</div>
<div>
    <div th:replace="fragments/footer :: footer">&nbsp;</div>
</div>

<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/scripts.js"></script>
<script type="text/javascript" src="/js/odontoprev.js"></script>
<script type="text/javascript" src="/js/jquery.mask.min.js"></script>
<script type="text/javascript" src="/js/odonto-Valida.js"></script>
<script type="text/javascript" src="/js/menu.js"></script>
<script charset="ISO-8859-1" src="/app/meusDadosController.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/sweetalert.min.js"></script>
<script type="text/javascript" th:src="@{/js/setColorMenuCorretor.js}"></script>
</body>
</html>