<!DOCTYPE html>
<html 
lang="pt-br"
xmlns:th="http://www.thymeleaf.org" 
xmlns="http://www.w3.org/1999/xhtml"
>

	<head>
		<title>OdontoPrev</title>
	
	    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	
	    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
	    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-theme.min.css}"/>
	    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
	    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
		
	    <!-- 		<link href="css/estiloOdontoPrev.css" rel="stylesheet"> -->
	    <script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>
	    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
	    <script type="text/javascript" th:src="@{/js/jquery.mask.min.js}"></script>
	    <script type="text/javascript" th:src="@{/js/odonto-Valida.js}"></script>
	
	    <script type="text/javascript" th:src="@{/js/menu.js}"></script>
	    <!--<script type="text/javascript"-->
        <!--th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js}"></script>-->
	</head>
	
	<style>
		/* #myProgress {
		  width: 100%;
		  background-color: #ddd;
		} */
		
		#myBar {
		  width: 0%;
		  height: 20px;
		  background-color: #4CAF50;
		}
	</style>

	<body style="min-width: 100% !important;">
	
	    <!-- barra de progresso -->
		<script>
		function move() {
		  var elem = document.getElementById("myBar");   
		  var width = 1;
		  var id = setInterval(frame, 10);
		  function frame() {
		    if (width >= 100) {
		      clearInterval(id);
		    } else {
		      width++; 
		      elem.style.width = width + '%'; 
		    }
		  }
		}
		</script>
		
		<script>
		    $(function () {
		        $(".button-collapse").sideNav();
		    });
		
		</script>

		<script type="text/javascript">
		    $(document).ready(function () {
		        $('.table-odonto tr:odd').css('background-color', '#EDEDED');
		
		        $('.table-odonto tr:even').css('background-color', '#fff');
		    });
		</script>

		<script type="text/javascript">
		    $(document).ready(function () {
		
		        $('.barras').each(function () {
		            var dataWidth = $(this).data('value');
		            $(this).css("width", dataWidth + "%");
		            $(this).css("max-width", "100%");
		            if (dataWidth <= 25) {
		                $(this).css("border-color", "transparent");
		            }
		            else if (dataWidth > 25 && dataWidth <= 50) {
		                $(this).css("border-color", "transparent");
		            }
		            else if (dataWidth > 50 && dataWidth <= 75) {
		                $(this).css("border-color", "transparent");
		            }
		            else if (dataWidth > 75 && dataWidth <= 100) {
		                $(this).css("border-color", "transparent");
		            }
		        });
		    });
		</script>

		<div class="container-fluid nopadding">
		
		    <div th:replace="fragments/menu-corretor :: menu-corretor">&nbsp;</div>
		    <div th:replace="fragments/header-corretor :: header-corretor">&nbsp;</div>
		
			<form class="space-top-40" th:object="${forcaVenda}" th:action="@{/forcavenda/meus-dados-editar}" method="POST"> 			  
			    <div class="container-logado padding-logado">
			        <div class="col-xs-12">
			            <input  type="hidden" id="cdForcaVenda" class="nome form-control" th:field="*{cdForcaVenda}" name="cdForcaVenda">
			            
			            <div class="form-group space-right-140 width-form3 space-top-20">
                        	<img src="/img/email.png" id="imgLabNome"><label type="text" class="label-dados word-wrap-normal" id="nomeCorretor" th:text="*{nome}" >email</label>
							<!--
			                <label class="label-nome">Nome</label>
			                <input readonly type="text" id="nome" class="nome form-control" th:field="*{nome}" name="nome">
							-->
			            </div>
			
			            <div class="form-group space-right-140 width-form3 space-top-20">
                        	<img src="/img/email.png" id="imgLabEmail"><label type="text" class="label-dados word-wrap-normal" id="emailCorretor" th:text="*{email}" >email</label>
							<!--
			                <label class="label-email">E-mail</label>
			                <input readonly type="text" id="emailMeusDados" class="email form-control" th:field="*{email}" name="email">
							-->
			            </div>

			            <div class="form-group space-right-140 width-form3 space-top-20">
                        	<img src="/img/celular.png" id="imgLabCel"><label type="text" class="label-dados word-wrap-normal" id="celularCorretor" th:text="*{celular}" >celular</label>
							<!--
			                <label class="label-celular">Celular</label>
			                <input readonly type="text" id="celular" class="celular form-control" th:field="*{celular}" name="celular">
							-->
			            </div>
			        </div>

			        <!-- <div class=" col-xs-12 space-top-30"> -->
			            <!-- <a type="button" class="btn btnBlue btn-width-custom space-top-10 uppercase">EDITAR MEUS DADOS</a> -->
			            <!--<button type="submit" class="btn btnBlue btn-width-custom space-top-10 uppercase">SALVAR MEUS DADOS</button>-->
			        <!-- </div> -->			       
                     
                     <button type="submit" class="btn btnBlue btn-width-custom space-top-10 uppercase" onclick="move()">EDITAR MEUS DADOS</button>
					 <br>
					 <br>
					 <div id="myProgress" class="btn-width-custom">
					  <div id="myBar"></div>
					</div>
		
			    </div>

			</form>
		
		    <div th:replace="fragments/footer :: footer">&nbsp;</div>
		</div>

	</body>
</html>