<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br"
      xmlns="http://www.w3.org/1999/xhtml">

<head><title>OdontoPrev</title>
    <meta charset="UTF-8">
    <link rel="shortcut icon" th:href="@{/img/odpv.PNG}" type="image/png"/>

    <meta http-equiv="Content-Language" content="pt-br">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/odontoprev.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/sweetalert.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
</head>

<body style="min-width: 100% !important;">

<div class="container-fluid nopadding">

    <div th:replace="fragments/menu-corretor :: menu-corretor">&nbsp;</div>
    <div th:replace="fragments/header-corretor :: header-corretor">&nbsp;</div>

    <form class="space-top-40" th:object="${forcaVenda}" th:action="@{/forcavenda/meus-dados-editar}" method="POST">
        <div class="container-logado padding-logado">
            <div class="col-xs-12">
                <div>
                    <label class="titleOdont text-center">MEUS DADOS</label>
                </div>
                <input type="hidden" id="cdForcaVenda" class="nome form-control" th:field="*{cdForcaVenda}"
                       name="cdForcaVenda">

                <div class="form-group space-top-20">
                    <img src="/img/icon-user.png" class="img-responsive" style="display:inline;margin-right:10px;;" id="imgLabNome"><label type="text"
                                                                         class="label-dados "
                                                                         id="nomeCorretor"
                                                                         th:text="*{nome}">nome</label>
                </div>

                <div class="form-group space-top-20">
                    <img src="/img/email.png" class="img-responsive" style="display:inline;margin-right:10px;" id="imgLabEmail"><label type="text" class="label-dados "
                                                                      id="emailCorretor"
                                                                      th:text="*{email}">email</label>
                </div>

                <div class="form-group space-top-20">
                    <img src="/img/celular.png" class="img-responsive" style="display:inline;margin-right:10px; margin-left: 0%" id="imgLabCel"><label type="text" class="label-dados "
                                                                      id="celularCorretor"
                                                                      th:text="*{celular}">celular</label>
                </div>
            </div>

            <button type="submit" class="btn btn-lg btn-block btnOdont" onclick="move()">EDITAR
                MEUS DADOS
            </button>
        </div>
    </form>

    <div th:replace="fragments/footer :: footer">&nbsp;</div>
</div>


<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/scripts.js"></script>
<script src="/js/odontoprev.js"></script>
<script src="/js/jquery.3.2.1.js"></script>
<script src="/js/jquery.mask.min.js"></script>
<script src="/js/odonto-Valida.js"></script>
<script src="/js/menu.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/sweetalert.min.js"></script>
</body>
</html>