
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../../img/odpv.PNG" type="image/png">

    <title>Bem vindo | OdontoPrev</title>
  

  </head>
  <body style="min-width: 100% !important;">    
      <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="../../js/bootstrap.min.js"></script>
      <script type="text/javascript" src="../../js/jquery.mask.min.js"></script>
      <script type="text/javascript" src="../../js/odonto-Valida.js"></script> 
      <link href="../../css/bootstrap.min.css" rel="stylesheet">
      <link href="../../css/main.css" rel="stylesheet">
      <script type="text/javascript" src="../../js/menu.js"></script>





    <div class="container-logad">

        <div class="space-top-60">
            <div class="">
              <div class="confirmacao-proposta">
                <div class="titulo">
                  <h2 class="uppercase title-donto nomargin font-blue space-top-30 text-center">bem vindo</h2>
                </div>
  
                  <div class="space-top-30">
                      <p class="text-center subtitle-odonto nomargin r-light">Seu cadastro foi concluido com sucesso!</p>
                      
                      <p class="text-center font-gray space-top-60 r-light">Seu cadastro foi efetuado e seu usuário está associado a corretora</p>
                  </div>
  
                   <div class="text-center space-top-60">
                        <span class="numero-proposta">XPTO</span> 
                   </div>
  
                  <div class="space-top-60  text-center">
                      <a type="button" class="btn btnBlue btn-width-custom space-top-10 uppercase">COMEÇAR A USAR</a>  
                  </div>
                  
                      <div class="space-top-20 text-center ">                        
                        <a href="#" type="button" class="link-odonto uppercase">Não trabalho com essa corretora</a>
                      </div>
                   </div>
  
                  </div>
            </div> 


<div class="footer-odonto row padding-pattern-footer">
              <div class="col-xs-12">
                <span class="footerLogo"><img src="../../img/logo-mobile.png"></span>
                  
                </div>
          </div>          
 


          </div>
        
  

      
</body>
</html>