<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Redefinir Senha | OdontoPrev</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../img/odpv.PNG" type="image/png">
    
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">   
    <link href="../css/style.css" rel="stylesheet">
	<link href="../css/odontoprev.css" rel="stylesheet">
    
    <script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/jquery.mask.min.js"></script>
    <script type="text/javascript" src="../js/odonto-Valida.js"></script>
</head>
<body>
<div class="container-fluid nomargin container-odonto" style="padding-left: 0px; height:105%;">
    <div>
        <div class="confirmacao-proposta">
        
        	<div class="row header-odonto">
		        <div class="col-xs-12 padding-header">
		           <h2 class="uppercase title-donto nomargin font-blue space-top-30 text-center">REDEFINA SUA SENHA</h2>
		        </div>
	   		</div>
            
            <div class="space-top-30">
                <p class="text-center subtitle-odonto nomargin r-light">Sua nova senha precisa ter no minimo 8 dígitos </p>
                 
                 
                 <div class="col-xs-offset-4 col-xs-3 space-top-30">
                    <div>
                        <label class=" labelOdontBlur">Nova senha</label>
                    </div>
                    <div>
                        <input type="text" class="nome inputLabelBlur" id="senha">
                    </div>
                    
                    <div>
                        <label class=" labelOdontBlur">Confirmar senha</label>
                    </div>
                    <div>
                        <input type="text" class="nome inputLabelBlur" id="confirmarSenha">
                    </div>                              
                 
                 </div>
                 
                  
                <div class="col-xs-offset-4 col-xs-3 space-top-30  text-center">
                	<a href="" type="button" class="btn btnBlue btn-width-custom space-top-10 uppercase"> CONTINUAR </a>
            	</div>          
            </div>
            
            

        </div>
    </div>
    <div class="footer-odonto">
        <span><img class="img-logo-odonto" src="../img/logo-mobile.png"></span>
    </div>
</div>
</body>
</html>