<!DOCTYPE html>
<html lang="pt-br">

<head><title>OdontoPrev</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../../img/odpv.PNG" type="image/png">


</head>

<body>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../js/jquery.mask.min.js"></script>
    <script type="text/javascript" src="../../js/odonto-Valida.js"></script>
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <link href="../../css/main.css" rel="stylesheet">
    <script type="text/javascript" src="../../js/menu.js"></script>


    <div class="container-fluid  container-odonto" style="padding-left: 0px">
        <div class="row header-odonto">


            <div class="col-xs-12 padding-header">

                <h2 class="text-center lbl-termosCondicoes title-odonto space-top-20">SOMOS TRANSPARENTES:</h2>
                <h2 class="text-center lbl-termosCondicoes title-odonto space-top-8">AQUI NÃO TEM LETRAS MIÚDAS.</h2>
                <h2 class="text-center lbl-termosCondicoes title-odonto space-top-8">LEIA E ACEITE OS TERMOS DO SEU CONTRATO ABAIXO:</h2>

            </div>
        </div>



        <div class="container"  style="padding-bottom: 200px">
            <div class="col-xs-2"></div>
            <div class="col-xs-12 space-top-40">

                <div class="texto-termosCondicoes pull-center">
                    <p class="text-odonto"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Sed velit dignissim sodales ut eu sem. Vitae et leo duis ut diam quam nulla
                        porttitor massa. Et netus et malesuada fames ac turpis egestas maecenas. Quisque non tellus orci
                        ac auctor augue. Diam phasellus vestibulum lorem sed risus. Turpis cursus in hac habitasse platea
                        dictumst quisque sagittis. Vel quam elementum pulvinar etiam non quam lacus suspendisse faucibus.
                        Tempor id eu nisl nunc mi ipsum. Blandit massa enim nec dui. Volutpat lacus laoreet non curabitur
                        gravida arcu. Eu sem integer vitae justo eget magna fermentum. Nec feugiat in fermentum posuere.
                        Mauris augue neque gravida in fermentum et. Eget gravida cum sociis natoque penatibus et. Leo vel
                        fringilla est ullamcorper eget. Eu facilisis sed odio morbi quis commodo odio aenean. Malesuada fames
                        ac turpis egestas maecenas pharetra. Volutpat lacus laoreet non curabitur. Quis viverra nibh cras
                        pulvinar mattis nunc sed blandit. Nulla aliquet porttitor lacus luctus. In aliquam sem fringilla
                        ut morbi tincidunt. Tortor vitae purus faucibus ornare suspendisse sed nisi lacus. Pulvinar etiam
                        non quam lacus suspendisse faucibus interdum. Massa massa ultricies mi quis hendrerit dolor magna
                        eget. Massa sed elementum tempus egestas sed sed risus pretium. Morbi enim nunc faucibus a pellentesque
                        sit amet porttitor. Turpis in eu mi bibendum neque egestas. At tellus at urna condimentum mattis
                        pellentesque. Imperdiet proin fermentum leo vel orci. Nibh tortor id aliquet lectus proin nibh nisl
                        condimentum. Ante in nibh mauris cursus mattis molestie a iaculis. Aenean et tortor at risus viverra
                        adipiscing at in tellus. Mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus.
                        Tortor at auctor urna nunc. Leo vel fringilla est ullamcorper eget. Eu facilisis sed odio morbi quis
                        commodo odio aenean. Malesuada fames ac turpis egestas maecenas pharetra. Volutpat lacus laoreet
                        non curabitur. Quis viverra nibh cras pulvinar mattis nunc sed blandit. Nulla aliquet porttitor lacus
                        luctus. In aliquam sem fringilla ut morbi tincidunt. Tortor vitae purus faucibus ornare suspendisse
                        sed nisi lacus. Pulvinar etiam non quam lacus suspendisse faucibus interdum. Massa massa ultricies
                        mi quis hendrerit dolor magna eget. Massa sed elementum tempus egestas sed sed risus pretium. Morbi
                        enim nunc faucibus a pellentesque sit amet porttitor. Turpis in eu mi bibendum neque egestas. At
                        tellus at urna condimentum mattis pellentesque. Imperdiet proin fermentum leo vel orci. Nibh tortor
                        id aliquet lectus proin nibh nisl condimentum. Ante in nibh mauris cursus mattis molestie a iaculis.
                        Aenean et tortor at risus viverra adipiscing at in tellus. Mauris pellentesque pulvinar pellentesque
                        habitant morbi tristique senectus. Tortor at auctor urna nunc. Malesuada pellentesque elit eget gravida
                        cum sociis. Nam aliquam sem et tortor consequat id porta. In hac habitasse platea dictumst. Pulvinar
                        sapien et ligula ullamcorper malesuada. Tincidunt dui ut ornare lectus sit amet est placerat in.
                        Viverra tellus in hac habitasse. Ullamcorper dignissim cras tincidunt lobortis. Morbi tristique senectus
                        et netus et malesuada. Ac turpis egestas integer eget aliquet. Volutpat ac tincidunt vitae semper.</p>
                </div>

                <div class="row space-top-30">

                    <div class="pull-center" style="width: 68%;">
                        <div class="squared ">
                            <input type="checkbox" value="None" id="squaredOne" name="check" class="checkbox inputLabelCheckFocus" checked>
                            <label for="squaredOne" class=" font-blue Label-checkbox labelCheckOdontFocus checkbox-inline">
                                <span class="spanCheckbox">
                                    <strong>Aceito os termos e condições expostos no contrato para venda PME e PF.</strong>
                                </span>
                            </label>
                        </div>

                      
                            <div class="squared ">
                                <input type="checkbox" value="None" id="squaredTwo" name="check" class="checkbox inputLabelCheckFocus" checked>
                                <label for="squaredTwo" class=" font-blue Label-checkbox labelCheckOdontFocus checkbox-inline">
                                    <span class="spanCheckbox">
                                        <strong> Sou o representante legal da empresa.</strong>
                                    </span>
                                </label>
                            </div>
                       </div>     
                </div>

                <div class="row">
                  <div class="col-xs-12">
                        <div class="space-top-10  text-center ">
                            <a type="button" class="btn btn-link btn-naotenhocorretora b-medium" style="text-decoration: underline;">ver contrato</a>
                        </div>

                        <div class="space-top-30  text-center">
                            <a href="bemVindo.html" type="button" class="btn btnBlue btn-width-custom space-top-10 uppercase">AVANÇAR</a>
                        </div>

                     </div>
                 </div>

            </div>

        </div>

        <div class="footer-odonto padding-pattern-footer">
            <span class="footerLogo">
                <img src="../../img/logo-mobile.png">
            </span>
        </div>


    </div>

</body>

</html>