<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br"
      xmlns="http://www.w3.org/1999/xhtml">

	<head>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
	    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-theme.min.css}"/>
	    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
	    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
	
	    <!-- 		<link href="css/estiloOdontoPrev.css" rel="stylesheet"> -->
	    <script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>
	    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
	    <script type="text/javascript" th:src="@{/js/jquery.mask.min.js}"></script>
	    <script type="text/javascript" th:src="@{/js/odonto-Valida.js}"></script>
	
	    <script type="text/javascript" th:src="@{/js/menu.js}"></script>
	    <!--<script type="text/javascript"-->
	            <!--th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js}"></script>-->
	</head>

	<body style="min-width: 100% !important;">
		<script>
		    $(function () {
		        $(".button-collapse").sideNav();
		    });
		
		</script>

		<script type="text/javascript">
		    $(document).ready(function () {
		        $('.table-odonto tr:odd').css('background-color', '#EDEDED');
		
		        $('.table-odonto tr:even').css('background-color', '#fff');
		    });
		</script>

		<script type="text/javascript">
		    $(document).ready(function () {
		
		        $('.barras').each(function () {
		            var dataWidth = $(this).data('value');
		            $(this).css("width", dataWidth + "%");
		            $(this).css("max-width", "100%");
		            if (dataWidth <= 25) {
		                $(this).css("border-color", "transparent");
		            }
		            else if (dataWidth > 25 && dataWidth <= 50) {
		                $(this).css("border-color", "transparent");
		            }
		            else if (dataWidth > 50 && dataWidth <= 75) {
		                $(this).css("border-color", "transparent");
		            }
		            else if (dataWidth > 75 && dataWidth <= 100) {
		                $(this).css("border-color", "transparent");
		            }
		        });
		    });
		</script>

		<div class="container-fluid nopadding">
		
		    <div th:replace="fragments/menu-corretor :: menu-corretor">&nbsp;</div>
		    <div th:replace="fragments/header-corretor :: header-corretor">&nbsp;</div>
		
			<form class="space-top-40" th:object="${forcaVenda}" th:action="@{/forcavenda/cadastro/salvar}" method="POST">
			    <div class="container-logado padding-logado">
			        <div class="col-xs-12">
			            <div class="form-group inline space-right-140 width-form3 space-top-20">
			                <label class="label-celular">Celular</label>
			                <input type="text" id="celular" class="celular form-control" th:field="*{celular}" name="celular">
			            </div>
			
			            <div class="form-group inline  width-form3">
			                <label class="label-email">E-mail</label>
			                <input type="text" id="emailMeusDados" class="email form-control" th:field="*{email}">
			            </div>
			        </div>
		
			        <!-- div class="col-xs-12">
			        	<div class="form-group inline space-right-140 width-form3 space-top-20">
			                <label class="label-password">Alterar senha</label>
			                <input type="password" id="alterarSenhaMeusDados" class=" password form-control" th:field="*{senha}">
			                <img th:src="@{/img/senha-1@2x.png}" id="icone-alterarSenhaMeusDados" class="icone-revelar-senha" align="right">
			            </div>

			            <div class="form-group inline  width-form3">
			                <label class="label-password">Confirmar senha</label>
			                <input type="password" id="confirmarSenhaMeusDados" class=" password form-control" th:field="*{confirmaSenha}">
			                <img th:src="@{/img/senha-1@2x.png}" id="icone-confirmarSenhaMeusDados" class="icone-revelar-senha" align="right">
			            </div>
			        </div -->

			        <div class=" col-xs-12 space-top-30">
			            <!-- a type="button" class="btn btnBlue btn-width-custom space-top-10 uppercase">EDITAR MEUS DADOS</a -->
			            <button type="submit" class="btn btnBlue btn-width-custom space-top-10 uppercase">SALVAR MEUS DADOS</button>
			        </div>
			    </div>
			</form>
		
		    <div th:replace="fragments/footer :: footer">&nbsp;</div>
		</div>
	</body>
</html>