<html xmlns:th="http://www.thymeleaf.org" lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">
<head><title>OdontoPrev</title>
    <meta charset="UTF-8">
</head>
<body>
<div class="row col-md-12" th:fragment="beneficiario">

    <!-- TODO: Fragment Beneficiarios - INICIO -->
    <div class="col-xs-12 row">
        <div class="titleResumoPropBlue"><p>BENEFICIÁRIOS</p></div>
        <div th:each="beneficiario : ${beneficiarios}">
            <div class="panel-group" id="accordion">
                <div th:each="titular : ${beneficiario.titulares}">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion"
                                   th:href="'#collapse'+${titular.cdVida}">
                                    <div class="text-titular">
                                        <table width="100%">
                                            <tr>
                                                <td>
                                                        <span class="" th:text="${titular.nome}"
                                                              th:value="${titular.nome}"/>
                                                </td>
                                                <td>
                                                    Dependentes: <span class=""
                                                                       th:text="${titular.dependentes.size()}"
                                                                       th:value="${titular.dependentes.size()}"/>
                                                </td>
                                                <td>
                                                        <span class="text-dependenteSize glyphicon glyphicon-plus"
                                                              aria-hidden="true"/>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div th:id="'collapse'+${titular.cdVida}" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="text-titular">
                                    <table width="100%">
                                        <tr>
                                            <td>
                                                <div><b>Sexo: </b><span th:text="${titular.sexo}"
                                                                        th:value="${titular.sexo}"></span></div>
                                            </td>
                                            <td>
                                                <div><b>Nome da mãe: </b><span th:text="${titular.nomeMae}"
                                                                               th:value="${titular.nomeMae}"></span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div><b>Data de nascimento: </b><span
                                                        th:text="${titular.dataNascimento}"
                                                        th:value="${titular.dataNascimento}"></span></div>
                                            </td>
                                            <td>
                                                <div><b>Plano: </b><span th:text="${titular.cdPlano}"
                                                                         th:value="${titular.cdPlano}"></span></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div><b>CPF: </b><span th:text="${titular.cpf}"
                                                                       th:value="${titular.cpf}"></span></div>
                                            </td>
                                            <td>
                                                <div><b>Dependentes: </b>
                                                    <div th:each="dependente : ${titular.dependentes}">
                                                            <span th:text="${dependente.nome}"
                                                                  th:value="${dependente.nome}"/>&nbsp;
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row col-md-12">
            <div class="form-group col-md-1">
                <select class="form-control pagination" id="pageSizeSelect">
                    <option th:each="tamPag : ${tamPags}" th:text="${tamPag}" th:value="${tamPag}"
                            th:selected="${tamPag} == ${selectedPageSize}"></option>
                </select>
            </div>
            <div th:if="${totalPages != 1}" class="form-group col-md-11 pagination-centered">
                <ul class="pagination">
                    <li th:class="${numPag == 1} ? disabled">
                        <a class="pageLink"
                           th:href="@{/(cdEmpresa=${cdEmpresa}, numPag=1,tamPag=${selectedPageSize})}">&laquo;</a>
                    </li>
                    <li th:class="${numPag == 1} ? disabled">
                        <a class="pageLink"
                           th:href="@{/(cdEmpresa=${cdEmpresa}, numPag=${numPag - 1}, tamPag=${selectedPageSize})}">&larr;</a>
                    </li>
                    <li th:class="${numPag == (numPag - 1)} ? 'active pointer-disabled'"
                        th:each="numPag : ${#numbers.sequence(numPag, totalPages)}">
                        <a class="pageLink"
                           th:href="@{/(cdEmpresa=${cdEmpresa}, numPag=${numPag}, tamPag=${selectedPageSize})}"
                           th:text="${numPag}"></a>
                    </li>
                    <li th:class="${numPag == totalPages} ? disabled">
                        <a class="pageLink"
                           th:href="@{/(cdEmpresa=${cdEmpresa}, numPag=${numPag + 1}, tamPag=${selectedPageSize})}">&rarr;</a>
                    </li>
                    <li th:class="${numPag == totalPages} ? disabled">
                        <a class="pageLink"
                           th:href="@{/(cdEmpresa=${cdEmpresa}, numPag=${totalPages}, tamPag=${selectedPageSize})}">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row col-md-12">
            <table border="1">
                <thead>
                <div th:each="beneficiario: ${beneficiarios}">
                    <div>
                        <td>
                            <div>tamPag: <span th:text="${beneficiario.tamPagina}"></span></div>
                        </td>
                        <td>
                            <div>numPag: <span th:text="${beneficiario.numPagina}"></span></div>
                        </td>
                        <td>
                            <div>qtdPaginas: <span th:text="${beneficiario.qtdPaginas}"></span></div>
                        </td>
                        <td>
                            <div>qtdRegistros: <span th:text="${beneficiario.qtdRegistros}"></span></div>
                        </td>
                    </div>
                    <!--
                    <div th:each="titular: ${beneficiario.titulares}">
                        <tr>
                            <th scope="dependente" th:text="${titular.nome}"></th>
                            <th th:text="${titular.dependentes.size()}"></th>
                            <th><span class="text-dependenteSize glyphicon glyphicon-plus" aria-hidden="true"/></th>
                        </tr>
                        <div th:each="dependente: ${titular.dependentes}">
                            <tr>
                                <th th:text="${dependente.nome}"></th>
                                <th th:text="${dependente.cpf}"></th>
                            </tr>
                        </div>
                    </div>
                    -->
                </div>
                </thead>
            </table>
        </div>
    </div>
    <!-- TODO: Fragment Beneficiarios - FIM -->

</div>

</body>
</html>