<html xmlns:th="http://www.thymeleaf.org" lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">
<head><title>OdontoPrev</title>
    <meta charset="UTF-8">
</head>
<body>
<div class="row col-md-12" th:fragment="beneficiario">

    <!-- TODO: Fragment Beneficiarios - INICIO -->
    <div class="col-xs-12 row">
        <div class="titleResumoPropBlue"><p>BENEFICIÁRIOS</p></div>
        <div th:each="beneficiario : ${beneficiarios}">
            <div class="panel-group" id="accordion">
                <div th:each="titular : ${beneficiario.titulares}">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="padding: 0px !important;">
                            <div class="panel-title clickAccordeon" data-aberto='false' style="padding: 0px !important;">
                                <a data-toggle="collapse" data-parent="#accordion"
                                   th:href="'#collapse'+${titular.cdVida}">
                                    <div class="text-titular">
                                        <table width="100%">
                                            <tr>
                                                <td width="50%">
                                                        <span class="nomeDependente" th:text="${titular.nome}"
                                                              th:value="${titular.nome}"/>
                                                </td>
                                                <td width="40%" class="nomeDependente">
                                                    Dependentes: <span class="nomeDependente"
                                                                       th:text="${titular.qtdDependentes}"
                                                                       th:value="${titular.qtdDependentes}"/>
                                                </td>
                                                <td width="10%">
                                                        <span class="nomeDependente text-dependenteSize glyphicon glyphicon-plus" style="font-size: 2.5em"
                                                              aria-hidden="true"/>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div th:id="'collapse'+${titular.cdVida}" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="text-titular">
                                    <table width="100%">
                                        <tr>
                                            <td>
                                                <div><b>Sexo: </b><span th:text="${titular.sexo}"
                                                                        th:value="${titular.sexo}"></span></div>
                                            </td>
                                            <td>
                                                <div><b>Nome da mãe: </b><span th:text="${titular.nomeMae}"
                                                                               th:value="${titular.nomeMae}"></span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div><b>Data de nascimento: </b><span
                                                        th:text="${titular.dataNascimento}"
                                                        th:value="${titular.dataNascimento}"></span></div>
                                            </td>
                                            <td>
                                                <div><b>Plano: </b><span th:text="${titular.cdPlano}"
                                                                         th:value="${titular.cdPlano}"></span></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div><b>CPF: </b><span th:text="${titular.cpf}"
                                                                       th:value="${titular.cpf}"></span></div>
                                            </td>
                                            <td th:style="${titular.qtdDependentes == 0} ? 'display:none' : 'display:inline-block'">
                                                <div><b>Dependentes: </b>
                                                    <div th:if="*{titular.dependentes != null}" style="display: inline-block"
                                                         th:each="dependente : ${titular.dependentes}">
                                                        <a href="#" type="button" data-toggle="modal"
                                                           th:attrappend="data-target='#' + ${dependente.cdVida}"
                                                           th:style="${dependente.cdTitular != null} ? 'display:inline-block' : 'display:none'">
                                                            <label th:name="${dependente.cdVida}"
                                                                   th:text="${dependente.nome}"
                                                                   class="linkDepBlue"></label>
                                                        </a>,
                                                        <!-- INICIO - Modal -->
                                                        <div class="modal fade" th:attr="id=${dependente.cdVida}"
                                                             role="dialog">
                                                            <div class="modal-dialog" style="width: 350px">
                                                                <div class="imgBtnExcluir"
                                                                     id="closeModalDependentes">
                                                                    <img th:src="@{/img/btn-excluir.png}"
                                                                         class="btnExcluir" data-dismiss="modal">
                                                                </div>
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h4 class="modal-title font-blue">DADOS DO
                                                                            DEPENDENTE</h4>
                                                                    </div>
                                                                    <div class="modal-body md-form">
                                                                        <table>
                                                                            <tr>
                                                                                <td>
                                                                                    <label class="label-odont">Nome</label><br/>
                                                                                    <div class="p-odont"
                                                                                         th:text="${dependente.nome}"></div>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    <label class="label-odont">CPF</label><br/>
                                                                                    <div class="p-odont"
                                                                                         th:text="${dependente.cpf}"></div>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    <label class="label-odont">Data
                                                                                        de Nascimento</label><br/>
                                                                                    <div class="p-odont"
                                                                                         th:text="${dependente.dataNascimento}"></div>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    <label class="label-odont">Sexo</label><br/>
                                                                                    <div class="p-odont"
                                                                                         th:text="${dependente.sexo}"></div>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    <label class="label-odont">Nome
                                                                                        da Mãe</label><br/>
                                                                                    <div class="p-odont"
                                                                                         th:text="${dependente.nomeMae}"></div>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </div>
                                                                    <div class="modal-footer">&nbsp;</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- FIM -->
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row col-md-12">
            <!-- div class="form-group col-md-1">
                <select class="form-control pagination" id="pageSizeSelect">
                    <option th:each="tampag : ${tampags}" th:text="${tampag}" th:value="${tampag}"
                            th:selected="${tampag} == ${selectedPageSize}"></option>
                </select>
            </div -->
            <div th:if="${totalPages != 1}" class="form-group col-md-12 text-center">
                <ul class="pagination">
                    <li th:class="${numpag == 1} ? disabled">
                        <a class="pageLink"
                           th:href="@{/(cdEmpresa=${cdEmpresa}, numpag=1,tampag=${selectedPageSize})}">&laquo;</a>
                    </li>
                    <li th:class="${numpag == 1} ? disabled">
                        <a class="pageLink"
                           th:href="@{/(cdEmpresa=${cdEmpresa}, numpag=${numpag - 1}, tampag=${selectedPageSize})}">&larr;</a>
                    </li>
                    <li th:class="${numpag == (numpag - 1)} ? 'active pointer-disabled'"
                        th:each="numpag : ${#numbers.sequence(numpag, totalPages)}">
                        <a class="pageLink"
                           th:href="@{/(cdEmpresa=${cdEmpresa}, numpag=${numpag}, tampag=${selectedPageSize})}"
                           th:text="${numpag}"></a>
                    </li>
                    <li th:class="${numpag == totalPages} ? disabled">
                        <a class="pageLink"
                           th:href="@{/(cdEmpresa=${cdEmpresa}, numpag=${numpag + 1}, tampag=${selectedPageSize})}">&rarr;</a>
                    </li>
                    <li th:class="${numpag == totalPages} ? disabled">
                        <a class="pageLink"
                           th:href="@{/(cdEmpresa=${cdEmpresa}, numpag=${totalPages}, tampag=${selectedPageSize})}">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--
        <div class="row col-md-12">
            <table border="1">
                <thead>
                <div th:each="beneficiario: ${beneficiarios}">
                    <div>
                        <td>
                            <div>tampag: <span th:text="${beneficiario.tamPagina}"></span></div>
                        </td>
                        <td>
                            <div>numpag: <span th:text="${beneficiario.numPagina}"></span></div>
                        </td>
                        <td>
                            <div>qtdPaginas: <span th:text="${beneficiario.qtdPaginas}"></span></div>
                        </td>
                        <td>
                            <div>qtdRegistros: <span th:text="${beneficiario.qtdRegistros}"></span></div>
                        </td>
                    </div>
                </div>
                </thead>
            </table>
        </div>
        -->
    </div>
    <!-- TODO: Fragment Beneficiarios - FIM -->

</div>

</body>
</html>