<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="footer-logado" th:fragment="footer">
    <div class="pull-left box-footer">
        <p>© OdontoPrev. S/A - CNPJ: 119.199/0001-51</p>
        <p>Av. Marcos Penteado de Ulhoa Rodrigues, 939-14 andar-Edifício Jatoba Torre 2-Barueri-SP CEP-
            06460-040</p>
        <p>OdontoPrev - CRO/SP n° 19009</p>
    </div>
    <div class="pull-right footer-img"><img th:src="@{/img/ans.png}"></div>
</div>

</body>
</html>