<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<script>
    $(function () {
        $(".button-collapse").sideNav();
    });

</script>

<div th:fragment="menu-corretor">

    <nav class="nav-odonto">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo" style="color: silver; padding: 35px"><img src="../../../assets/img/logo.png"></a>
            <ul class="hide-on-med-and-down">
                <li class="nav-cel  nav-active"><a href="home-forca-vendas.html"><img
                        src="../../../assets/img/menu-home.png"><span>home</span></a></li>
                <li class="nav-cel"><a href="#"><img
                        src="../../../assets/img/menu-meus-dados.png"><span>meus dados</span></a></li>
                <li class="nav-cel"><a href="../venda/pf/escolhaPlanoPF.html"><img
                        src="../../../assets/img/menu-vender-pf.png"><span>vender pessoa física</span></a></li>
                <li class="nav-cel"><a href="../venda/pme/Escolha_um_plano.html"><img
                        src="../../../assets/img/menu-vender-pme.png"><span>vender pme</span></a></li>
                <li class="nav-cel"><a href="#"><img src="../../../assets/img/menu-listas.png"><span>informações dos planos</span></a>
                </li>
                <li class="nav-cel"><a href="lista_de_pospostas_forca_vendas.html"><img
                        src="../../../assets/img/menu-listas.png"><span>lista de propostas</span></a></li>
                <li class="nav-cel"><a href="busca-rede-credenciadas-forca-vendas.html"><img
                        src="../../../assets/img/menu-rede-credenciada.png"><span>rede credenciada</span></a></li>
                <li class="nav-cel"><a href="fale-conosco-forca-vendas.html"><img
                        src="../../../assets/img/menu-contato.png"><span>fale conosco</span></a></li>
            </ul>
        </div>
    </nav>

    <div class="nav-mobile">
        <ul class="side-nav" id="menu-mobile" style="transform: translateX(-100%);">
            <li class="" style="background-color: #fff; padding: 30px">
                <div class="perfil-mobile">
                    <div class="circle-perfil">
                        <div class="data-perfil">
                            <p class="user-name"><strong>Marcos Palmas</strong></p>
                            <p class="font-gray">Corretora XPTO</p>
                            <a href="#" class="link-odonto">Sair</a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-cel  nav-active"><a href="home-dono-forca-vendas.html"><img
                    src="../../../assets/img/menu-home.png"><span>home</span></a></li>
            <li class="nav-cel"><a href="#"><img
                    src="../../../assets/img/menu-meus-dados.png"><span>meus dados</span></a></li>
            <li class="nav-cel"><a href="../venda/pf/escolhaPlanoPF.html"><img
                    src="../../../assets/img/menu-vender-pf.png"><span>vender pessoa física</span></a></li>
            <li class="nav-cel"><a href="../venda/pme/Escolha_um_plano.html"><img
                    src="../../../assets/img/menu-vender-pme.png"><span>vender pme</span></a></li>
            <li class="nav-cel"><a href="#"><img
                    src="../../../assets/img/menu-listas.png"><span>informações dos planos</span></a></li>
            <li class="nav-cel"><a href="lista_de_pospostas_forca_vendas.html"><img
                    src="../../../assets/img/menu-listas.png"><span>lista de propostas</span></a></li>
            <li class="nav-cel"><a href="busca-rede-credenciadas-forca-vendas.html"><img
                    src="../../../assets/img/menu-rede-credenciada.png"><span>rede credenciada</span></a></li>
            <li class="nav-cel"><a href="fale-conosco-forca-vendas.html"><img
                    src="../../../assets/img/menu-contato.png"><span>fale conosco</span></a></li>
        </ul>
    </div>

</div>

</body>
</html>