<div class="row div-excluir" data-id="{CPF}" data-nome="{NOME-BENEF}">
    <div class="imgBtnEditar">
        <img src="img/btn-excluir-bene.png" class="btnExcluir" alt="" onclick="excluirBenef($(this))" data-id="{CPF-BT}">
    </div>
    <div class="col-md-12 boxDadosProposta">
        <div class="boxBeneficiario">
            <div>
                <label class="labelBold">Títular:</label>
                <label class="labelLight">{NOME}</label>
            </div>
            <div>
                <label class="labelBold">Número de dependentes:</label>
                <label class="labelLight">{DEPENDENTES}</label>
            </div>
        </div>
    </div>
</div>