<div class="row div-excluir" data-id="{CPF}" data-nome="{NOME-DEP}">
    <div class="imgBtnEditar">
        <img src="img/btn-excluir-bene.png" class="btnExcluir" alt="" onclick="excluirDep($(this))" data-id="{CPF-BT}">
    </div>
    <div class="col-md-12 boxDadosProposta" style="height:107px !important">
        <div class="boxBeneficiario">
            <div>
                <label class="labelBold">Dependente:</label>
                <label class="labelLight">{NOME}</label>
            </div>
            <div>
                <label class="labelBold">CPF:</label>
                <label class="labelLight">{CPF-DESC}</label>
            </div>
        </div>
    </div>
</div>