<script src="app/coordenador.js"></script>

<div class="row boxDependente">
    <div>
        <label class="labelBlue depends">DEPENDENTE {NUMERO}</label>
    </div>
    <div>
        <label class="label-nome-dependente labelOdontBlur">Nome do dependente</label>
    </div>
    <div>
        <input type="text" class="nome nome-dependente inputLabelBlur">
    </div>
    <div>
        <label class="label-sexo labelOdontBlur">Sexo</label>
    </div>
    <div>
        <select class="form-control plano selectListBlur sexo">
            <option value="m">Masculino</option>
            <option value="f">Feminino</option>
        </select>
    </div>
    <div>
        <label class="label-nascimento labelOdontBlur">Data de nascimento</label>
    </div>
    <div>
        <input type="text" class="nascimento data inputLabelBlur">
    </div>
    <div>
        <label class="label-cpf labelOdontBlur">CPF</label>
    </div>
    <div>
        <input type="text" class=" cpf inputLabelBlur" id="cpf">
    </div>
    <div>
        <label class="label-nome-mae labelOdontBlur">Nome da mãe</label>
    </div>
    <div>
        <input type="text" class="nome nome-mae inputLabelBlur">
    </div>
</div>



