<div class="col-md-12 boxDadosProposta">
    <div class="col-md-6 text-left">
        <label class="labelFormPag {CSS}">{NOME}</label>
        <label class="labelMes">{DESC}</label>
        <label class="labelTipo" style="    color: #ACAAA5 !important;">Titular: {TITULAR}</label>
        <label class="labelDependentes" style="    color: #ACAAA5 !important;">Dependentes: {DEPENDENTES}</label>
    </div>
    <div class="col-md-6 text-right">
        <label class="formPagVal {CSSVALOR} font-moeda">R$ {VALOR},<span class="font-cent">{CENTAVO}</span></label>
    </div>
</div>
