<div class="row div-excluir" data-id="{CDPLANO}">
    <div class="imgBtnExcluir">
        <img id="btnExcluirPlano" src="img/btn-excluir.png" class="btnExcluir btnExcluirPlano" alt="" onclick="excluirPlano($(this))" data-id="{CDPLANO-BT}">
    </div>
    <div class="col-md-12 boxDadosProposta">
        <div class="col-md-6 text-left">
            <label class="labelFormPag {CSS}">{NOME}</label>
            <label class="labelTipo">{DESC}</label>
            <label class="labelDependentes labelQuantidadeBeneficiarios">{QUANTBENEF}</label>
        </div>
        <div class="col-md-6 text-right">
            <label class="formPagVal {CSSVALOR} font-moeda">R$ {VALOR},<span class="font-cent">{CENTAVO}</span></label>
        </div>
    </div>
</div>