.campo-vazio{
    width: 100%;
    padding-top: 28px;
    padding-bottom: 20px;
    margin-bottom: 0px;
}

.margin-bottom-0{
    margin-bottom: 0px;
}

@media screen and (max-width: 1250px) {
    .campo-vazio{
        width: 100%;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        height: 0px;
    }
}

img.img-erro-email {
    position: absolute;
    max-width: 100%;
    margin-top: 10px;
}

#inputEmail{
    padding-right: 60px;
}

img.img-align-right {
    position: absolute;
    max-width: 100%;
    margin-top: 10px;
}

.input-email-blue{
    color: #1974CE;
    border-bottom: 2px solid #1974CE;
}

.input-email-red{
    color: #FF4141;
    border-bottom: 2px solid #FF4141;
}

.input-email-gray{
    color: #6A6A6A;
    border-bottom: 2px solid #6A6A6A;
}