.subtitulo-nome-corretora {
    font-family: Roboto-Bold;
    color: #6A6A6A;
    font-size: 16pt;
}

.label-dados {
    font-family: Roboto-Bold;
    color: #6A6A6A;
    font-size: 16pt;
    padding-left: 15px;
}