.subtitulo-nome-corretora {
    font-family: Roboto-Light;
    color: #ACAAA5;
    font-size: 14pt;
}

.label-dados {
    font-family: Roboto-Light;
    color: #ACAAA5;
    font-size: 14pt;
}