<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Language" content="pt-br">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">

    <title>Odontoprev</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/odontoprev.css" rel="stylesheet">
    <link href="css/sweetalert.css" rel="stylesheet" />

</head>
<body>

    <!-- Cadastro Usuário CPF cadastrado -->
    <!-- Bloco 1 -->
    <div class="container-fluid" id="cpfOdont">
        <div class="row">
            <div class="col-md-12 boxHeader">
                <div class="col-md-12 text-center imgLogoODPVHeader">
                    <img src="img/logoODPV-header.png" class="" alt="Logo ODPV Header">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 odontBoxCenter">
                <h1 class="titleOdont text-center">
                    VAMOS COMEÇAR!
                </h1>
                <h2 class="subTitleOdont text-center">
                    Para acessar, insira os dados abaixo
                </h2>

                <div class="boxLabInput">
                    <div>
                        <label class="label-cpf labelOdontBlur">CPF</label>
                    </div>
                    <div>
                        <input type="tel" id="cpf" class="cpf inputLabelBlur">
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <a class="btn btn-lg btn-block btnOdont disabled" id="btnCpfOdont" role="button">CONTINUAR</a>
            </div>
        </div>
    </div>
    <!-- End Bloco 1 -->
    <!-- Bloco 2 -->
    <div class="container-fluid hide" id="celOdont">
        <div class="row">
            <div class="col-md-12 boxHeader">
                <div class="col-md-12 text-center imgLogoODPVHeader">
                    <img src="img/logoODPV-header.png" class="" alt="Logo ODPV Header">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 odontBoxCenter">
                <h1 class="titleOdont text-center">
                    CONFIRA SEUS DADOS
                </h1>
                <h2 class="subTitleOdont text-center">
                    Corrija se necessário
                </h2>
                <div class="boxLabInput">
                    <div>
                        <label class="label-nome labelOdontFocus">Confirme seu nome</label>
                    </div>
                    <div>
                        <input type="text" class="nome inputLabelFocus" id="nomePreCadastrado">
                    </div>
                    <div>
                        <label class="label-celular labelOdontFocus">Confira o número do seu celular</label>
                    </div>
                    <div>
                        <input type="text" class="celular inputLabelFocus" id="celularPreCadastrado">
                    </div>
                    <div>
                        <label class="label-email labelOdontFocus"> Confira seu e-mail</label>
                    </div>
                    <div>
                        <input type="text" class="email inputLabelFocus" id="emailPreCadastrado">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 btnPadBtm">
                <a href="" class="btn btn-lg btn-block btnOdont" id="btnCelOdont" role="button">CONTINUAR</a>
            </div>
        </div>
    </div>
    <!-- End Bloco 2 -->
    <!-- Bloco 3 -->
    <div class="container-fluid hide" id="keyOdont">
        <div class="row">
            <div class="col-md-12 boxHeader">
                <div class="col-md-12 text-center imgLogoODPVHeader">
                    <img src="img/logoODPV-header.png" class="" alt="Logo ODPV Header">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 odontBoxCenter">
                <h1 class="titleOdont text-center">
                    CRIE UMA SENHA
                </h1>
                <h2 class="subTitleOdont text-center">
                    Crie uma senha para acessar suas vendas
                </h2>

                <div class="boxLabInput">
                    <div>
                        <label class="label-password labelOdontBlur" id="senha">Criar senha</label>
                    </div>
                    <div>
                        <input type="password" class="password inputLabelBlur" maxlength="12" id="senhaCpfTrue">
                    </div>
                    <div>
                        <label class="label-password-confirm labelOdontBlur" id="">Confirmar senha</label>
                    </div>
                    <div>
                        <input type="password" class="password-confirm inputLabelBlur" maxlength="12" id="confirmar-senhaCpfTrue">
                        <label class="label-password-confirm-8 labelInfoOdontFocus" id="">Sua senha deve ter no mínimo 8 dígitos.</label>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <a class="btn btn-lg btn-block btnOdont disabled" href="#" id="btnkeyOdont" role="button">FINALIZAR</a>
            </div>
        </div>
    </div>
    <!-- End Bloco 3 -->
    <!-- Bloco 4 -->
    <div class="container-fluid hide" id="termoOdont">
        <div class="row">
            <div class="col-md-12 boxHeader">
                <div class="col-md-12 text-center imgLogoODPVHeader">
                    <img src="img/logoODPV-header.png" class="" alt="Logo ODPV Header">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 odontBoxCenter">
                <h1 class="titleOdont text-center">
                    TERMOS DE USO
                </h1>
                <h2 class="subTitleOdont text-center">
                    Você precisa aceitar os termos de uso.
                </h2>


                <div class="textTermoCondicao">
                    <p>
                        Termos de uso do APLICATIVO e PORTAL DO CORRETOR ODONTOPREV
                        Pelo presente instrumento particular, de um lado a ODONTOPREV S.A., com sede no município de Barueri, Estado de São Paulo, na Avenida Marcos Penteado de Ulhôa Rodrigues, nº 939 – Torre Jatobá, 14º andar, Barueri, São Paulo CEP 06460-040 inscrita no CNPJ/MF sob o nº 58.11.199/0001-51, neste ato representada na forma de seus atos constitutivos, doravante denominada simplesmente ODONTOPREV, e de outro lado o corretor ou intermediador de venda daqui em diante denominado “USUÁRIO” que decida utilizar o APLICATIVO e/ou PORTAL DO CORRETOR da ODONTOPREV, têm entre si como justo e contratado o presente contrato de “TERMOS DE USO”, o qual será regido pelos seguintes termos e condições de licenciamento e uso das ferramentas supracitadas:

                        1.	Por meio destes TERMOS DE USO, a ODONTOPREV licencia não onerosamente o uso do APLICATIVO e do PORTAL DO CORRETOR ao USUÁRIO, em caráter não-exclusivo. Os TERMOS DE USO constituem o acordo integral e plenamente vinculante entre a ODONTOPREV e o USUÁRIO. A aceitação dos TERMOS DE USO é obrigatória para a utilização dos serviços e funcionalidades do aplicativo de propriedade da ODONTOPREV e a mera utilização do APLICATIVO e PORTAL DO CORRETOR implica a imediata e expressa concordância com todas as suas cláusulas. Caso o USUÁRIO discorde de qualquer termo ou condição previsto nos TERMOS DE USO deverá cessar imediatamente a utilização de qualquer funcionalidade da plataforma tecnológica oferecida pela ODONTOPREV.

                        1.1.	A ODONTOPREV se resguarda ao direito de realizar alterações e atualizações nos TERMOS DE USO, a qualquer momento, sem a necessidade de aviso prévio. Não obstante, a ODONTOPREV se compromete a dar publicidade aos novos conteúdos, que entrarão em vigor na data de sua publicação, pelos meios adequados. A simples utilização do Aplicativo ou Portal do Corretor após a alteração ou atualização dos Termos servirá como aceite por parte do USUÁRIO.

                        1.2.	Estes TERMOS DE USO vigorarão por prazo indeterminado, enquanto o USUÁRIO continuar a utilizar o APLICATIVO ou PORTAL, podendo ser atualizados pela ODONTOPREV para refletir as novas características e regras do serviço prestado ao USUÁRIO e de seus produtos, bem como as evoluções na política de privacidade e segurança de dados.

                        1.3.	O USUÁRIO que desejar rescindir estes TERMOS DE USO poderá fazê-lo a qualquer tempo e deverá comunicar a ODONTOPREV, interrompendo obrigatória e imediatamente a utilização do APLICATIVO e PORTAL.

                        2.	A ODONTOPREV concede ao USUÁRIO uma licença limitada, pessoal, não exclusiva, não transferível, não comercial e plenamente revogável, para utilizar o APLICATIVO e/ou PORTAL em seu smartphone, tablet ou computador em conformidade com as condições previstas nestes TERMOS DE USO, possibilitando ao USUÁRIO intermediar vendas de PRODUTOS ODONTOPREV disponibilizados neste canal.

                        2.1. Definem-se, para fins deste termo, como PRODUTOS ODONTOPREV todos os produtos, serviços e operações que a ODONTOPREV oferece ao mercado como planos e convênios de assistência odontológica, e outros que venha a desenvolver nesse campo.

                        3.	A ODONTOPREV deverá:

                        3.1.	Conceder ao usuário informações sobre os PRODUTOS ODONTOPREV;

                        3.2.	Manter o bom funcionamento do aplicativo e do Portal na melhor medida possível e disponibilizar canais de atendimento para ajudar a solucionar dúvidas e problemas dos USUÁRIOS do APLICATIVO e PORTAL DO CORRETOR. A ODONTOPREV não se responsabiliza por problemas ocasionados pelo USUÁRIO ou por terceiros;

                        3.3.	Proteger os dados do USUÁRIO de acordo a legislação brasileira e os direitos à privacidade, à proteção dos dados pessoais e ao sigilo das comunicações privadas e dos registros. O USUÁRIO aceita que esses dados poderão ser acessados por funcionários da ODONTOPREV para controles internos, divulgados às autoridades quando exigido em lei e compartilhados, sempre de forma agregada e anônima, com parceiros comerciais da ODONTOPREV;

                        3.4.	Se responsabilizar pela operação dos planos odontológicos e pós-venda dos contratos fechados por meio do APLICATIVO e do PORTAL DO CORRETOR, responsabilizando-se inclusive pelo atendimento dos beneficiários conforme regulamentação vigente;

                        3.5.	A ODONTOPREV não será responsável por quaisquer danos, prejuízos ou pela perda de equipamentos do USUÁRIO, ocasionados por condutas de terceiros, caso fortuito ou força maior.

                        3.6.	A ODONTOPREV não se responsabiliza:

                        a) por eventuais indisponibilidades, erros ou falhas do Aplicativo, bem como por qualquer defraudação da utilidade que o USUÁRIO possa ter atribuído ao Aplicativo, pela falibilidade do mesmo, nem por qualquer dificuldade de acesso;

                        b) por erros ou inconsistências na transmissão de dados ou pela qualidade ou disponibilidade do sinal de Internet;

                        c) pela existência de vírus ou outros elementos nocivos no Aplicativo que possam causar alterações nos seus sistemas informáticos (software e hardware) ou nos documentos eletrônicos armazenados no sistema informático, eximindo-se de qualquer responsabilidade pelos danos e prejuízos que possam decorrer de quaisquer elementos nocivos;

                        d) pelos danos e prejuízos de toda natureza que possam decorrer do conhecimento que terceiros não autorizados possam ter de quaisquer das informações fornecidas pelo Aplicativo, em decorrência de falha exclusivamente atribuível ao USUÁRIO ou a terceiros que fujam a qualquer controle razoável;

                        e) pelos danos decorrentes de informações inverídicas ou ofensivas inseridas pelos próprios usuários na plataforma, ocasião em que o próprio usuário será o único responsável pelas suas interações, conforme legislação setorial vigente.


                        4.	O USUÁRIO deverá:

                        4.1.	Realizar e manter atualizado seu cadastro junto à ODONTOPREV;


                        4.2.	Reconhece que é o único responsável por todas as informações fornecidas quando de seu acesso ao Aplicativo / Portal, responsabilizando-se, com exclusividade e inclusive perante terceiros, por quaisquer danos ou prejuízos decorrentes de informações incorretas, incompletas ou inverídicas inseridas. O Corretor ou Intermediador de Vendas responderá, ainda, por qualquer conteúdo ilícito ou de qualquer modo contrário à moral e aos bons costumes ou que viole direitos de terceiros, bem como que incorpore vírus ou outros elementos nocivos no Aplicativo ou que prejudique o sistema.


                        4.2.1. A ODONTOPREV poderá suspender preventivamente o acesso do USUÁRIO ao APLICATIVO caso tome conhecimento de informações imprecisas ou inverídicas em seu cadastro, devendo restabelecê-lo tão logo o USUÁRIO corrija ou confirme tais informações.

                        4.2.2. Caso o USUÁRIO não corrija ou confirme referidas informações, a ODONTOPREV poderá suspender ou resilir o contrato de licenciamento de uso de software, impedindo o acesso do USUÁRIO ao APLICATIVO ou PORTAL, não sendo devido qualquer tipo de indenização caso ocorra.

                        4.3.	Declara ter ciência de que a inclusão de qualquer informação ou imagem inverídica, falsa ou adulterada o sujeitará a todas as sanções aplicáveis constantes da legislação brasileira, inclusive em âmbito criminal.

                        4.4.	Possuir acesso a um smartphone ou tablet com acesso à internet e/ou pacote de dados ativo e Sistema Operacional  para uso do APLICATIVO, ou possuir acesso a smartphone ou tablet ou computador com acesso à internet e navegador instalado para uso do PORTAL;

                        4.5.	Prospectar clientes para a venda dos PRODUTOS ODONTOPREV;

                        4.6.	Responder por quaisquer condutas indevidas ou ilegais que pratique. O descumprimento dos TERMOS DE USO ou da legislação aplicável pelo USUÁRIO poderá resultar em impedimento do seu acesso ao APLICATICO e/ ou ao PORTAL DO CORRETOR, seja em caráter temporário de suspensão ou em resilição do contrato. A ODONTOPREV não se responsabiliza por quaisquer condutas fraudulentas por parte de USUÁRIO. A ODONTOPREV poderá, ainda, agir judicial ou extrajudicialmente contra USUÁRIO envolvido em fraude.

                        4.6.1.	Responder por qualquer ação ou omissão, por parte do USUÁRIO, na utilização do APLICATIVO ou na comunicação com os CLIENTES, que cause danos ou prejuízo direto ou indireto à ODONTOPREV ou a terceiros. A ODONTOPREV será ressarcida direta ou indiretamente, de forma regressiva, pelo USUÁRIO que der causa a dano ou prejuízo à ODONTOPREV ou a terceiros.

                        4.6.2.	O USUÁRIO cujo contrato for suspenso ou resilido e cujo acesso ao APLICATIVO ou PORTAL for impedido pela ODONTOPREV não poderá, salvo expressa liberalidade da ODONTOPREV, realizar novo cadastro.

                        5.	Não se estabelece entre o USUÁRIO e a ODONTOPREV qualquer vínculo de natureza societária, empregatícia e/ou econômica, sendo certo que o USUÁRIO é livre para utilizar o APLICATIVO, bem como para cessar a sua utilização a qualquer momento, ao seu livre e exclusivo critério.

                        6.	Observados o disposto nas Leis nº 9.279/96, 9.609/98 e 9.610/98, e sem prejuízo das demais normas relativas à proteção da propriedade intelectual, o USUÁRIO reconhece que o APLICATIVO e o PORTAL, bem como todo o conteúdo disponível nas plataformas tecnológicas ou softwares da ODONTOPREV, incluindo as marcas, logotipos, textos, gráficos, fotografias, vídeos, conteúdo de áudio, telas, programas de computador, bancos de dados e arquivos de transmissão são de propriedade exclusiva da ODONTOPREV ou dos pertinentes terceiros licenciantes, conforme o caso. É proibida, sob as penas da lei e com engajamento da responsabilidade civil contratual e extracontratual do USUÁRIO infrator, a sua cópia, reprodução, distribuição, transmissão, publicação, conexão ou qualquer outro tipo de modificação sem a prévia e expressa autorização da ODONTOPREV.

                        7.	O USUÁRIO reconhece que o download de qualquer conteúdo do APLICATIVO e/ou PORTAL não lhe confere a propriedade sobre o respectivo conteúdo. Quaisquer marcas exibidas no APLICATIVO e PORTAL não devem ser consideradas como de domínio público e são de propriedade exclusiva da ODONTOPREV.

                        8.	O USUÁRIO aceita que a ODONTOPREV utiliza tecnologias comuns de internet para acompanhar as interações do USUÁRIO com o APLICATIVO e PORTAL, inclusive com coleta e armazenamento de endereço de IP, página solicitada, tempo de duração do acesso, tipo de aparelho ou terminal, navegador, operadora de telefonia celular, provedor de acesso à internet, localização física do USUÁRIO.

                        A eventual tolerância das partes quanto ao cumprimento imperfeito, ao cumprimento impontual ou ao descumprimento, de obrigações decorrentes destes TERMOS DE USO por qualquer uma das partes constitui ato de mera liberalidade, não criando para a outra parte quaisquer direitos e não constituindo renúncia ou novação de qualquer espécie.

                        9.	Todos os textos, imagens, fotografias, ícones, tecnologias, links e demais conteúdos audiovisuais ou sonoros, incluindo o software, desenhos gráficos e códigos fonte, são de propriedade exclusiva da ODONTOPREV (ou de terceiros que a ela autorizaram o uso), e estão protegidos pelas leis e tratados internacionais, sendo vedada sua cópia, reprodução, ou qualquer outro tipo de utilização, ficando os infratores sujeitos às sanções civis e criminais correspondentes nos termos da legislação.

                        10.	Todas as marcas, os nomes comerciais ou logotipos de qualquer espécie disponibilizados no Aplicativo são de propriedade da ODONTOPREV, sem que a utilização do Aplicativo possa ser entendida como autorização para que tais marcas, nomes comerciais e logotipos possam ser citados.

                        11.	Caso viole os direitos de Propriedade Intelectual da ODONTOPREV ou de terceiros, o USUÁRIO será o único responsável pelos eventuais danos e penalizações suscitados, comprometendo-se a eximir a ODONTOPREV de qualquer responsabilidade perante terceiros.

                    </p>
                </div>
                <div class="squaredOne">
                    <input type="checkbox" value="None" id="squaredOne" name="check" class="checkbox inputLabelCheckFocus" />
                    <label for="squaredOne" class="Label-checkbox labelCheckOdontFocus checkbox-inline">
                        <span class="spanCheckbox">
                            Aceito os termos de uso
                        </span>
                    </label>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12 btnPadBtm">
                <a class="btn btn-lg btn-block btnOdont disabled" id="btnTermo" role="button">FINALIZAR</a>
            </div>
        </div>
    </div>
    <!-- End Bloco 4 -->

    <!-- Bloco 6 -->
    <div class="container-fluid hide" id="termoOdontNCadastrado">
        <div class="row">
            <div class="col-md-12 boxHeader">
                <div class="col-md-12 text-center imgLogoODPVHeader">
                    <img src="img/logoODPV-header.png" class="" alt="Logo ODPV Header">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 odontBoxCenter">
                <h1 class="titleOdont text-center">
                    TERMOS DE USO
                </h1>
                <h2 class="subTitleOdont text-center">
                    Você precisa aceitar os termos de uso.
                </h2>


                <div class="textTermoCondicao">
                    <p>
                        Termos de uso do APLICATIVO e PORTAL DO CORRETOR ODONTOPREV
                        Pelo presente instrumento particular, de um lado a ODONTOPREV S.A., com sede no município de Barueri, Estado de São Paulo, na Avenida Marcos Penteado de Ulhôa Rodrigues, nº 939 – Torre Jatobá, 14º andar, Barueri, São Paulo CEP 06460-040 inscrita no CNPJ/MF sob o nº 58.11.199/0001-51, neste ato representada na forma de seus atos constitutivos, doravante denominada simplesmente ODONTOPREV, e de outro lado o corretor ou intermediador de venda daqui em diante denominado “USUÁRIO” que decida utilizar o APLICATIVO e/ou PORTAL DO CORRETOR da ODONTOPREV, têm entre si como justo e contratado o presente contrato de “TERMOS DE USO”, o qual será regido pelos seguintes termos e condições de licenciamento e uso das ferramentas supracitadas:

                        1.	Por meio destes TERMOS DE USO, a ODONTOPREV licencia não onerosamente o uso do APLICATIVO e do PORTAL DO CORRETOR ao USUÁRIO, em caráter não-exclusivo. Os TERMOS DE USO constituem o acordo integral e plenamente vinculante entre a ODONTOPREV e o USUÁRIO. A aceitação dos TERMOS DE USO é obrigatória para a utilização dos serviços e funcionalidades do aplicativo de propriedade da ODONTOPREV e a mera utilização do APLICATIVO e PORTAL DO CORRETOR implica a imediata e expressa concordância com todas as suas cláusulas. Caso o USUÁRIO discorde de qualquer termo ou condição previsto nos TERMOS DE USO deverá cessar imediatamente a utilização de qualquer funcionalidade da plataforma tecnológica oferecida pela ODONTOPREV.

                        1.1.	A ODONTOPREV se resguarda ao direito de realizar alterações e atualizações nos TERMOS DE USO, a qualquer momento, sem a necessidade de aviso prévio. Não obstante, a ODONTOPREV se compromete a dar publicidade aos novos conteúdos, que entrarão em vigor na data de sua publicação, pelos meios adequados. A simples utilização do Aplicativo ou Portal do Corretor após a alteração ou atualização dos Termos servirá como aceite por parte do USUÁRIO.

                        1.2.	Estes TERMOS DE USO vigorarão por prazo indeterminado, enquanto o USUÁRIO continuar a utilizar o APLICATIVO ou PORTAL, podendo ser atualizados pela ODONTOPREV para refletir as novas características e regras do serviço prestado ao USUÁRIO e de seus produtos, bem como as evoluções na política de privacidade e segurança de dados.

                        1.3.	O USUÁRIO que desejar rescindir estes TERMOS DE USO poderá fazê-lo a qualquer tempo e deverá comunicar a ODONTOPREV, interrompendo obrigatória e imediatamente a utilização do APLICATIVO e PORTAL.

                        2.	A ODONTOPREV concede ao USUÁRIO uma licença limitada, pessoal, não exclusiva, não transferível, não comercial e plenamente revogável, para utilizar o APLICATIVO e/ou PORTAL em seu smartphone, tablet ou computador em conformidade com as condições previstas nestes TERMOS DE USO, possibilitando ao USUÁRIO intermediar vendas de PRODUTOS ODONTOPREV disponibilizados neste canal.

                        2.1. Definem-se, para fins deste termo, como PRODUTOS ODONTOPREV todos os produtos, serviços e operações que a ODONTOPREV oferece ao mercado como planos e convênios de assistência odontológica, e outros que venha a desenvolver nesse campo.

                        3.	A ODONTOPREV deverá:

                        3.1.	Conceder ao usuário informações sobre os PRODUTOS ODONTOPREV;

                        3.2.	Manter o bom funcionamento do aplicativo e do Portal na melhor medida possível e disponibilizar canais de atendimento para ajudar a solucionar dúvidas e problemas dos USUÁRIOS do APLICATIVO e PORTAL DO CORRETOR. A ODONTOPREV não se responsabiliza por problemas ocasionados pelo USUÁRIO ou por terceiros;

                        3.3.	Proteger os dados do USUÁRIO de acordo a legislação brasileira e os direitos à privacidade, à proteção dos dados pessoais e ao sigilo das comunicações privadas e dos registros. O USUÁRIO aceita que esses dados poderão ser acessados por funcionários da ODONTOPREV para controles internos, divulgados às autoridades quando exigido em lei e compartilhados, sempre de forma agregada e anônima, com parceiros comerciais da ODONTOPREV;

                        3.4.	Se responsabilizar pela operação dos planos odontológicos e pós-venda dos contratos fechados por meio do APLICATIVO e do PORTAL DO CORRETOR, responsabilizando-se inclusive pelo atendimento dos beneficiários conforme regulamentação vigente;

                        3.5.	A ODONTOPREV não será responsável por quaisquer danos, prejuízos ou pela perda de equipamentos do USUÁRIO, ocasionados por condutas de terceiros, caso fortuito ou força maior.

                        3.6.	A ODONTOPREV não se responsabiliza:

                        a) por eventuais indisponibilidades, erros ou falhas do Aplicativo, bem como por qualquer defraudação da utilidade que o USUÁRIO possa ter atribuído ao Aplicativo, pela falibilidade do mesmo, nem por qualquer dificuldade de acesso;

                        b) por erros ou inconsistências na transmissão de dados ou pela qualidade ou disponibilidade do sinal de Internet;

                        c) pela existência de vírus ou outros elementos nocivos no Aplicativo que possam causar alterações nos seus sistemas informáticos (software e hardware) ou nos documentos eletrônicos armazenados no sistema informático, eximindo-se de qualquer responsabilidade pelos danos e prejuízos que possam decorrer de quaisquer elementos nocivos;

                        d) pelos danos e prejuízos de toda natureza que possam decorrer do conhecimento que terceiros não autorizados possam ter de quaisquer das informações fornecidas pelo Aplicativo, em decorrência de falha exclusivamente atribuível ao USUÁRIO ou a terceiros que fujam a qualquer controle razoável;

                        e) pelos danos decorrentes de informações inverídicas ou ofensivas inseridas pelos próprios usuários na plataforma, ocasião em que o próprio usuário será o único responsável pelas suas interações, conforme legislação setorial vigente.


                        4.	O USUÁRIO deverá:

                        4.1.	Realizar e manter atualizado seu cadastro junto à ODONTOPREV;


                        4.2.	Reconhece que é o único responsável por todas as informações fornecidas quando de seu acesso ao Aplicativo / Portal, responsabilizando-se, com exclusividade e inclusive perante terceiros, por quaisquer danos ou prejuízos decorrentes de informações incorretas, incompletas ou inverídicas inseridas. O Corretor ou Intermediador de Vendas responderá, ainda, por qualquer conteúdo ilícito ou de qualquer modo contrário à moral e aos bons costumes ou que viole direitos de terceiros, bem como que incorpore vírus ou outros elementos nocivos no Aplicativo ou que prejudique o sistema.


                        4.2.1. A ODONTOPREV poderá suspender preventivamente o acesso do USUÁRIO ao APLICATIVO caso tome conhecimento de informações imprecisas ou inverídicas em seu cadastro, devendo restabelecê-lo tão logo o USUÁRIO corrija ou confirme tais informações.

                        4.2.2. Caso o USUÁRIO não corrija ou confirme referidas informações, a ODONTOPREV poderá suspender ou resilir o contrato de licenciamento de uso de software, impedindo o acesso do USUÁRIO ao APLICATIVO ou PORTAL, não sendo devido qualquer tipo de indenização caso ocorra.

                        4.3.	Declara ter ciência de que a inclusão de qualquer informação ou imagem inverídica, falsa ou adulterada o sujeitará a todas as sanções aplicáveis constantes da legislação brasileira, inclusive em âmbito criminal.

                        4.4.	Possuir acesso a um smartphone ou tablet com acesso à internet e/ou pacote de dados ativo e Sistema Operacional  para uso do APLICATIVO, ou possuir acesso a smartphone ou tablet ou computador com acesso à internet e navegador instalado para uso do PORTAL;

                        4.5.	Prospectar clientes para a venda dos PRODUTOS ODONTOPREV;

                        4.6.	Responder por quaisquer condutas indevidas ou ilegais que pratique. O descumprimento dos TERMOS DE USO ou da legislação aplicável pelo USUÁRIO poderá resultar em impedimento do seu acesso ao APLICATICO e/ ou ao PORTAL DO CORRETOR, seja em caráter temporário de suspensão ou em resilição do contrato. A ODONTOPREV não se responsabiliza por quaisquer condutas fraudulentas por parte de USUÁRIO. A ODONTOPREV poderá, ainda, agir judicial ou extrajudicialmente contra USUÁRIO envolvido em fraude.

                        4.6.1.	Responder por qualquer ação ou omissão, por parte do USUÁRIO, na utilização do APLICATIVO ou na comunicação com os CLIENTES, que cause danos ou prejuízo direto ou indireto à ODONTOPREV ou a terceiros. A ODONTOPREV será ressarcida direta ou indiretamente, de forma regressiva, pelo USUÁRIO que der causa a dano ou prejuízo à ODONTOPREV ou a terceiros.

                        4.6.2.	O USUÁRIO cujo contrato for suspenso ou resilido e cujo acesso ao APLICATIVO ou PORTAL for impedido pela ODONTOPREV não poderá, salvo expressa liberalidade da ODONTOPREV, realizar novo cadastro.

                        5.	Não se estabelece entre o USUÁRIO e a ODONTOPREV qualquer vínculo de natureza societária, empregatícia e/ou econômica, sendo certo que o USUÁRIO é livre para utilizar o APLICATIVO, bem como para cessar a sua utilização a qualquer momento, ao seu livre e exclusivo critério.

                        6.	Observados o disposto nas Leis nº 9.279/96, 9.609/98 e 9.610/98, e sem prejuízo das demais normas relativas à proteção da propriedade intelectual, o USUÁRIO reconhece que o APLICATIVO e o PORTAL, bem como todo o conteúdo disponível nas plataformas tecnológicas ou softwares da ODONTOPREV, incluindo as marcas, logotipos, textos, gráficos, fotografias, vídeos, conteúdo de áudio, telas, programas de computador, bancos de dados e arquivos de transmissão são de propriedade exclusiva da ODONTOPREV ou dos pertinentes terceiros licenciantes, conforme o caso. É proibida, sob as penas da lei e com engajamento da responsabilidade civil contratual e extracontratual do USUÁRIO infrator, a sua cópia, reprodução, distribuição, transmissão, publicação, conexão ou qualquer outro tipo de modificação sem a prévia e expressa autorização da ODONTOPREV.

                        7.	O USUÁRIO reconhece que o download de qualquer conteúdo do APLICATIVO e/ou PORTAL não lhe confere a propriedade sobre o respectivo conteúdo. Quaisquer marcas exibidas no APLICATIVO e PORTAL não devem ser consideradas como de domínio público e são de propriedade exclusiva da ODONTOPREV.

                        8.	O USUÁRIO aceita que a ODONTOPREV utiliza tecnologias comuns de internet para acompanhar as interações do USUÁRIO com o APLICATIVO e PORTAL, inclusive com coleta e armazenamento de endereço de IP, página solicitada, tempo de duração do acesso, tipo de aparelho ou terminal, navegador, operadora de telefonia celular, provedor de acesso à internet, localização física do USUÁRIO.

                        A eventual tolerância das partes quanto ao cumprimento imperfeito, ao cumprimento impontual ou ao descumprimento, de obrigações decorrentes destes TERMOS DE USO por qualquer uma das partes constitui ato de mera liberalidade, não criando para a outra parte quaisquer direitos e não constituindo renúncia ou novação de qualquer espécie.

                        9.	Todos os textos, imagens, fotografias, ícones, tecnologias, links e demais conteúdos audiovisuais ou sonoros, incluindo o software, desenhos gráficos e códigos fonte, são de propriedade exclusiva da ODONTOPREV (ou de terceiros que a ela autorizaram o uso), e estão protegidos pelas leis e tratados internacionais, sendo vedada sua cópia, reprodução, ou qualquer outro tipo de utilização, ficando os infratores sujeitos às sanções civis e criminais correspondentes nos termos da legislação.

                        10.	Todas as marcas, os nomes comerciais ou logotipos de qualquer espécie disponibilizados no Aplicativo são de propriedade da ODONTOPREV, sem que a utilização do Aplicativo possa ser entendida como autorização para que tais marcas, nomes comerciais e logotipos possam ser citados.

                        11.	Caso viole os direitos de Propriedade Intelectual da ODONTOPREV ou de terceiros, o USUÁRIO será o único responsável pelos eventuais danos e penalizações suscitados, comprometendo-se a eximir a ODONTOPREV de qualquer responsabilidade perante terceiros.

                    </p>
                </div>
                <div class="squaredOne">
                    <input type="checkbox" value="None" id="squaredOne" name="check" class="checkbox inputLabelCheckFocus" />
                    <label for="squaredOne" class="Label-checkbox labelCheckOdontFocus checkbox-inline">
                        <span class="spanCheckbox">
                            Aceito os termos de uso
                        </span>
                    </label>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12 btnPadBtm">
                <a class="btn btn-lg btn-block btnOdont disabled" id="btnTermoNCadastrado" role="button">FINALIZAR</a>
            </div>
        </div>
    </div>
    <!-- End Bloco 6 -->

    <!-- Bloco 5 -->
    <div class="container-fluid hide" id="cadastroSucesso">
        <div class="row">
            <div class="col-md-12 boxHeader">
                <div class="col-md-12 text-center imgLogoODPVHeader">
                    <img src="img/logoODPV-header.png" class="" alt="Logo ODPV Header">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 odontBoxCenter">
                <h1 class="titleOdont text-center">
                    BEM-VINDO
                </h1>
                <h2 class="subTitleOdont text-center">
                    Seu cadastro foi concluído com sucesso!
                </h2>

                <div class="odontCenterIndex">
                    <p class="p-odont text-center">
                        Seu cadastro foi efetuado com sucesso e seu usuário esta
                        associado a corretora
                    </p>
                    <div class="cortoraSucess">
                        <h4 class="text-center" id="corretoraCadastro"></h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 btnPadBtm">
                <a class="btn btn-lg btn-block btnOdont" href="logado.html" role="button">COMEÇAR A USAR</a>
                <div class="text-center">
                    <a href="logado.html"><label for="senha" class="linkOdontSucess">NÃO TRABALHO COM ESTA CORRETORA</label></a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Bloco 5 -->
    <!-- End Cadastro Usuário CPF cadastrado -->
    <!-- ****************************************************************************************** -->
    <!-- Cadastro Usuário CPF não cadastrado -->
    <!-- Bloco 1 -->
    <div class="container-fluid hide" id="celOdontCorretora">
        <div class="row">
            <div class="col-md-12 boxHeader">
                <div class="col-md-12 text-center imgLogoODPVHeader">
                    <img src="img/logoODPV-header.png" class="" alt="Logo ODPV Header">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 odontBoxCenter">
                <h1 class="titleOdont text-center">
                    Preencha seus dados
                </h1>
                <h2 class="subTitleOdont text-center">
                    Não identificamos seu CPF nos nossos registros, por favor informe seus dados.
                </h2>

                <div class="boxLabInput">
                    <div>
                        <label class="label-nome labelOdontBlur">Nome</label>
                    </div>
                    <div>
                        <input type="text" class="nome inputLabelBlur" id="nomeNaoCadastrado" required="required" pattern="^[a-zA-Z0-9]+$">
                    </div>
                    <div>
                        <label class="label-celular labelOdontBlur">Celular</label>
                    </div>
                    <div>
                        <input type="tel" class="celular inputLabelBlur" id="celularNaoCadastrado">
                    </div>
                    <div>
                        <label class="label-email labelOdontBlur">E-mail</label>
                    </div>
                    <div>
                        <input type="text" class="email inputLabelBlur" id="emailNaoCadastrado">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 btnPadBtm">
                <a href="" class="btn btn-lg btn-block btnOdont disabled" id="btnCelOdontNCpf" role="button">CONTINUAR</a>
            </div>
        </div>
    </div>
    <!-- End Bloco 1-->
    <!-- Bloco 2 -->
    <div class="container-fluid hide" id="keyOdontCorretora">
        <div class="row">
            <div class="col-md-12 boxHeader">
                <div class="col-md-12 text-center imgLogoODPVHeader">
                    <img src="img/logoODPV-header.png" class="" alt="Logo ODPV Header">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 odontBoxCenter">
                <h1 class="titleOdont text-center">
                    CRIE UMA SENHA
                </h1>
                <h2 class="subTitleOdont text-center">
                    Crie uma senha para acessar suas vendas
                </h2>

                <div class="boxLabInput">
                    <div>
                        <label class="label-password labelOdontBlur">Criar senha</label>
                    </div>
                    <div>
                        <input type="password" class="password inputLabelBlur" maxlength="12" id="senhaCpfFalse">
                    </div>
                    <div>
                        <label class="label-password-confirm labelOdontBlur" id="">Confirmar senha</label>
                    </div>
                    <div>
                        <input type="password" class="password-confirm inputLabelBlur" maxlength="12" id="confirmar-senhaCpfFalse">
                        <label class="label-password-confirm-8 labelInfoOdontFocus" id="">Sua senha deve ter no mínimo 8 dígitos.</label>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <a class="btn btn-lg btn-block btnOdont disabled" href="#" id="btnkeyOdontNCpf" role="button">FINALIZAR</a>
            </div>
        </div>
    </div>
    <!-- End Bloco 2 -->
    <!-- Bloco 3 -->
    <div class="container-fluid hide" id="infoCorretora">
        <div class="row">
            <div class="col-md-12 boxHeader">
                <div class="col-md-12 text-center imgLogoODPVHeader">
                    <img src="img/logoODPV-header.png" class="" alt="Logo ODPV Header">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 odontBoxCenter">
                <h1 class="titleOdont text-center">
                    Informe sua corretora
                </h1>
                <h2 class="subTitleOdont text-center">
                    Você precisa estar associado a uma corretora para ter acesso à plataforma.
                </h2>

                <div class="boxLabInput">
                    <div>
                        <label class="label-cnpj labelOdontBlur">CNPJ</label>
                    </div>
                    <div>
                        <input type="tel" class="cnpj inputLabelBlur" id="cnpjNaoCadastrado">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 btnPadBtm">
                <a class="btn btn-lg btn-block btnOdont disabled" id="btnInfoCorretoraNCpf" role="button">CONTINUAR</a>
                <div class="text-center">
                    <a href="" id="linkBuscarCorretora" data-toggle="modal" data-target="#myModal">
                        <label for="senha" class="linkOdont">
                            NÃO TENHO UMA CORRETORA
                        </label>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Bloco 3 -->
    <!-- Bloco 4 -->
    <div class="container-fluid hide" id="cadastroSucessoCorretora">
        <div class="row">
            <div class="col-md-12 boxHeader">
                <div class="col-md-12 text-center imgLogoODPVHeader">
                    <img src="img/logoODPV-header.png" class="" alt="Logo ODPV Header">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 odontBoxCenter">
                <h1 class="titleOdont text-center">
                    Cadastro realizado com sucesso
                </h1>
                <h2 class="subTitleOdont text-center">
                    Seu acesso está pendente a aprovação da corretora.
                </h2>
                <h3 class="subTitleOdonth3 text-center">
                    Você receberá uma notificação assim que a corretora aprovar seu acesso.
                </h3>
                <div class="boxLabInput">
                    <div class="row">
                        <div class="col-md-12 btnPadBtmTop">
                            <a href="index.html" class="btn btn-lg btn-block btnOdont" role="button" >VOLTAR</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Bloco 4 -->
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modalConteiner">
            <div class="modal-content">
                <div class="modal-body modalBoxCenter">
                    <img src="img/btn-excluir.png" class="closeModal" data-dismiss="modal" class="btnExcluir" alt="">
                    <div class="row">
                        <h1 class="titleOdont text-center">
                            ATENÇÃO
                        </h1>
                        <h2 class="subTitleOdont text-center">
                            <p>
                                Você precisa estar associado a uma corretora para ter acesso à platoforma.
                            </p>
                            <p>
                                Preencha o CNPJ para finalizar o seu cadastro.
                            </p>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal -->
    <!-- End Cadastro Usuário CPF não cadastrado -->


    <script src="js/jquery.3.2.1.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
    <script src="app/coordenador.js"></script>
    <script charset="ISO-8859-1" src="app/cadastroUsuarioController.js"></script>
    <script charset="ISO-8859-1" src="js/sweetalert.min.js"></script>
    <script src="js/odontoprev.js"></script>
    <script src="js/jquery.mask.min.js"></script>
    <script src="js/odonto-Valida.js"></script>

</body>
</html>