<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>OdontoPrev</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8">
    <link rel="shortcut icon" th:href="@{/img/odpv.PNG}" type="image/png" />
    <meta http-equiv="Content-Language" content="pt-br" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no" />

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/odontoprev.css" />
    <link rel="stylesheet" type="text/css" href="css/sweetalert.css" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/cadastro.css" />
    <!-- 		<link href="css/estiloOdontoPrev.css" rel="stylesheet"> -->
    <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="app/bootstrap.min.js"></script>
    <script type="text/javascript" src="app/jquery.mask.min.js"></script>
    <script type="text/javascript" src="app/odonto-Valida.js"></script>
    <script type="text/javascript" src="app/scripts.js"></script>
    <script type="text/javascript" src="app/coordenador.js"></script>
    <script type="text/javascript" src="app/cadastroCoordenadorController.js" charset="ISO-8859-1"></script>
    <script type="text/javascript" src="app/cadastroUsuarioController.js" charset="UTF-8"></script>
    <script type="text/javascript" src="app/sweetalert.min.js"></script>
    <script type="text/javascript" src="app/odontoprev.js"></script>

</head>
<body>

    <!-- Cadastro Usuário CPF cadastrado -->
    <!-- Bloco 1 -->
    <div class="container-fluid" id="cpfOdont">
        <div class="row">
            <div class="col-md-12 boxHeaderCadastro">
                <img src="img/seta.png" class="seta-home" />
                <div class="text-center">
                    <img src="img/logoODPV-header.png" class="" alt="Logo ODPV Header" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="col-sm-offset-4 col-sm-4">
                    <h1 class="titleOdontCadastro text-center">
                        VAMOS COMEÇAR
                    </h1>
                    <h2 class="subTitleOdont text-center" style="margin-top: 0px !important; margin-bottom: 70px !important;">
                        Para acessar insira seu CPF
                    </h2>
                    <div>
                        <label class="label-cpf labelOdontBlur">CPF</label>
                    </div>
                    <div>
                        <div style="margin-right: 25px; text-align: right;">
                            <img th:src="@{/img/x-mark-24.png}" class="img-erro-cpf" align="right" style="display: none" />
                        </div>
                        <input type="tel" id="cpf" class="cpf inputLabelBlur validacaoDivErro">
                    </div>

                    <label></label>
                    <div id="divErroCpf" style="display: none;">
                        <p class="boxErroCadastro">
                            O CPF que você inseriu não existe.
                        </p>
                    </div>
                    <label></label>
                    <div class="margin-top-70">
                        <a class="btn btnOdont btn-lg btn-block btnOdont background-color-cinza disabled" id="btnCpfOdont" role="button">CONTINUAR</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- End Bloco 1 -->
    <!-- Bloco 2 -->
    <div class="container-fluid margin-bottom-20 hide" id="celOdont">
        <div class="row">
            <div class="col-md-12 boxHeaderCadastro">
                <img src="img/seta.png" class="seta-home" />
                <div class="text-center">
                    <img src="img/logoODPV-header.png" class="" alt="Logo ODPV Header" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="col-sm-offset-4 col-sm-4">
                    <h1 class="titleOdont text-center margin-top-70">
                        CONFIRA SEUS DADOS
                    </h1>
                    <h2 class="subTitleOdont text-center">
                        Corrija se necessário
                    </h2>
                    <div>
                        <label class="label-nome labelOdontFocus">Confirme seu nome</label>
                    </div>
                    <div>
                        <input type="text" class="nome inputLabelFocus" id="nomePreCadastrado" maxlength="255">
                    </div>
                    <div>
                        <label class="label-celular labelOdontFocus">Confira o número do seu celular</label>
                    </div>
                    <div>
                        <input type="text" class="celular inputLabelFocus" id="celularPreCadastrado">
                    </div>
                    <div>
                        <label class="label-email labelOdontFocus"> Confira seu e-mail</label>
                    </div>
                    <div>
                        <input type="text" class="email inputLabelFocus" id="emailPreCadastrado" maxlength="80">
                    </div>
                    <label></label>
                    <div class="margin-top-70">
                        <a class="btn btn-lg btn-block btnOdont" id="btnCelOdont" role="button">CONTINUAR</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Bloco 2 -->
    <!-- Bloco 3 -->
    <div class="container-fluid margin-bottom-20 hide" id="keyOdont">
        <div class="row">
            <div class="col-md-12 boxHeaderCadastro">
                <img src="img/seta.png" class="seta-home" />
                <div class="text-center">
                    <img src="img/logoODPV-header.png" class="" alt="Logo ODPV Header" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="col-sm-offset-4 col-sm-4">
                    <h1 class="titleOdont text-center margin-top-70 margin-bottom-0">
                        CRIE UMA SENHA
                    </h1>
                    <h2 class="subTitleOdont text-center">
                        Crie uma senha para acessar suas vendas
                    </h2>

                    <div class="boxLabInput">
                        <div>
                            <label class="label-password labelOdontBlur margin-bottom-0" id="senha">Criar senha</label>
                        </div>
                        <div>
                            <input type="password" class="password inputLabelBlur" maxlength="12" id="senhaCpfTrue">
                        </div>
                        <div>
                            <label class="label-password-confirm labelOdontBlur margin-bottom-0 padding-top-40" id="">Confirmar senha</label>
                        </div>
                        <div>
                            <div style="margin-right: 25px; text-align: right;">
                                <img th:src="@{/img/x-mark-24.png}" class="img-erro-senha-cpf-true" align="right" style="display: none" />
                            </div>
                            <input type="password" class="password-confirm inputLabelBlur" maxlength="12" id="confirmar-senhaCpfTrue">
                            <div id="divErroSenhaCpfTrue" style="display: none; margin-top: 20px;">
                                <p class="boxErroCadastro">
                                    A senhas que você digitou não são iguais.
                                </p>
                            </div>
                            <label class="label-password-confirm-8 labelInfoOdontFocus" id="">Sua senha deve ter no mínimo 8 dígitos.</label>
                        </div>
                        <div class="margin-top-70">
                            <a class="btn btn-lg btn-block btnOdont background-color-cinza disabled" id="btnkeyOdont" role="button">FINALIZAR</a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
    </div>
    <!-- End Bloco 3 -->
    <!-- Bloco 4 -->
    <div class="container-fluid margin-bottom-20 hide" id="termoOdont">
        <div class="row">
            <div class="col-md-12 boxHeaderCadastro">
                <img src="img/seta.png" class="seta-home" />
                <div class="text-center">
                    <img src="img/logoODPV-header.png" class="" alt="Logo ODPV Header" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 odontBoxCenter">
                <h1 class="titleOdont text-center">
                    TERMOS DE USO
                </h1>
                <h2 class="subTitleOdont text-center">
                    Você precisa aceitar os termos de uso.
                </h2>
                <div class="textTermoCondicao componenteTermo" id="termoCadastrado">
                </div>
                <div class="squaredOneTermoCadastrado">
                    <input type="checkbox" value="None" id="squaredOneTermoCadastrado" name="check" class="checkbox inputLabelCheckFocus" disabled />
                    <label for="squaredOneTermoCadastrado" id="squaredOneTermoCadastradoLabel" class="Label-checkbox labelCheckOdontFocus checkbox-inline disabled">
                        <span class="spanCheckbox">
                            Aceito os termos de uso
                        </span>
                    </label>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12 btnPadBtm">
                <a class="btn btn-lg btn-block btnOdont disabled" id="btnTermo" role="button">FINALIZAR</a>
            </div>
        </div>
    </div>
    <!-- End Bloco 4 -->
    <!-- Bloco 6 -->
    <div class="container-fluid hide" id="termoOdontNCadastrado">
        <div class="row">
            <div class="col-md-12 boxHeaderCadastro">
                <img src="img/seta.png" class="seta-home" />
                <div class="text-center">
                    <img src="img/logoODPV-header.png" class="" alt="Logo ODPV Header" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 odontBoxCenter">
                <h1 class="titleOdont text-center">
                    TERMOS DE USO
                </h1>
                <h2 class="subTitleOdont text-center">
                    Você precisa aceitar os termos de uso.
                </h2>
                <div class="textTermoCondicao componenteTermo" id="termoNCadastrado">
                </div>
                <div class="squaredOne">
                    <input type="checkbox" value="None" id="squaredOne" name="check" class="checkbox inputLabelCheckFocus" disabled />
                    <label for="squaredOne" id="squaredOneLabel" class="Label-checkbox labelCheckOdontFocus checkbox-inline disabled">
                        <span class="spanCheckbox">
                            Aceito os termos de uso
                        </span>
                    </label>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12 btnPadBtm">
                <a class="btn btn-lg btn-block btnOdont background-color-cinza disabled" id="btnTermoNCadastrado" role="button">FINALIZAR</a>
            </div>
        </div>
    </div>
    <!-- End Bloco 6 -->
    <!-- Bloco 5 -->
    <div class="container-fluid hide" id="cadastroSucesso">
        <div class="row">
            <div class="col-md-12 boxHeaderCadastro">
                <img src="img/seta.png" class="seta-home" />
                <div class="text-center">
                    <img src="img/logoODPV-header.png" class="" alt="Logo ODPV Header" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 odontBoxCenter">
                <h1 class="titleOdont text-center">
                    BEM-VINDO
                </h1>
                <h2 class="subTitleOdont text-center">
                    Seu cadastro foi concluído com sucesso!
                </h2>

                <div class="odontCenterIndex">
                    <p class="p-odont text-center">
                        Seu cadastro foi efetuado com sucesso e seu usuário esta
                        associado a corretora
                    </p>
                    <div class="cortoraSucess">
                        <h4 class="text-center" id="corretoraCadastro"></h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 btnPadBtm">
                <a class="btn btn-lg btn-block btnOdont" href="/login" role="button">COMEÇAR A USAR</a>
                <div class="text-center">
                    <a><label for="senha" class="linkOdontSucess">NÃO TRABALHO COM ESTA CORRETORA</label></a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Bloco 5 -->
    <!-- End Cadastro Usuário CPF cadastrado -->
    <!-- ****************************************************************************************** -->
    <!-- Cadastro Usuário com CPF inativo ou reprovado -->
    <!-- Bloco 1 -->
    <div class="container-fluid hide" id="divCadastroInativo">
        <div class="row">
            <div class="col-md-12 boxHeaderCadastro">
                <img src="img/seta.png" class="seta-home" />
                <div class="text-center">
                    <img src="img/logoODPV-header.png" class="" alt="Logo ODPV Header" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="col-sm-offset-4 col-sm-4">
                    <h1 class="titleOdont text-center margin-top-70">
                        CONFIRA SEUS DADOS
                    </h1>
                    <h2 class="subTitleOdont text-center">
                        Corrija se necessário
                    </h2>
                    <div>
                        <label class="label-nome labelOdontFocus">Confirme seu nome</label>
                    </div>
                    <div>
                        <input type="text" class="nome inputLabelFocus" id="nomeInativoCadastrado" maxlength="255">
                    </div>
                    <div>
                        <label class="label-celular labelOdontFocus">Confira o número do seu celular</label>
                    </div>
                    <div>
                        <input type="text" class="celular inputLabelFocus" id="celularInativoCadastrado">
                    </div>
                    <div>
                        <label class="label-email labelOdontFocus"> Confira seu e-mail</label>
                    </div>
                    <div>
                        <input type="text" class="email inputLabelFocus" id="emailInativoCadastrado" maxlength="80">
                    </div>
                    <label></label>
                    <div class="margin-top-70">
                        <a class="btn btn-lg btn-block btnOdont" id="btnInativoCelOdont" role="button">CONTINUAR</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Bloco 1 -->
    <!-- Cadastro Usuário CPF não cadastrado -->
    <!-- Bloco 1 -->
    <div class="container-fluid margin-bottom-20 hide" id="celOdontCorretora">
        <div class="row">
            <div class="col-md-12 boxHeaderCadastro">
                <img src="img/seta.png" class="seta-home" />
                <div class="text-center">
                    <img src="img/logoODPV-header.png" class="" alt="Logo ODPV Header" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="col-sm-offset-4 col-sm-4">
                    <h1 class="titleOdont text-center margin-top-70">
                        PREENCHA SEUS DADOS
                    </h1>
                    <h2 class="subTitleOdont text-center margin-bottom-70">
                        Não identificamos seu CPF nos nossos registros, por favor informe seus dados.
                    </h2>

                    <div>
                        <label class="label-nome labelOdontBlur margin-bottom-0 margin-top-0 padding-top-0">Nome</label>
                    </div>
                    <div>
                        <input type="text" class="nome inputLabelBlur" id="nomeNaoCadastrado" required="required" pattern="^[a-zA-Z0-9]+$" maxlength="255">
                    </div>
                    <div>
                        <label class="label-celular labelOdontBlur margin-bottom-0 padding-top-40">Celular</label>
                    </div>
                    <div>
                        <input type="tel" class="celular inputLabelBlur" id="celularNaoCadastrado">
                    </div>
                    <div>
                        <label class="label-email labelOdontBlur margin-bottom-0 padding-top-40">E-mail</label>
                    </div>
                    <div>
                        <div style="margin-right: 25px; text-align: right;">
                            <img th:src="@{/img/x-mark-24.png}" class="img-erro-email" align="right" style="display: none" />
                        </div>
                        <input type="text" class="email inputLabelBlur" id="emailNaoCadastrado" maxlength="80">
                    </div>
                    <label></label>
                    <div class="divErroEmail" style="display: none;">
                        <p class="boxErroCadastro">
                            Formato de e-mail incorreto.
                        </p>
                    </div>
                    <div class="margin-top-70">
                        <a class="btn btnOdont btn-lg btn-block btnOdont background-color-cinza margin-bottom-20 disabled" id="btnCelOdontNCpf" role="button">CONTINUAR</a>
                    </div>
                </div>
            </div>
            </div>

        <div class="row">

        </div>
    </div>
    <!-- End Bloco 1-->
    <!-- Bloco 2 -->
    <div class="container-fluid margin-bottom-20 hide" id="keyOdontCorretora">
        <div class="row">
            <div class="col-md-12 boxHeaderCadastro">
                <img src="img/seta.png" class="seta-home" />
                <div class="text-center">
                    <img src="img/logoODPV-header.png" class="" alt="Logo ODPV Header" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="col-sm-offset-4 col-sm-4">
                    <h1 class="titleOdont text-center margin-top-70 margin-bottom-0">
                        CRIE UMA SENHA
                    </h1>
                    <h2 class="subTitleOdont text-center margin-bottom-0">
                        Crie uma senha para acessar suas vendas
                    </h2>

                    <div class="boxLabInput">
                        <div>
                            <label class="label-password labelOdontBlur margin-bottom-0 margin-top-70 padding-top-0">Criar senha</label>
                        </div>
                        <div>
                            <input type="password" class="inputLabelBlur" maxlength="12" id="senhaCpfFalse">
                        </div>
                        <div>
                            <label class="label-password-confirm labelOdontBlur margin-bottom-0 padding-top-40" id="">Confirmar senha</label>
                        </div>
                        <div>
                            <div style="margin-right: 25px; text-align: right;">
                                <img th:src="@{/img/x-mark-24.png}" class="img-erro-senha-cpf-false" align="right" style="display: none" />
                            </div>
                            <input type="password" class="password-confirm inputLabelBlur" maxlength="12" id="confirmar-senhaCpfFalse">
                            <div id="divErroSenhaCpfFalse" style="display: none; margin-top: 20px;">
                                <p class="boxErroCadastro">
                                    A senhas que você digitou não são iguais.
                                </p>
                            </div>
                            <label class="label-password-confirm-8 labelInfoOdontFocus" id="">Sua senha deve ter no mínimo 8 dígitos.</label>
                        </div>
                        <div class="margin-top-70">
                            <a class="btn btn-lg btn-block btnOdont disabled background-color-cinza" id="btnkeyOdontNCpf" role="button">FINALIZAR</a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
    </div>
    <!-- End Bloco 2 -->
    <!-- Bloco 3 -->
    <div class="container-fluid margin-bottom-20 hide" id="infoCorretora">
        <div class="row">
            <div class="col-md-12 boxHeaderCadastro">
                <img src="img/seta.png" class="seta-home" />
                <div class="text-center">
                    <img src="img/logoODPV-header.png" class="" alt="Logo ODPV Header" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h1 class="titleOdont text-center margin-top-70">
                    INFORME SUA CORRETORA
                </h1>
                <h2 class="subTitleOdont text-center padding-top-20 margin-bottom-70">
                    Você precisa estar associado a uma corretora para ter acesso à plataforma.
                </h2>

                <div class="boxLabInput">
                    <div>
                        <label class="label-cnpj labelOdontBlur">CNPJ</label>
                    </div>
                    <div>
                        <input type="tel" class="cnpj inputLabelBlur" id="cnpjNaoCadastrado">
                    </div>
                </div>

                <div class="margin-bottom-70">
                    <a class="btn btn-lg btn-block btnOdont background-color-cinza disabled" id="btnInfoCorretoraNCpf" role="button">CONTINUAR</a>
                    <div class="text-center">
                        <a href="" id="linkBuscarCorretora" data-toggle="modal" data-target="#myModal">
                            <label for="senha" class="linkOdont padding-top-0 padding-top-40">
                                NÃO TENHO UMA CORRETORA
                            </label>
                        </a>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">

        </div>
    </div>
    <!-- End Bloco 3 -->
    <!-- Bloco 4 -->
    <div class="container-fluid margin-bottom-20 hide" id="cadastroSucessoCorretora">
        <div class="row">
            <div class="col-md-12 boxHeaderCadastro">
                <img src="img/seta.png" class="seta-home" />
                <div class="text-center">
                    <img src="img/logoODPV-header.png" class="" alt="Logo ODPV Header" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 odontBoxCenter">
                <h1 class="titleOdont text-center">
                    Cadastro realizado com sucesso
                </h1>
                <h2 class="subTitleOdont text-center">
                    Seu acesso está pendente a aprovação da corretora.
                </h2>
                <h3 class="subTitleOdonth3 text-center">
                    Você receberá uma notificação assim que a corretora aprovar seu acesso.
                </h3>
                <div class="boxLabInput">
                    <div class="row">
                        <div class="col-md-12 btnPadBtmTop">
                            <a href="/login" class="btn btn-lg btn-block btnOdont" role="button">VOLTAR</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Bloco 4 -->
    <!-- Modal -->
    <!--<div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modalConteiner">
            <div class="modal-content">
                <div class="modal-body modalBoxCenter">
                    <img th:src="@{/img/btn-excluir.png}" class="closeModal" data-dismiss="modal" class="btnExcluir" alt="">
                    <div class="row">
                        <h1 class="titleOdont text-center">
                            ATENÇÃO
                        </h1>
                        <h2 class="subTitleOdont text-center">
                            <p>
                                Você precisa estar associado a uma corretora para ter acesso à platoforma.
                            </p>
                            <p>
                                Preencha o CNPJ para finalizar o seu cadastro.
                            </p>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <!-- End Modal -->

    <!-- Modal -->
    <div class="modal " id="modalErroCadastro" role="dialog">
        <div class="modal-dialog modalContainerErros" style="margin: 20px !important" data-keyboard="false" data-backdrop="static">
            <div class="modal-content" style="margin-top: 50%; border-radius: 0%; border: 0px !important; box-shadow: 0 3px 1px rgba(0,0,0,.16)">
                <img src="img/btn-excluir.png" class="closeModaisCadastro btnExcluir" data-dismiss="modal" alt="" />
                <div class="modal-body" style="margin-left: 30px; margin-right: 30px; margin-top: 10px; margin-bottom: 10px;">
                    <label style="font-family: Roboto-Regular; color: #FF4141; text-align: center; font-size: 30px;">
                        Você já está cadastrado
                    </label>
                    <label style="font-family: Roboto-Regular; color: #656565; text-align: center; font-size: 16px; margin-top: 10px;">
                        Volte para a página inicial, insira seu CPF e senha e clique em entrar.
                    </label>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal -->


    <!-- End Cadastro Usuário CPF não cadastrado -->

</body>
</html>