<!DOCTYPE html>
<html lang="pt-br">
<head><title>OdontoPrev</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Language" content="pt-br">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/odontoprev.css" rel="stylesheet">
    <link href="css/sweetalert.css" rel="stylesheet"/>
    <style>
        .wrapper {
            height: 100%;
            min-height: 100%;
            display: -webkit-flex;
            display: flex;
            -webkit-align-items: center;
            align-items: center;
            -webkit-justify-content: center;
            justify-content: center;
        }
    </style>
</head>
<body>
<div class="row col-sm-12">
    <h1 class="titleOdont text-center">
        VENDA REALIZADA COM SUCESSO!
    </h1>
</div>

<div id="planos"></div>


<div class="row col-sm-12 margin-top-70">
    <div class="col-sm-12 btnPadBtm wrapper">
        <a href="/lista-propostas" class="btn btn-lg btn-block btnOdont text-center" id="" role="button"
           target="_parent">IR PARA LISTA DE PROPOSTAS</a>
    </div>
</div>

<!-- End Bloco 1 -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/scripts.js"></script>
<script src="js/odontoprev.js"></script>
<script src="js/jquery.3.2.1.js"></script>
<script src="js/jquery.mask.min.js"></script>
<script src="js/odonto-Valida.js"></script>
<script src="js/sweetalert.min.js"></script>
<script src="app/coordenador.js"></script>
<script src="app/pfSucessoController.js"></script>
<script src="js/moment.js"></script>
<script> resizeIframe('frame_pf');</script>

</body>
</html>