<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br"
      xmlns="http://www.w3.org/1999/xhtml">
<head><title>OdontoPrev</title>
    <meta charset="UTF-8">
    <link rel="shortcut icon" th:href="@{/img/odpv.PNG}" type="image/png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/email.css}"/>

    <script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.mask.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/odonto-Valida.js}"></script>

    <script type="text/javascript" th:src="@{/js/menu.js}"></script>

</head>
<body style="min-width: 100% !important;">

<div class="container-fluid nopadding">

    <div class="col-xs-12 text-center" style="width: 100%; height: 150px; background-color: rgba(172,170,165, 0.12);">
        <label class="title-odonto space-top-60" style="color: #1974CE">E-MAIL ACEITE</label>
    </div>

    <div class="col-xs-12">
        <table style="background-color: #FFFFFF !important;" cellspacing="0" cellpadding="0" width="80%" align="center"
               border="0">
            <tbody>
            <tr th:style="${tokenAceite.id} == 200 ? 'display:inline-block' : 'display:none'">
                <td align="left" valign="middle" class="texto1">

                    <p class="destaque3 space-top-30 space-bottom-30"><br/>
                        Prezado cliente,<br/><br/>
                        Obrigada pela a sua contratação e bem-vindo à família OdontoPrev!<br/>
                        Será um prazer cuidar dos sorrisos da sua empresa.<br/>
                        Em breve enviaremos mais informações sobre os benefícios contratados.<br/>
                        Atenciosamente,<br/>
                        Equipe OdontoPrev
                    </p>
                    <p align="center">
                </td>
            </tr>

            <tr th:style="${tokenAceite.id} == 202 AND ${tokenAceite.mensagem.contains('Aceite ja realizado em')} ? 'display:inline-block' : 'display:none'">
                <td align="left" valign="middle" class="texto1">

                    <p class="destaque3 space-top-30 space-bottom-30"><br/>
                        Prezado cliente,<br/><br/>
                        Identificamos que já houve um aceite na data <label th:text="${tokenAceite.dataAceite}"></label>.<br/>
                        Atenciosamente,<br/>
                        Equipe OdontoPrev
                    </p>
                    <p align="center">
                </td>
            </tr>

            <tr th:style="${tokenAceite.id} == 202 AND ${tokenAceite.mensagem.contains('Token expirado em')} ? 'display:inline-block' : 'display:none'">
                <td align="left" valign="middle" class="texto1">

                    <p class="destaque3 space-top-30 space-bottom-30"><br/>
                        Prezado cliente,<br/><br/>

                        Identificamos que este e-mail de aceite expirou.<br/>
                        Verifique em sua caixa de entrada ou caixa de spam se recebeu outro<br/>
                        email de aceite mais recente.<br/>
                        Atenciosamente,<br/>
                        Equipe OdontoPrev
                    </p>
                    <p align="center">
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="col-xs-12" style="height: 140px;">
        <div th:replace="fragments/footer :: footer">&nbsp;</div>
    </div>
</div>
</body>
</html>