<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br"
      xmlns="http://www.w3.org/1999/xhtml">

<head><title>OdontoPrev</title>
    <meta charset="UTF-8">
    <link rel="shortcut icon" th:href="@{/img/odpv.PNG}" type="image/png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/odontoprev.css}"/>

    <script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.mask.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/odonto-Valida.js}"></script>

    <script type="text/javascript" th:src="@{/js/menu.js}"></script>

    <style>
        .box-plano {
            background: #ffffff;
            min-width: 330px;
            min-height: 596px;
            margin: auto;
            padding: 0px;
            text-align: center;
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);

            -moz-border-radius: 7px;
            -webkit-border-radius: 7px;
            border-radius: 7px;
        }

        .titulo-plano {
            font-family: Roboto-Medium;
            font-size: 20px;
            color: #D9487F;
        }

        .img-center {
            min-width: 100%;
            display: -webkit-flex;
            display: flex;
            -webkit-align-items: center;
            align-items: center;
            -webkit-justify-content: center;
            justify-content: center;
        }

        .scrolly {
            width: 99%;
            height: auto;
            overflow: auto;
            overflow-y: hidden;
            white-space: nowrap;
            display: -webkit-box;
        }

        .titulo-blue {
            color: #1974CE;
            width: 100% !important;
            margin-top: 40px !important;
            font-size: 20px !important;
        }

        .linkGreen {
            color: #83BC00;
            font-family: Roboto-Regular;
            font-size: 16px;
            text-decoration: none;
            cursor: pointer;
            outline: none;
        }

        tr td {
            padding: 9px !important;
            color: #6A6A6A;
        }

        button {
            border: 0;
            text-decoration: none;
            cursor: pointer;
            outline: none;
        }
    </style>

    <script>
        $(function () {
            $(".button-collapse").sideNav();
        });

    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.table-odonto tr:odd').css('background-color', '#EDEDED');

            $('.table-odonto tr:even').css('background-color', '#fff');
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            $('.barras').each(function () {
                var dataWidth = $(this).data('value');
                $(this).css("width", dataWidth + "%");
                $(this).css("max-width", "100%");
                if (dataWidth <= 25) {
                    $(this).css("border-color", "transparent");
                }
                else if (dataWidth > 25 && dataWidth <= 50) {
                    $(this).css("border-color", "transparent");
                }
                else if (dataWidth > 50 && dataWidth <= 75) {
                    $(this).css("border-color", "transparent");
                }
                else if (dataWidth > 75 && dataWidth <= 100) {
                    $(this).css("border-color", "transparent");
                }
            });
        });
    </script>

    <script>
        function scrollAnt() {
            document.getElementById("divPF").scrollBy(-358, 0);
        }

        function scrollPos() {
            document.getElementById("divPF").scrollBy(358, 0);
        }
    </script>

</head>
<body style="min-width: 100% !important;">

<div class="container-fluid nopadding">

    <div th:switch="${session.usuario.perfil}">
        <div th:case="'Corretor'">
            <div th:replace="fragments/menu-corretor :: menu-corretor">&nbsp;</div>
            <div th:replace="fragments/header-corretor :: header-corretor">&nbsp;</div>
        </div>
        <div th:case="'Corretora'">
            <div th:replace="fragments/menu-corretora :: menu-corretora">&nbsp;</div>
            <div th:replace="fragments/header-corretora :: header-corretora">&nbsp;</div>
        </div>
    </div>

    <div class="container-logado padding-logado">

        <div class="row">
            <div class="col-xs-12">
                <h4 class="font-blue title-section-odonto">Informações dos Planos</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h4 class="text-silver">Confira a cobertura e informações dos planos que temos para
                    você.</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="titulo-blue"><b>Planos Pessoa Física</b></div>
            </div>
        </div>

        <div th:style="${planoInfosModel.pf.size() > 3 ? 'position: absolute; z-index: 9999; margin-top: 150px; margin-left: -2%;' : 'display:none;'}">
            <button onclick="scrollAnt()"><img th:src="@{/img/seta_ant.png}"/></button>
        </div>

        <div class="row col-xs-12">
            <div class="scrolly space-bottom-30 margin-top-30" id="divPF">
                <div style="margin-left: 12px; margin-right:12px; margin-bottom:15px; display: inline-block;"
                     class="box-plano" th:each="plano : ${planoInfosModel.pf}">
                    <table border="0" width="100%" height="100%">
                        <tr>
                            <td>
                                <div class="titulo-plano margin-top-0 margin-bottom-0"
                                     th:text="${plano.nomePlanoInfo}"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="img-center">
                                    <img class="img-responsive margin-top-0 margin-bottom-0"
                                         th:src="@{'data:' + ${plano.arquivoIcone.tipoConteudo} + ';base64,' +
                         *{plano.arquivoIcone.arquivoBase64}}"/>
                                </div>
                            </td>
                        </tr>
                        <tr width="100%;" height="100%">
                            <td>
                                <div th:each="desc : ${plano.descricaoList}">
                                    <label th:text="${desc}"/>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a th:href="@{/download/infoplano(cdArquivo=${plano.codigoArquivoCarencia})}">
                                    <label class="linkGreen">Confira as carências por tratamento</label></a>
                                <br/>
                                <a th:href="@{/download/infoplano(cdArquivo=${plano.codigoArquivoGeral})}">
                                    <label class="linkGreen">Confira as Condições Gerais do plano</label></a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div th:style="${planoInfosModel.pf.size() > 3 ? 'position: absolute; z-index: 9999; margin-top: 150px; margin-left: 73%;' : 'display:none;'}">
            <button onclick="scrollPos()"><img th:src="@{/img/seta_pos.png}"/></button>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="titulo-blue"><b>Planos PME</b></div>
            </div>
        </div>

        <div class="row col-xs-12">
            <div class="scrolly space-bottom-30 margin-top-30">
                <div style="margin-left: 12px; margin-right:12px; margin-bottom:15px; display: inline-block;"
                     class="box-plano" th:each="plano : ${planoInfosModel.pme}">
                    <table border="0" width="100%" height="100%">
                        <tr>
                            <td>
                                <div class="titulo-plano margin-top-0 margin-bottom-0"
                                     th:text="${plano.nomePlanoInfo}"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="img-center">
                                    <img class="img-responsive margin-top-0 margin-bottom-0"
                                         th:src="@{'data:' + ${plano.arquivoIcone.tipoConteudo} + ';base64,' +
                         *{plano.arquivoIcone.arquivoBase64}}"/>
                                </div>
                            </td>
                        </tr>
                        <tr width="100%;" height="100%">
                            <td>
                                <div th:each="desc : ${plano.descricaoList}">
                                    <label th:text="${desc}"/>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a th:href="@{/download/infoplano(cdArquivo=${plano.codigoArquivoGeral})}">
                                    <label class="linkGreen">Confira aqui as Condições Gerais <br/>e o Contrato
                                        PME</label></a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h4 class="font-blue title-section-odonto">Compare e veja as diferenças</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h4 class="text-silver">
                    Compare os planos e veja qual o melhor plano para você e sua família.
                </h4>
            </div>
        </div>

        <div class="row col-xs-12" style="display: contents; margin-left: auto; margin-right: auto;">
            <img th:src="@{/img/tabela_planos.jpg}" style="height: 780px;"/>
        </div>

    </div>

    <div class="row col-xs-12">
        <div th:replace="fragments/footer :: footer">&nbsp;</div>
    </div>

</div>
<script type="text/javascript" th:src="@{/js/setColorMenuCorretor.js}"></script>
</body>
</html>