<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head><title>OdontoPrev</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>

    <!-- 		<link href="css/estiloOdontoPrev.css" rel="stylesheet"> -->
    <script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.mask.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/odonto-Valida.js}"></script>

    <script type="text/javascript" th:src="@{/js/menu.js}"></script>
    <!--<script type="text/javascript"-->
            <!--th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js}"></script>-->

</head>
<body style="min-width: 100% !important;">

<script>
    $(function () {
        $(".button-collapse").sideNav();
    });

</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('.table-odonto tr:odd').css('background-color', '#EDEDED');

        $('.table-odonto tr:even').css('background-color', '#fff');
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {

        $('.barras').each(function () {
            var dataWidth = $(this).data('value');
            $(this).css("width", dataWidth + "%");
            $(this).css("max-width", "100%");
            if (dataWidth <= 25) {
                $(this).css("border-color", "transparent");
            }
            else if (dataWidth > 25 && dataWidth <= 50) {
                $(this).css("border-color", "transparent");
            }
            else if (dataWidth > 50 && dataWidth <= 75) {
                $(this).css("border-color", "transparent");
            }
            else if (dataWidth > 75 && dataWidth <= 100) {
                $(this).css("border-color", "transparent");
            }
        });
    });
</script>

<div class="container-fluid nopadding">

    <div th:switch="${session.usuario.perfil}">
        <div th:case="'Corretor'">
            <div th:replace="fragments/menu-corretor :: menu-corretor">&nbsp;</div>
            <div th:replace="fragments/header-corretor :: header-corretor">&nbsp;</div>
        </div>
        <div th:case="'Corretora'">
            <div th:replace="fragments/menu-corretora :: menu-corretora">&nbsp;</div>
            <div th:replace="fragments/header-corretora :: header-corretora">&nbsp;</div>
        </div>
    </div>

    <div class="container-logado padding-logado">


            <div class="row">
                <div class="col-xs-12">
                    <h4 class="uppercase font-blue title-section-odonto">Informação dos Planos</h4>

                </div>
            </div>

            <div class="row space-top-30">
                <div class="col-xs-12">
                    <p class="subtitle-odonto nomargin"><bold>Plano Integral Doc LE</bold></p>

                    <strong>Cirurgia</strong>	<br />
                    Cirurgia odontológica com aplicação de aloenxertos<br />
                    Consulta de Especialista em Estomatologia<br />
                    Reduçao de Tuberosidade<br />
                    Remoção de corpo estranho no seio maxilar<br />
                    Tracionamento cirúrgico com finalidade ortodôntica<br /><br />

                    <strong>Dentística</strong><br />
                    Consulta para Técnica de Clareamento Dentário Caseio<br />
                    Núcleo de preenchimento para restauração<br />
                    Restauração de pino<br /><br />

                    <strong>Emergência</strong><br />
                    Tratamento conservador de luxução de articulação têmpero-mandibular-ATM<br /><br />

                    <strong>Endodotia</strong><br />
                    Clareamento de dente desvitalizado<br /><br />

                    <strong>Odontologia Legal</strong><br />
                    Consulta odontológica para avaliação técnica de auditoria<br /><br />

                    <strong>Odontopediatria</strong><br />
                    Adequação de meio bucal <br />
                    Mantenedor de espaço fixo<br />
                    Mantenedor de espaço removível<br /><br />

                    <strong>Periodontia</strong><br />
                    Consulta de Especialista em Periodontia<br />
                    Enxerto conjuntivo subepitelial<br />
                    Manutenção Periodontal<br />
                    Sepultamento radicular<br /><br />

                    <strong>Prevenção</strong><br />
                    Teste de capacidade tampão da saliva<br />
                    Teste de contagem microbiótica<br /><br />

                    <strong>Prótese Dentária</strong><br />
                    Coroa total acrílica prensada<br /><br />

                    <strong>Radiologia</strong><br />
                    Discrepância de modelos<br />
                    Documentação ortodôntica básica: radiografia panorâmica básica, tele com traçado e modelos ortodônticos<br />
                    Documentação ortodôntica completa: radiografia panorâmica, tele com traçado, modelos ortodônticos, 7 fotos ou slides e anealise cefalométrica extra<br />
                    Documentação ortodôntica de controle: panorâmica com 5 fotos (1 extra bucais, 3 intra-bucais)<br />
                    Documentação ortodôntica Especial: documentação ortodônica completa mais tele frontal, traçado frontal e análise de erupção de 3o molares)<br />
                    Documentação ortodôntica ortopédica: panorâmica, telerradiografia, análise e traçado cefalométrico, modelos de estudo, modelos de trabalho, análise de modelos, caixa p/ modelos, pasta, mão e punho (índice carpal), fotos (1 extra, 3 intra bucais, perfil e lateralidade) ou slides (máximo 9)<br />
                    Documentação periodontal (panorâmica com traçado, levantamento periapical, interproximais, fotos -2 extra e 3 intra bucais, modelos, caixa para modelos e pasta)<br />
                    Fotografia<br />
                    Modelos de trabalho<br />
                    Modelos orodônticos<br />
                    Panorâmica + modelos ortodônticos<br />
                    Panorâmica Especial para ATM<br />
                    Radiografia da ATM<br />
                    Radiografia da mão e punho-carpal<br />
                    Radiografia panorâmica de mandibula/maxila (ortopantomografia) com traçado cefalométrico<br />
                    Slide<br />
                    Ténica de localização radiográfica<br />
                    Telerradiografia<br />
                    Telerradiografia com traçado cefalométrico<br />
                    Traçado cefalométrico<br /><br />



                    <div class="row space-top-30">
                        <div class="col-xs-12">
                            <p class="subtitle-odonto nomargin">Planos PME</p>
                            <a th:href="@{/info-planos-rol-min}" type="button" class="uppercase btn btnBlue btn-width-custom space-top-10">Rol Mínimo</a> <br />
                            <a th:href="@{/info-planos-master-le}" type="button" class="uppercase btn btnBlue btn-width-custom space-top-10">Plano Master LE</a> <br />
                        </div>
                    </div>

                </div>
            </div>
    </div>



    <div th:replace="fragments/footer :: footer">&nbsp;</div>
</div>
<script type="text/javascript" th:src="@{/js/setColorMenuCorretor.js}"></script>
</body>
</html>