<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>

    <!-- 		<link href="css/estiloOdontoPrev.css" rel="stylesheet"> -->
    <script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.mask.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/odonto-Valida.js}"></script>

    <script type="text/javascript" th:src="@{/js/menu.js}"></script>
    <!--<script type="text/javascript"-->
    <!--th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js}"></script>-->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body style="min-width: 100% !important;">

<script>
    $(function () {
        $(".button-collapse").sideNav();
    });

</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('.table-odonto tr:odd').css('background-color', '#EDEDED');

        $('.table-odonto tr:even').css('background-color', '#fff');
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {

        $('.barras').each(function () {
            var dataWidth = $(this).data('value');
            $(this).css("width", dataWidth + "%");
            $(this).css("max-width", "100%");
            if (dataWidth <= 25) {
                $(this).css("border-color", "transparent");
            }
            else if (dataWidth > 25 && dataWidth <= 50) {
                $(this).css("border-color", "transparent");
            }
            else if (dataWidth > 50 && dataWidth <= 75) {
                $(this).css("border-color", "transparent");
            }
            else if (dataWidth > 75 && dataWidth <= 100) {
                $(this).css("border-color", "transparent");
            }
        });
    });
</script>

<div class="container-fluid nopadding">

    <div th:switch="${session.usuario.perfil}">
        <div th:case="'Corretor'">
            <div th:replace="fragments/menu-corretor :: menu-corretor">&nbsp;</div>
            <div th:replace="fragments/header-corretor :: header-corretor">&nbsp;</div>
        </div>
        <div th:case="'Corretora'">
            <div th:replace="fragments/menu-corretora :: menu-corretora">&nbsp;</div>
            <div th:replace="fragments/header-corretora :: header-corretora">&nbsp;</div>
        </div>
    </div>


      <div class="container-logado padding-logado">
           <div class="row">
              <div class="col-xs-12">
                 <h4 class="uppercase font-blue title-section-odonto">Informação dos Planos - PME<h4>  <br /><br />
              </div>
            </div>

            <div >
            <ul class="nav nav-pills">
                <li><a data-toggle="pill" style="background-color: #1a75cf" href="#menu1">Rol Mínimo</a></li>
                <li><a data-toggle="pill" style="background-color: #1a75cf" href="#menu2">Integral Doc LE</a></li>
                <li><a data-toggle="pill" style="background-color: #1a75cf" href="#menu3">Master LE</a></li>
            </ul>
            
            <div class="tab-content" >
                <div id="menu1" class="tab-pane fade in active">
                <h3>Rol Mínimo</h3>
                <p>
                        <strong>Cirurgia</strong><br />
                        . Alveolo plastia<br />
                        . Amputação radicular com obturação retrógrada<br />
                        . Amputação birradiculares com obturação retrógrada<br />
                        . Amputação birradiculares sem obturação retrógrada<br />
                        . Apicetomia multirradiculares com obturação retrógrada<br />
                        . Apicetomia multirradiculares sem obturação retrógrada<br />
                        . Apicetomia unirradiculares com obturação retrógrada<br />
                        . Apicetomia unirradiculares sem obturação retrógrada<br />
                        . Aprofundamento de vestibulo<br />
                        . Biópsia de boca<br />
                        . Biópsia de glândula salivar<br />
                        . Biópsia de lábio<br />
                        . Biópsia de língua<br />
                        . Biópsia de mandibula<br />
                        . Biópsia de maxila<br />
                        . Bridectomia <br />
                        . Bridotomia<br />
                        . Cirurgia para exostose maxilar<br />
                        . Cirurgia para torus mandibular - bilateral<br />
                        . Cirurgia para torus mandibular - unilateral<br />
                        . Cirurgia para torus palatino<br />
                        . Coleta de raspado em lesões ou sitios especificos da região buci-maxilo-facial<br />
                        . Cunha proximal<br />
                        . Diagnóstico e tratamento de estomatite herpética<br />
                        . Diagnóstico e tratamento de estomatite por candidose<br />
                        . Diagnóstico e tratamento de halitose<br />
                        .  Diagnóstico e tratamento de xerostomia<br />
                        .  Exérese de lipoma na região buco-maxilo-facial<br />
                        .  Exérese ou excisão de cálculo salivar<br />
                        .  Exérese ou excisão de cistos odontológicos<br />
                        . Exérese ou excisão de mucocele<br />
                        . Exérese ou excisão de rânula<br />
                        . Exodontia a retalho<br />
                        . Exodontia de permanente por indicação ortodôntica/protética<br />
                        . Exodontia de raiz residual<br />
                        . Exosontia simples de permanente <br />
                        . Frenulectomia labial<br />
                        . Frenulectomia lingual<br />
                        . Frenulotomia labial<br />
                        . Frenulotomia lingual<br />
                        . Odonto-secção<br />
                        . Punção aspirativa na região buco-maxilo-facial<br />
                        . Reconstrução de sulco gengivo-labial<br />
                        . Redução cruenta de fratura alvéolo dentária<br />
                        . Redução incruenta de fratura alvéolo dentária<br />
                        . Remoção de dentes inclusos/impactados<br />
                        . Remoção de dentes semi-inclusos/impactados<br />
                        . Remoção de odontoma<br />
                        . Tratamento cirúrgico das fístulas buco nasal<br />
                        . Tratamento cirúrgico das fístulas buco sinusal<br />
                        . Tratamento cirúegico de bridas constritivas da região buco-maxilo-facial<br />
                        . Tratamento cirúrgico de hiperplasias de tecidos moles na região buco-maxilo-facial<br />
                        . Tratamento cirúrgico de hiperplasias de tecidos ósseos/cartilaginosos na região buco-maxilo-facial<br />
                        . Tratamento cirúrgico de tumores benignos de tecidos ósseos/cartilaginosos na região buco-maxilo-facial<br />
                        . Tratamento cirúrgico dos tumores benignos de tecidos moles na região buco-maxilo-facial<br />
                        . Tratamento cirúrgico para tumores odontogênicos benignos - sem reconstrução<br />
                        . Ulectomia<br />
                        . Ulotomia<br /><br />
    
                        <strong>Dentística</strong><br />
                        . Ajuste oclusal por acréscimo<br />
                        . Ajuste oclusal por desgaste seletivo<br />
                        . Capeamento pulpar direto<br />
                        . Faceta direta em resina fotopolimerizável<br />
                        . Remoção de trabalho protético<br />
                        . Restauração de amálgama - 1 face<br />
                        . Restauração de amálgama - 2 faces<br />
                        . Restauração de amálgama - 3 faces<br />
                        . Restauração de amálgama - 4 faces<br />
                        . Restauração em ionômero de vidro - 1 face<br />
                        . Restauração em ionômero de vidro - 2 faces<br />
                        . Restauração em ionômero de vidro - 3 faces<br />
                        . Restauração em ionômero de vidro - 4 faces<br />
                        . Restauração em resina fotopolimerizável - 1 face<br />
                        . Restauração em resina fotopolimerizável - 2 faces<br />
                        . Restauração em resina fotopolimerizável - 3 faces<br />
                        . Restauração em resina fotopolimerizável - 4 faces<br /><br />
    
                    <strong>Diagnóstico</strong><br />
                        . Consulta odontológica<br />
                        . Consulta odontológica inicial<br />
                        . Controle pós operatório em odontologia<br />
                        . Diagnóstico anatomopatológico em citologia esfoliativa na região buco-maxilo-facial<br />
                        . Diagnóstico anatomopatológico em material de biópsia na região buco-maxilo-facial<br />
                        . Diagnóstico anatomopatológico em peça cirúrgica na região buco-maxilo-facial<br />
                        . Diagnóstico anatomopatológico em punção na região buco-maxilo-facial<br />
                        . Diagnóstico e planejamento para tratamento odontológico<br /><br />
    
                    <strong> Emergência</strong> <br />
                        . Colagem de fragmentos dentários<br />
                        . Consulta odontológica de urgência<br />
                        . Consulta odontológica de urgência 24hs<br />
                        . Controle de hemorragia com aplicação de agente hemostático em região buco-maxilo-facial <br />
                        . Controle de hemorragia sem aplicação de agente hemostático em região buco-maxilo-facial<br />
                        . Incisão e drenagem extra-oral de abscesso, hematoma e/ou flegmão da região buco-maxilo-facial<br />
                        . Incisão e drenagem intra-oral de abscesso, hematoma e/ou flegmão da região buco-maxilo-facial<br />
                        . Pulpectomia<br />
                        . Recimentação de trabalhos protéticos<br />
                        . Redução simples de luxação de articulação témporo-mandibular (ATM)<br />
                        . Reembasamento de coroa provisória<br />
                        . Reimplante dentário com contenção <br />
                        . Remoção de dreno intra-oral<br />
                        . Restauração temporária / tratamento expectante<br />
                        . Sutura de ferida em região buco-maxilo-facial<br />
                        . Tratamento de alveolite<br />
                        . Tratamento de pericoronarite <br /><br />
    
                    <strong> Endodontia</strong><br />
                        . Curativo de demora em endodontia<br />
                        . Preparo para núcleo intrarradicular <br />
                        . Pulpotomia<br />
                        . Remoção de corpo estranho intracanal<br />
                        . Remoção de material obturador intracanal para retratamento endodôntico<br />
                        . Remoção de núcleo intrarradicular<br />
                        . Retratamento endodôntico burradicular<br />
                        . Retratamento endodôntico multirradicular<br />
                        . Retratamento endodôntico unirradicular<br />
                        . Tratamento de perfuração enfofôntica<br />
                        . Tratamento de perfuração endodôntica<br />
                        . Tratamento endodôntico de dente com rizogênese incompleta<br />
                        . Tratamento endodôntico birradicular<br />
                        . Tratamento endodôntico multirradicular<br />
                        . Tratamento endodôntico unirradicular <br /><br />
    
                    <strong>Odontopediatria</strong><br />
                        . Aplicação de cariostático<br />
                        . Aplicação de selante - técnica invasiva<br />
                        . Aplicação de selante de fóssulas e fissuras<br />
                        . Aplicação tópica de verniz fluoretado<br />
                        . Condicionamento em odontologia<br />
                        . Condicionamento em odontologia para pacientes com necessidades especiais<br />
                        . Controle de cárie incipiente<br />
                        . Coroa de acetato em dente decíduo<br />
                        . Coroa de acetato em dente permanente<br />
                        . Coroa de aço em dente decíduo<br />
                        . Coroa de aço em dente permanente<br />
                        . Estabilização de paciente por meio de contenção física e/ou mecânica<br />
                        . Estabilização por meio de contenção física e/ou mecânica em pacientes com necessidades especiais em odontologia<br />
                        . Exodontia simples de decíduo<br />
                        . Pulpotomia em dente decíduo<br />
                        . Remineralização dentária<br />
                        . Restauração atraumática em dente decíduo<br />
                        . Restauração atraumática em dente permanente<br />
                        . Tratamento endodôntico em dente decíduo<br />
                        . Periodontia<br />
                        . Acompanhamento de tratamento/procedimento cirúrgico em odontologia<br />
                        . Aumento de coroa clínica<br />
                        . Cirurgia odontológica a retalho<br />
                        . Cirurgia periodontal a retalho<br />
                        . Dessensibilização dentária<br />
                        . Enxerto gengival livre<br />
                        . Enxerto pediculado<br />
                        . Gengivectomia<br />
                        . Gengivoplastia<br />
                        . Imobilização dentária em dentes decíduos<br />
                        . Imobilização dentária em dentes permanentes<br />
                        . Raspagem sub-gengival.alisamento radicular<br />
                        . Raspagem supra-gengival<br />
                        . Remoção dos fatores de retenção do biofilme dental (placa bacteriana)<br />
                        . Tratamento de abscesso periodontal agudo<br />
                        . Tratamento de gengivite necrosante aguda - GUNA<br />
                        . Tunelização<br /><br />
    
                    <strong> Prevenção</strong><br />
                        Aplicação tópica de fluor<br />
                        Atividade educativa em odontologia para pais e/ou cuidadores de pacientes com necessidades especiais<br />
                        Atividade educativa em saúde bucal<br />
                        Atividade educativa para pais e /ou cuidadores<br />
                        Controle de biogilme (placa bacteriana)<br />
                        Profilaxia: polimento coronário<br />
                        Teste de fluxo salivar<br />
                        Teste de PH salivar<br /><br />
    
                    <strong> Prótese dentária</strong><br />
                        . Coroa provisória com pino<br />
                        . Coroa provisória sem pino<br />
                        . Coroa total em cerômero (Conforme diretriz da ANS (somente para dentes anteriores)<br />
                        . Coroa total metálica<br />
                        . Núcleo de preenchimento<br />
                        . Núcleo metálico fundido<br />
                        . Pino pré fabricado<br />
                        . Provisório para restauração metálica fundida<br />
                        .  Restauração metálica fundida<br /><br />
    
                    <strong>Radiologia</strong><br />
                        . Levantamento Radiográfico (exame radiotôntico)<br />
                        . Radiografia interproximal-bite-wing<br />
                        . Radiografia oclusal<br />
                        . Radiografia panorâmica de mandibula/maxila (ortopantomografia)<br />
                        . Radiografia periapical<br /><br />
    
                    <strong>Periodontia</strong><br />
                        . Acompanhamento de tratamento/procedimento cirúrgico em odontologia<br />
                        . Aumento de coroa clínica<br />
                        . Cirurgia odontológica a retalho<br />
                        . Cirurgia periodontal a retalho<br />
                        . Dessensibilização dentária<br />
                        . Enxerto gengival livre<br />
                        . Enxerto pediculado<br />
                        . Gengivectomia<br />
                        . Gengivoplastia<br />
                        . Imobilização dentária em dentes decíduos<br />
                        . Imobilização dentária em dentes permanentes<br />
                        . Raspagem sub-gengival.alisamento radicular<br />
                        . Raspagem supra-gengival<br />
                        . Remoção dos fatores de retenção do biofilme dental (placa bacteriana)<br />
                        . Tratamento de abscesso periodontal agudo<br />
                        . Tratamento de gengivite necrosante aguda - GUNA<br />
                        . Tunelização<br /><br />
                        
                    <strong> Prevenção</strong><br />
                        . Aplicação tópica de fluor<br />
                        . Atividade educativa em odontologia para pais e/ou cuidadores de pacientes com necessidades especiais<br />
                        . Atividade educativa em saúde bucal<br />
                        . Atividade educativa para pais e /ou cuidadores<br />
                        . Controle de biogilme (placa bacteriana)<br />
                        . Profilaxia: polimento coronário<br />
                        . Teste de fluxo salivar<br />
                        . Teste de PH salivar<br /><br />
                        
                    <strong> Prótese dentária</strong><br />
                        . Coroa provisória com pino<br />
                        . Coroa provisória sem pino<br />
                        . Coroa total em cerômero (Conforme diretriz da ANS (somente para dentes anteriores)<br />
                        . Coroa total metálica<br />
                        . Núcleo de preenchimento<br />
                        . Núcleo metálico fundido<br />
                        . Pino pré fabricado<br />
                        . Provisório para restauração metálica fundida<br />
                        . Restauração metálica fundida<br /><br />
                        
                    <strong>Radiologia</strong><br />
                        . Levantamento Radiográfico (exame radiotôntico)<br />
                        . Radiografia interproximal-bite-wing<br />
                        . Radiografia oclusal<br />
                        . Radiografia panorâmica de mandibula/maxila (ortopantomografia)<br />
                        . Radiografia periapical<br /><br />
                </p>
                </div>
                <div id="menu2" class="tab-pane fade">
                <h3>Integral DOC LE</h3>
                <p>
                        <strong>Cirurgia</strong>	<br />
                        . Cirurgia odontológica com aplicação de aloenxertos<br />
                        . Consulta de Especialista em Estomatologia<br />
                        . Reduçao de Tuberosidade<br />
                        . Remoção de corpo estranho no seio maxilar<br />
                        . Tracionamento cirúrgico com finalidade ortodôntica<br /><br />
                        
                        <strong>Dentística</strong><br />
                        . Consulta para Técnica de Clareamento Dentário Caseio<br />
                        . Núcleo de preenchimento para restauração<br />
                        . Restauração de pino<br /><br />
                        
                        <strong>Emergência</strong><br />
                        . Tratamento conservador de luxução de articulação têmpero-mandibular-ATM<br /><br />
                        
                        <strong>Endodotia</strong><br />
                        . Clareamento de dente desvitalizado<br /><br />
                        
                        <strong>Odontologia Legal</strong><br />
                        Consulta odontológica para avaliação técnica de auditoria<br /><br />
                        
                        <strong>Odontopediatria</strong><br />
                        Adequação de meio bucal <br />
                        Mantenedor de espaço fixo<br />
                        Mantenedor de espaço removível<br /><br />
                        
                        <strong>Periodontia</strong><br />
                        . Consulta de Especialista em Periodontia<br />
                        . Enxerto conjuntivo subepitelial<br />
                        . Manutenção Periodontal<br />
                        . Sepultamento radicular<br /><br />
                        
                        <strong>Prevenção</strong><br />
                        . Teste de capacidade tampão da saliva<br />
                        . Teste de contagem microbiótica<br /><br />
    
                        <strong>Prótese Dentária</strong><br />
                        . Coroa total acrílica prensada<br /><br />
                        
                        <strong>Radiologia</strong><br />
                        Discrepância de modelos<br />
                        . Documentação ortodôntica básica: radiografia panorâmica básica, tele com traçado e modelos ortodônticos<br />
                        . Documentação ortodôntica completa: radiografia panorâmica, tele com traçado, modelos ortodônticos, 7 fotos ou slides e anealise cefalométrica extra<br />
                        . Documentação ortodôntica de controle: panorâmica com 5 fotos (1 extra bucais, 3 intra-bucais)<br />
                        . Documentação ortodôntica Especial: documentação ortodônica completa mais tele frontal, traçado frontal e análise de erupção de 3o molares)<br />
                        . Documentação ortodôntica ortopédica: panorâmica, telerradiografia, análise e traçado cefalométrico, modelos de estudo, modelos de trabalho, análise de modelos, caixa p/ modelos, pasta, mão e punho (índice carpal), fotos (1 extra, 3 intra bucais, perfil e lateralidade) ou slides (máximo 9)<br />
                        . Documentação periodontal (panorâmica com traçado, levantamento periapical, interproximais, fotos -2 extra e 3 intra bucais, modelos, caixa para modelos e pasta)<br />
                        . Fotografia<br />
                        . Modelos de trabalho<br />
                        . Modelos orodônticos<br />
                        . Panorâmica + modelos ortodônticos<br />
                        . Panorâmica Especial para ATM<br />
                        . Radiografia da ATM<br />
                        . Radiografia da mão e punho-carpal<br />
                        . Radiografia panorâmica de mandibula/maxila (ortopantomografia) com traçado cefalométrico<br />
                        . Slide<br />
                        . Ténica de localização radiográfica<br />
                        . Telerradiografia<br />
                        . Telerradiografia com traçado cefalométrico<br />
                        . Traçado cefalométrico<br /><br />
                </p>
                </div>
                <div id="menu3" class="tab-pane fade">
                <h3>Master LE</h3>
                <p>
                        <strong>Cirurgia</strong>	<br />
                        . Cirurgia odontológica com aplicação de aloenxetos <br />
                        . Consulta de Especialista em Estomatologia<br />
                        . Redução de Tuberosidade<br />
                        . Remoção de corpo estranho no seio maxilar<br />
                        . Tracionamento cirúrgico com finalidade ortodôntica<br /><br />
    
                    <strong>Dentística</strong><br />
                        . Consulta para Técnica de Clareamento Dentário Caseiro<br />
                        . Núcleo de preenchimento para restauração<br />
                        . Restauração de pino<br /><br />
    
                    <strong>Emergência</strong><br />
                        . Clareamento de dente descitalizado<br /><br />
    
                    <strong>Ortodontia</strong><br />
                        . Placa oclusal resiliente<br />
                        . Aparelho extra-bucal<br />
                        . Aparelho ortodôntico fixo metálico<br />
                        . Aparelho ortodôntico fixo metálico parcial<br />
                        . Aparelho removível com alças bionator invertida ou de Escheler<br />
                        . Arco lingual<br />
                        . Barra transpalatina fixa<br />
                        . Barra transpalatina removível<br />
                        . Botão de Nance<br />
                        . Contenção fixa por arcada<br />
                        . Disjuntor palatino - Hirax<br />
                        . Disjuntor palatino - Macnamara<br />
                        . Distalizador com mola nitinol<br />
                        . Distalizador de Hilgers<br />
                        . Distalizador Distal Jet<br />
                        . Distalizador Pendulo/Pendex<br />
                        . Distalizador tipo Jones Jig<br />
                        . Gianelly<br />
                        . Grade palatina fixa<br />
                        . Grade palatina removível <br />
                        . Manutenção de aparelho ortodôntico - aparelho fixo<br />
                        . Manutenção de aparelho ortodôntico - aparelho ortopédico<br />
                        . Manutenção de aparelho ortodôntico - aparelho removível<br />
                        . Mentoneira<br />
                        . Placa de distalização de molares<br />
                        . Placa de Hawley<br />
                        . Placa de Hawley - com torno expansor<br />
                        . Placa de mordida ortodôntica<br />
                        . Placa de verticalização de caninos<br />
                        . Placa encapsulada de Maurício<br />
                        . Placa Lábio-ativa<br />
                        . Plano anterior fixo<br />
                        . Plano inclinado<br />
                        . Quadrihélice<br />
                        . Estudo e Planejamento Ortodôntico<br />
                        . Recuperador de Espaço <br /><br />
    
    
                    <strong> Odontologia Legal</strong><br />
                        . Consulta odontológica para avaliação técnica de auditoria<br /><br />
                        . Ortopedia Funcional de Maxilares<br />
                        . Aparelho de Klammt<br />
                        . Aparelho de Thurow<br />
                        . APM - Aparelho de Protação Mandibular<br />
                        . Bionator de Balters<br />
                        . Blocos geminados de Clark-twinblock<br />
                        . Herbst encapsulado<br />
                        . Máscara facial-Delaire e Tração Reversa<br />
                        . Modelador elástico de Bimler<br />
                        . Monobloco<br />
                        . Pistas diretas de Planas - superior e inferior<br />
                        . Pistas indiretas de Planas<br />
                        . Placa dupla de Sanders<br />
                        . Regulador de função de Frankel<br />
                        . Simões Network<br />
                        . Splinter<br /><br />
                        
                    <strong>Odontopediatria</strong><br />
                        . Adequação do meio bucal<br />
                        . Mantenedor de espaço fixo<br />
                        . Mantenedor de espaço removível<br /><br />
                        
                        <strong>Periodontia</strong><br />
                        . Consulta de especialista em periodontia<br />
                        . Enxerto conjuntivo subepitelial<br />
                        . Manutenção Periodontal<br />
                        . Sepultamento radicular<br /><br />
    
                        <strong>Prevenção</strong><br />
                        . Teste de capacidade tampão da saliva<br />
                        . Teste de contagem microbiológica<br /><br />
    
                        <strong>Prótese</strong><br />
                        . Conserto em prótese parcial removível (em consultório e em laboratório)<br />
                        . Conserto em prótese total (em consultório e em laboratório)<br />
                        . Consulta de Especialista em prótese<br />
                        . Coroa ¾ ou ⅘<br />
                        . Coroa total acrílica prensada<br />
                        . Coroa total em cerâmica pura<br />
                        . Coroa total total metalo cerâmica<br />
                        . Coroa total metalo plástica - cerômero<br />
                        . Coroa total metalo plástica - resina acrílica<br />
                        . Coroa Veneer<br />
                        . Faceta em cerâmica pura<br />
                        . Facera em cerômero<br />
                        . Laminado em resina<br />
                        . Órtese miorrelaxante (placa oclusal estabilizadora)<br />
                        . Placa de Acetato para Clareamento Caseiro<br />
                        . Prótese fixa adesiva em cerômero livre de metal (metal free)<br />
                        . Prótese fixa adesiva indireta em metalo cerâmica<br />
                        . Prótese fixa adesiva indireta em metalo plástica<br />
                        . Prótese parcial fixa em cerômero livre de metal (metal free)<br />
                        . Prótese parcial fixa em metalo cerâmica<br />
                        . Prótese parcial fixa em metalo plástica<br />
                        . Prótese parcial fixa eIn Ceran libre de metal (metal free)<br />
                        . Prótese parcial fixa provisória<br />
                        . Prótese parcial removível com encaixes de precisão ou de semi precisão<br />
                        . Prótese parcial removível com grampos bilateral<br />
                        . Prótese parcial removível provisória em acrílico com ou sem grampos<br />
                        . Protese total<br />
                        . Protese total imediata<br />
                        . Protese total incolor<br />
                        . Reembasamento de prótese total ou parcial - imediato (em consultório)<br />
                        . Reembasamento de prótese total ou parcial - mediato (em laboratório)<br />
                        . Restauração em cerâmica pura - inlay<br />
                        . Restauração em cerâmica pura - onlay<br />
                        . Restauração em cerômero pura - inlay<br />
                        . Restauração em cerômero pura - onlay<br />
                        . Restauração em resina (indireta) - inlay<br />
                        . Restauração em resina (indireta) - onlay<br /><br />
    
                        <strong>Radiologia</strong><br />
                        . Documentação periodontal (panorâmica com traçado, levantamento periapical interproximais, fotos -2 extra e 3 intra bucais, modelos, caixa para modelos e pasta)<br />
                        . Panorâmica Especial para ATM<br />
                        . Radiografia da ATM<br />
                        . Radiografia da mão e punho - carpal<br />
                        . Radiografia panorâmica de mandibula/maxila (ortopantomografia) com traçado cefalométrico<br />
                        . Técnica de Localzação radiográfica<br />
                        . Telerradiografia<br />
                        . Telerradiografia com traçado cefalométrico<br />
                        . Discrepância de modelos<br />
                        . Documentação ortodôntica básica: radiografia panorâmica básica, tele com traçado e modelos ortodônticos<br />
                        . Documentação ortodôntica completa: radiografia panorâmica básica, tele com traçado, modelos ortodônticos de controle: panorâmica com 5 fotos (2 extra-bucais, 3 intra-bucais)<br />
                        . Documentação ortodôntica Especial: documentação ortodôntica completa mais tele frontal, traçado frontal e análise de erupção de 3o molares<br />
                        . Documentação ortodôntica ortop´dica: panorâmica, telerradiografia, análise e traçado cefalométrico, modelos de estudo, modelo de trabalho, análise de modelos, caixa para modelos, paras, mão e punho (índice carpal), fotos (2 exta, 3 intrabucais, perfil e lateralidade) ou slides (máximo 9)<br />
                        . Fotografia<br />
                        . Modelos de trabalho<br />
                        . Modelos ortodônticos<br />
                        . Panorâmica + modelos ortodônticos<br />
                        . Slide<br />
                        . Tomografia convencional - linear ou multi-direcional<br />
                        . Traçado Cefalométrico<br /><br />
    

                </p>
                </div>
            </div>
         </div>
                  


    </div>

    <div th:replace="fragments/footer :: footer">&nbsp;</div>
</div>
<script type="text/javascript" th:src="@{/js/setColorMenuCorretor.js}"></script>
</body>
</html>