<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head><title>OdontoPrev</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" th:href="@{/img/odpv.PNG}" type="image/png">
    <!-- As 3 meta tags acima * devem * vir primeiro na cabeça; qualquer outro conteúdo principal deve vir * após * estas tags -->


    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/sweetalert.css}"/>
    <!-- 		<link href="css/estiloOdontoPrev.css" rel="stylesheet"> -->
    <script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.mask.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/odonto-Valida.js}"></script>
    <script type="text/javascript" th:src="@{/js/scripts.js}"></script>
    <script type="text/javascript" th:src="@{/js/sweetalert.min.js}"></script>
</head>
<body>



<form th:action="@{/login}" method="POST">
    <div class="container-cadastro">
        <img th:src="@{/img/logo-mobile.png}" class="img-logo-odonto logoOdonto">
        <div class="ajuste-forme">
            <h1 class="font-blue text-center">
                <strong>Bem-vindo</strong>
            </h1>

            <div class="sub-title-index font-silver-index text-center">
                <p>ao Sistema de Vendas para Parceiros Exclusivos OdontoPrev</p>
            </div>

            <div class="form-group width-form space-top-35">
                <label class="label-cpfcnpj uppercase">cpf/cnpj </label>
                <input type="text" id="cpfcnpj" class="cpfcnpj form-control" name="username"/>
            </div>

            <div class="form-group width-form space-top-15">
                <label class="label-password">SENHA</label>
                <div>
                    <img th:src="@{/img/senha-1@2x.png}" class="img-senha" align="right">
                    <input type="password" id="senha-index" class="password form-control" name="password"/>
                </div>
            </div>

            <div class="space-top-40">
                <button type="submit" class="btn btn-entrar-index r-medium">ENTRAR</button>
            </div>
            <div class="space-top-15">
                <a type="button" class="btn btn-meCadastrar-index r-medium" href="/cadastro">PRIMEIRO ACESSO</a>
            </div>
            <div class="space-top-15">
                <a type="button" class="btn btn-link btnEsqueciSenha r-medium" href="/recuperar_senha">Esqueci minha senha</a>
            </div>
            <p></p>
        </div>
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function() {

        try {

            let oBrowser = get_browser();
            let versionBroswer = parseFloat(oBrowser.version == null ? 0 : oBrowser.version);

            if(oBrowser.name == "Chrome" && versionBroswer < 65) {

                swal({
                        title: "Ops!\n Navegador desatualizado",
                        text: "Atualize seu navegador para conseguir utilizar todas as funcionalidades disponíveis.",
                        type: "warning",
                        confirmButtonClass: "btn-danger",
                        confirmButtonColor: "#1974CE",
                        confirmButtonText: "Atualizar",
                        cancelButtonText: "Sair",
                        showCancelButton: true,
                        closeOnConfirm: false,
                        closeOnCancel: true
                    },
                    function (isConfirm) {
                        if (isConfirm) {

                            window.open("https://www.google.com/chrome/");

                        }
                    })
            }
        }
        catch (Exception) {

        }


        $( ".img-senha" ).mousedown(function() {
            $("#senha-index").attr('type', 'text');
            console.log("display senha");
        });

        $( ".img-senha" ).mouseup(function() {
            $("#senha-index").attr("type", "password");
            console.log("ocultar senha");
        });


    });

    function get_browser() {
        try {
            var ua = navigator.userAgent, tem,
                M = ua.match(/(opera|chrome|safari|firefox|msie|trident(?=\/))\/?\s*(\d+)/i) || [];
            if (/trident/i.test(M[1])) {
                tem = /\brv[ :]+(\d+)/g.exec(ua) || [];
                return {name: 'IE', version: (tem[1] || '')};
            }
            if (M[1] === 'Chrome') {
                tem = ua.match(/\bOPR|Edge\/(\d+)/)
                if (tem != null) {
                    return {name: 'Opera', version: tem[1]};
                }
            }
            M = M[2] ? [M[1], M[2]] : [navigator.appName, navigator.appVersion, '-?'];
            if ((tem = ua.match(/version\/(\d+)/i)) != null) {
                M.splice(1, 1, tem[1]);
            }
            return {
                name: M[0],
                version: M[1]
            };
        }catch (Exception){}
    }
</script>

</body>


</html>
