<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br"
      xmlns="http://www.w3.org/1999/xhtml">

<head><title>OdontoPrev</title>
    <meta charset="UTF-8">
    <link rel="shortcut icon" th:href="@{/img/odpv.PNG}" type="image/png"/>
    <!--<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/slick/slick.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/slick/slick-theme.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/sweetalert.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/odontoprev.css}"/>

    <!-- 		<link href="css/estiloOdontoPrev.css" rel="stylesheet"> -->
    <script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.mask.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/odonto-Valida.js}"></script>
    <script type="text/javascript" th:src="@{/js/setColorMenuCorretor.js}"></script>
    <script type="text/javascript" th:src="@{/js/sweetalert.min.js}"></script>

    <script type="text/javascript" th:src="@{/js/menu.js}"></script>
    <!--<script type="text/javascript"-->
    <!--th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js}"></script>-->

    <script>
        $(function () {
            $(".button-collapse").sideNav();


        });

        $(document).ready(function () {
            $(".thumb").click(function () {

                swal({
                    title: "Aguarde",
                    text: 'Estamos carregando sua imagem',
                    content: "input",
                    imageUrl: "img/icon-aguarde.gif",
                    showCancelButton: false,
                    showConfirmButton: false,
                    icon: "info",
                    button: {
                        text: "...",
                        closeModal: false,
                    },
                });

                //TODO: Implementar chamada no controller
                let codMat = $(this).data("id");
                console.log("metodo - callfilefull");
                $.ajax({
                    async: true,
                    url: "/arquivo/?id=" + codMat,
                    method: "GET",
                    headers: {
                        "Cache-Control": "no-cache",
                    },
                    success: function (resp) {
                        $("." + codMat).attr("src", "data:image/jpg;base64, " + resp);
                        swal.close();
                    },
                    error: function (xhr) {
                        console.log(xhr)
                    }
                });
            });
        });
    </script>

    <style type="text/css">
        .scrolly {
            width: 99%;
            height: auto;
            overflow: auto;
            overflow-y: hidden;
            white-space: nowrap;
            display: -webkit-box;
        }

        table, tr, td {
            padding: 0px;
            border: 0px;
            margin: 0px;
        }

        tr td {
            padding: 4px !important;
        }

        .imgFace {
            width: auto;
            height: auto;
            margin: 20px 10px;
            display: inline-block;
        }

        .modal-brandporto {
            width: auto;
            height: auto;
            margin: auto;
            display: table;
        }
    </style>

</head>

<body style="min-width: 100% !important;">

<div class="container-fluid nopadding">

    <div th:switch="${session.usuario.perfil}">
        <div th:case="'Corretor'">
            <div th:replace="fragments/menu-corretor :: menu-corretor">&nbsp;</div>
            <div th:replace="fragments/header-corretor :: header-corretor">&nbsp;</div>
        </div>
        <div th:case="'Corretora'">
            <div th:replace="fragments/menu-corretora :: menu-corretora">&nbsp;</div>
            <div th:replace="fragments/header-corretora :: header-corretora">&nbsp;</div>
        </div>
    </div>

    <div class="container-logado padding-logado">

        <div class="row col-xs-12">
            <div class="uppercase font-blue title-section-odonto space-top-30 space-bottom-30">
                <label>MATERIAIS DE DIVULGAÇÃO</label>
            </div>
        </div>
        <div th:each="categorias : ${materiaisDivulgacao.categoriasMaterialDivulgacao} ">
            <div class="row col-xs-12">
                <div class="uppercase font-blue title-section-odonto space-top-30 space-bottom-10"
                     th:if="*{categorias.nome != null}" th:text="${categorias.nome}"/>
            </div>
            <div class="row col-xs-12">
                <div th:if="${categorias.descricao != null}">
                    <label class="text-silver space-top-10" th:text="${categorias.descricao}"
                           style="font-size: 19px;"></label></div>
            </div>

            <div th:each="subCategorias : ${categorias.subCategoriasMaterialDivulgacao} ">
                <div class="row col-xs-12">
                    <div th:if="${subCategorias.nome != null}" class="text-categoria space-top-30 space-bottom-10"
                         th:text="${subCategorias.nome}">
                    </div>
                </div>
                <div class="row col-xs-12">
                    <div th:if="${subCategorias.descricao != null}" class="text-categoria space-top-30"
                         th:text="${subCategorias.descricao}">
                    </div>
                </div>
                <div class="scrolly space-bottom-60">
                    <div th:each="materiais : ${subCategorias.materiaisDivulgacao} ">
                        <div style="float: left; display: inline-block">
                            <table>
                                <tr>
                                    <td>
                                        <a href="#" id="linkBlue"
                                           th:attr="data-id=${materiais.codigoMaterialDivulgacao}"
                                           data-toggle="modal" class="thumb"
                                           th:attrappend="data-target='#' + ${materiais.codigoMaterialDivulgacao}">
                                            <img class="imgFace img-responsive" id="linkBlue"
                                                 th:if="*{materiais.thumbnail != null}"
                                                 th:src="@{'data:image/jpg;base64,' + *{T(org.springframework.util.Base64Utils).encodeToString(materiais.thumbnail)}}"/></a>
                                        <!-- INICIO - Modal -->
                                        <div class="modal fade" th:attr="id=${materiais.codigoMaterialDivulgacao}"
                                             role="dialog">
                                            <div class="modal-brandporto">
                                                <div class="imgBtnExcluir" id="closeModalDependentes">
                                                    <img th:src="@{/img/btn-excluir.png}" class="btnExcluir"
                                                         data-dismiss="modal">
                                                </div>
                                                <div class="modal-content">
                                                    <div class="modal-header"></div>
                                                    <div class="modal-body md-form">
                                                        <div style="position: relative">
                                                            <table>
                                                                <tr>
                                                                    <td><img class="img-responsive "
                                                                             th:attrappend="class=${materiais.codigoMaterialDivulgacao}"
                                                                             th:src="@{'data:image/jpg;base64,' + *{T(org.springframework.util.Base64Utils).encodeToString(file)}}"/>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <a th:href="@{materiaisDownload/(id=${materiais.codigoMaterialDivulgacao})}">
                                                                            <label th:text="Download"
                                                                                   id="linkBlue"></label>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- FIM -->
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="text-odonto" th:if="${materiais.descricao != null}"
                                              th:text="${materiais.descricao}"/></td>
                                </tr>
                                <tr>
                                    <td>
                                        <a th:href="@{materiaisDownload/(id=${materiais.codigoMaterialDivulgacao})}">
                                            <label th:text="Download" id="linkBlue"/></a>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div th:replace="fragments/footer :: footer">&nbsp;</div>
</div>
</body>
</html>