<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">
<head><title>OdontoPrev</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Language" content="pt-br">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/odontoprev.css" rel="stylesheet">
    <link href="css/sweetalert.css" rel="stylesheet"/>
    <link href="css/main.css" rel="stylesheet"/>
</head>

<body>
<!-- Bloco 1 -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 odontBoxCenter">
            <div class="text-center">
                <div>
                    <h1 class="titleOdont text-center">
                        PROPOSTA ENVIADA
                    </h1>
                    <h2 class="subTitleOdont text-center">
                        Acesse a lista de proposta para acompanhar os status das suas vendas!
                    </h2>
                </div>
            </div>
        </div>
    </div>

    <!-- TODO: Corrigir cdEmpresa arquivoContratacao -->
    <div class="row">
        <div class="col-sm-12 btnPadBtmTop wrapper">
            <a class="btn btn-lg btn-block btnOdont uppercase"
               id="baixarContrato" role="button">BAIXAR DETALHES DA CONTRATAÇÃO</a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 wrapper margin-top-70">
            <a type="button" class="btn btn-link btnListaProposta r-medium" href="/lista-propostas" target="_parent">IR PARA LISTA DE
                PROPOSTAS</a>
        </div>
    </div>

</div>
<!-- End Bloco 1 -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/scripts.js"></script>
<script src="js/odontoprev.js"></script>
<script src="js/jquery.3.2.1.js"></script>
<script src="js/jquery.mask.min.js"></script>
<script src="js/odonto-Valida.js"></script>
<script src="js/sweetalert.min.js"></script>
<script src="app/coordenador.js"></script>
<script src="app/pmeSucessoController.js"></script>
<script> resizeIframe('frame_pf');</script>
</body>
</html>