<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br"
      xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" th:href="@{/img/odpv.PNG}" type="image/png"/>

    <meta http-equiv="Content-Language" content="pt-br">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/odontoprev.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/sweetalert.css}"/>
</head>
<body>
<!-- Bloco 1 -->
<div class="container-fluid" id="loadingRecuperacaoSenha">
    <div class="row loadingBack hide">
        <div class="col-md-12">
            <img th:src="@{img/loading.gif}" class="" id="" align="center">
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 boxHeader">
            <div class="col-md-12 text-center imgLogoODPVHeader">
                <img th:src="@{img/logoODPV-header.png}" class="" alt="Logo ODPV Header">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 odontBoxCenter">
            <h1 class="titleOdont text-center">
                RECUPERAR SENHA
            </h1>
            <h2 class="subTitleOdont text-center">
                Insira o número do seu CPF/CNPJ
            </h2>
            <div class="col-sm-offset-4 col-sm-4 boxLabInput">
                <div>
                    <label class="label-cpf labelOdontBlur">CPF/CNPJ</label>
                </div>
                <div>
                    <input id="cpfcnpj" type="tel" class="inputLabelBlur" maxlength="18">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-4 col-sm-4">

            <a class="btn btn-lg btn-block btnOdont" style="margin-top: 50px;" id="continuarRecuperacaoDeSenha"
               role="button">CONTINUAR</a>
        </div>
    </div>
</div>
<!-- End Bloco 1 -->

<!-- Bloco 2 -->
<div class="container-fluid hide" id="senhaEnviada">
    <div class="row loadingBack hide">
        <div class="col-md-12">
            <img th:src="@{img/loading.gif}" class="" id="" align="center">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 boxHeader">
            <div class="col-md-12 text-center imgLogoODPVHeader">
                <img th:src="@{img/logoODPV-header.png}" class="" alt="Logo ODPV Header">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 odontBoxCenter">
            <h1 class="titleOdont text-center" style="margin-top: 50px;">
                RECUPERAR SENHA
            </h1>
            <h2 class="subTitleOdont text-center" style="margin-top: 50px;">
                Um link para redefinir sua senha foi enviado para o e-mail
            </h2>
            <h2 class="subTitleOdont text-center" id="emailRecuperacao" style="overflow-wrap: break-word;">

            </h2>
            <h2 class="subTitleOdont text-center" style="margin-top: 25px;">
                Acesse e finalize o processo.
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            <a href="/login" class="btn btn-lg btn-block btnOdont" style="margin-top: 100px;" id="voltarIndex"
               role="button">VOLTAR</a>
        </div>
    </div>
</div>
<!-- End Bloco 2 -->

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/odontoprev.js"></script>
<script src="js/jquery.3.2.1.js"></script>
<script src="js/jquery.mask.min.js"></script>
<script src="app/coordenador.js"></script>
<script src="js/odonto-Valida.js"></script>
<script type="text/javascript" charset="utf-8" src="app/recuperarSenhaController.js"></script>
<script type="text/javascript" charset="utf-8" src="js/sweetalert.min.js"></script>
</body>
</html>