<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <!--<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>

    <script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.mask.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/odonto-Valida.js}"></script>
    <script type="text/javascript" th:src="@{/js/menu.js}"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/odontoprev.css" rel="stylesheet">
    <link href="css/sweetalert.css" rel="stylesheet" />
<script>

    function mapa(abc) {



        var latlng = { lat: -23.5432147, lng: -46.7356894 };
        //initMap(latlng);

        if (abc == null) {
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 4,
                center: latlng,
                disableDefaultUI: true
            });
        }
        else if (abc != null) {
            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 13,
                center: { lat: parseFloat(abc.dentistas[0].endereco.cidade.latitude), lng: parseFloat(abc.dentistas[0].endereco.cidade.longitude) },
                disableDefaultUI: true
            });

            for (var i = 0; i < abc.dentistas.length; i++) {
                var latlng2 = new google.maps.LatLng((abc.dentistas[i].endereco.cidade.latitude), (abc.dentistas[i].endereco.cidade.longitude));

                var marker = new google.maps.Marker({
                    position: latlng2,
                    map: map,
                    center: latlng2
                });


                var infowindow = new google.maps.InfoWindow();


                google.maps.event.addListener(marker, 'click', (function (marker, i) {
                    return function () {
                        //console.log("Dentro da funcão Click:  " + contentString[i]);
                        //infowindow.setContent('<div><strong>' + abc.dentistas[i].nomeDentista + '</strong><br>');
                        //infowindow.open(map, marker);

                        document.getElementById('nomeDentista').innerHTML = abc.dentistas[i].nomeDentista;
                        document.getElementById('croDentista').innerHTML = abc.dentistas[i].numeroCRO;
                        document.getElementById('especialidadeDentista1').innerHTML = abc.dentistas[i].especialidade.descricaoEspecialidade;
                        document.getElementById('especialidadeDentista1').innerHTML = abc.dentistas[i].especialidade.descricaoEspecialidade;
                        document.getElementById('enderecoDentista').innerHTML = abc.dentistas[i].endereco.enderecoCompleto;
                        document.getElementById('cepDentista').innerHTML = abc.dentistas[i].endereco.cep;
                        document.getElementById('telefoneDentista').innerHTML = abc.dentistas[i].numeroFone;
                        document.getElementById('tipoPessoaDentista').innerHTML = abc.dentistas[i].tipoPrestador;

                        $("#btnModal").click();
                    }
                })(marker, i));
            }
        }




    }

</script>
</head>

<body style="min-width: 100% !important;">

<div class="container-fluid nopadding">

    <div th:switch="${session.usuario.perfil}">
        <div th:case="'Corretor'">
            <div th:replace="fragments/menu-corretor :: menu-corretor">&nbsp;</div>
            <div th:replace="fragments/header-corretor :: header-corretor">&nbsp;</div>
        </div>
        <div th:case="'Corretora'">
            <div th:replace="fragments/menu-corretora :: menu-corretora">&nbsp;</div>
            <div th:replace="fragments/header-corretora :: header-corretora">&nbsp;</div>
        </div>
    </div>

    <div class="container-logado padding-logado">

        <!-- Bloco 1 -->

            <div class="row">
                <div class="col-md-12 odontBoxCenter">
                    <div class="text-center">
                        <div>
                            <h1 class="titleOdont text-center">
                                REDE CREDENCIADA
                            </h1>
                            <h2 class="subTitleOdont text-center">
                                Encontre um dentista para o seu cliente
                            </h2>
                        </div>
                    </div>

                    <div class="boxLabInput">

                        <!--<div>
                            <label class="label-cep labelOdontBlur">CEP</label>
                            <label class="col-md-6 text-right"><span class=""><h5 id="labelCep"></h5></span></label>
                        </div>
                        <div>
                            <input type="text" class=" cep inputLabelBlur" id="cep">
                        </div>-->
                        <!--<div>
                            <label class="label-bairro labelOdontBlur">BAIRRO</label>
                        </div>
                        <div>
                            <input type="text" class="bairro inputLabelBlur" id="bairro">
                        </div>-->
                        <!--<div>
                            <label class="label-cidade labelOdontBlur">CIDADE</label>
                        </div>
                        <div>
                            <input type="text" class="cidade inputLabelBlur" id="cidade">
                        </div>-->

                        <div class="form-group">
                            <label for="" class="label-especialidade labelOdontBlur">ESPECIALIDADES</label>
                            <select class="form-control especialidade selectListBlur" id="especs"></select>
                        </div>

                        <div class="form-group">
                            <label for="" class="label-estado labelOdontBlur">ESTADO</label>
                            <select class="form-control estado selectListBlur" id="estados"></select>
                        </div>

                        <div class="form-group">
                            <label for="" class="label-cidade labelOdontBlur">CIDADE</label>
                            <select class="form-control cidade selectListBlur" id="cidades"></select>
                        </div>

                        <div class="form-group">
                            <label for="" class="label-bairro labelOdontBlur">BAIRRO</label>
                            <select class="form-control bairro selectListBlur" id="bairros"></select>
                        </div>

                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-12 btnPadBtm">
                    <!--<a class="btn btn-lg btn-block btnOdont" id="" data-toggle="modal" data-target="#myModal" role="button">BUSCAR</a>-->
                    <button class="btn btn-lg btn-block btnOdont" id="btnBuscar">BUSCAR</button>
                </div>
            </div>

            <div id="map" class="nopadding">
                <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJVbswYP8yLVKCQGtTN3Xsifugqm8BBkQ&callback=mapa">
                </script>
            </div>

        </div>


        <!-- End Bloco 1 -->
        <button type="button" class="btnModal" data-backdrop="static" style="border:1px solid white; background-color: transparent;" id="btnModal" data-toggle="modal" data-target="#myModal" BotaoModal</button>
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modalConteiner">
                <div class="imgBtnExcluir">
                    <img src="img/btn-excluir.png" class="btnExcluir" alt="">
                </div>
                <div class="modal-content">
                    <div class="modal-header-OdontMed">
                        <div class="">
                            <span class="labelBoldModal"><h2 id="nomeDentista"></h2></span>
                        </div>
                        <div>
                            <span class="labelLightModal">CRO:<h5 id="croDentista"></h5></span>
                            <label class="labelLightModal"><h5 id="tipoPessoaDentista"></h5></label>
                            <!--<span class="labelLightModal">Pessoa Física</span>-->
                        </div>
                    </div>
                </div>
                <div class="col-md-12 labelBoldModalPlano"><span></span></div>
                <div class="modal-body-OdontMed">
                    <div class="row">
                        <label class="labelBoldTitleModal">Especialidades</label>
                        <div class="text-center">
                            <label><img src="img/Protese.png" class="" alt=""><p><h5 id="especialidadeDentista1" style="color:gray"></h5></p></label>
                            <!--<label><img src="img/Ortodontia.png" class="" alt=""><p>_</p></label>-->
                            <!--<label><img src="img/Consulta.png" class="" alt=""><p>_</p></label>-->
                            <!--<label><img src="img/Cirurgia.png" class="" alt=""><p>_</p></label>-->
                        </div>
                    </div>
                </div>
                <div class="modal-footer-OdontMed">
                    <div>
                        <label class="labelBoldPink">Endereço</label>
                        <p class="labelBold"><h5 id="enderecoDentista" style="color:gray"></h5></p>
                        <p class="labelBold"><h5 id="cepDentista" style="color:gray"></h5></p>
                    </div>
                    <div>
                        <label class="labelBoldPink">Contato</label>
                        <p class="labelBold"><h5 id="telefoneDentista" style="color:gray"></h5></p>
                        <!--<p class="labelBold">contato@doutorajuliana.com.br</p>-->
                        <!--<p class="labelBold">www.doutorajuliana.com.br</p>-->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Modal -->





        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/scripts.js"></script>
        <script src="js/odontoprev.js"></script>
        <script src="js/jquery.3.2.1.js"></script>
        <script src="js/jquery.mask.min.js"></script>
        <script src="js/odonto-Valida.js"></script>
        <script src="js/sweetalert.min.js"></script>
        <script src="app/coordenador.js"></script>
        <script src="app/redeCredenciadaController.js"></script>







    </div>

        <div th:replace="fragments/footer :: footer">&nbsp;</div>

</div>

</body>

</html>