<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br"
      xmlns="http://www.w3.org/1999/xhtml">

<head><title>OdontoPrev</title>
    <meta charset="UTF-8">
    <link rel="shortcut icon" th:href="@{/img/odpv.PNG}" type="image/png"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="../css/sweetalert.css"/>
    <link rel="stylesheet" type="text/css" href="../css/jquery-ui.css"/>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../css/main.css"/>
    <link rel="stylesheet" type="text/css" href="../css/odontoprev.css"/>
    <link rel="stylesheet" type="text/css" href="../css/rede-credenciada.css"/>


    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../js/jquery-ui.min.js"></script>
    <script type="text/javascript" th:src="@{/js/setColorMenuCorretor.js}"></script>
    <script src="../js/jquery.mask.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/odontoprev.js"></script>
    <script src="../js/odonto-Valida.js"></script>
    <script src="../js/sweetalert.min.js"></script>
    <script src="../app/coordenador.js"></script>
    <script src="../app/redeCredenciadaController.js"></script>

    <script type="text/javascript">

        function mapa(abc) {

            var latlng = { lat: -23.5432147, lng: -46.7356894 };
            var selectedMarker;

            //initMap(latlng);

            if (abc == null) {
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 5,
                    center: latlng,
                    disableDefaultUI: true
                });
            }
            else if (abc != null) {
                map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 14,
                    center: { lat: parseFloat(abc.dentistas[0].endereco.cidade.latitude), lng: parseFloat(abc.dentistas[0].endereco.cidade.longitude) },
                    disableDefaultUI: true
                });

                var dentistas = [];

                for (var i = 0; i < abc.dentistas.length; i++) {

                    var filter = dentistas.filter(function (x) { return x == abc.dentistas[i].codigoDentista });

                    if (filter.length > 0) continue;

                    dentistas.push(abc.dentistas[i].codigoDentista);

                    var latlng2 = new google.maps.LatLng((abc.dentistas[i].endereco.cidade.latitude), (abc.dentistas[i].endereco.cidade.longitude));

                    var marker = new google.maps.Marker({
                        position: latlng2,
                        map: map,
                        center: latlng2,
                        icon: 'img/pin_azul.png'
                    });

                    var infowindow = new google.maps.InfoWindow();

                    google.maps.event.addListener(marker, 'click', (function (marker, i) {
                        return function () {

                            if (selectedMarker) {
                                selectedMarker.setIcon('img/pin_azul.png');
                            }

                            marker.setIcon('img/pin_rosa.png');
                            selectedMarker = marker;

                            $("#nomeDentista").html("Dr(a). " + abc.dentistas[i].nomeDentista);
                            $("#croDentista").html("CRO: " + abc.dentistas[i].numeroCRO);
                            $("#especialidadeDentista").html(abc.dentistas[i].especialidade.descricaoEspecialidade);
                            var especialidades = abc.dentistas[i].especialidade.descricaoEspecialidade.split(",");
                            $("#enderecoDentista").html(abc.dentistas[i].endereco.enderecoCompleto);
                            $("#cepDentista").html(abc.dentistas[i].endereco.cep);
                            $("#telefoneDentista").html(abc.dentistas[i].numeroFone);
                            $("#tipoPessoaDentista").html(abc.dentistas[i].tipoPrestador);
                            $('#myModal').modal('show');

                        }
                    })(marker, i));
                }
            }
        }
    </script>
</head>

<body style="min-width: 100% !important;">

    <script>

    </script>
    
    <!-- Bloco 1 -->
    <div class="container-fluid nopadding">
    	
    	<div th:switch="${session.usuario.perfil}">
        <div th:case="'Corretor'">
            <div th:replace="fragments/menu-corretor :: menu-corretor">&nbsp;</div>
            <div th:replace="fragments/header-corretor :: header-corretor">&nbsp;</div>
        </div>
        <div th:case="'Corretora'">
            <div th:replace="fragments/menu-corretora :: menu-corretora">&nbsp;</div>
            <div th:replace="fragments/header-corretora :: header-corretora">&nbsp;</div>
        </div>
    </div>
    
        <div class="container-logado padding-logado padding-top-0">
        
        <div>
            <div class="">
                <div class="text-right">
                    <div>
                        <h4 class="titleOdontH4 align-text margin-bottom-30 margin-top-30">
                            REDE CREDENCIADA
                        </h4>
                    </div>
                </div>

                <div class="">

                    <div class="form-group col-sm-6 input-rede-credenciada padding-left-rede" >

                        <label for="" class="label-especialidade labelOdontRede control-label padding-top-0">ESPECIALIDADES</label>
                        <div>
                            <select class="especialidade selectListBlur" id="especs"></select>
                        </div>
                    </div>

                    <div class="form-group col-sm-6 input-rede-credenciada padding-left-rede" >
                        <label for="" class="label-estado labelOdontRede control-label padding-top-0">ESTADO</label>
                        <div><select class="estado selectListBlur" id="estados"></select></div>
                    </div>

                    <div class="form-group col-sm-6 input-rede-credenciada padding-left-rede" >
                        <label for="" class="label-cidade labelOdontRede control-label padding-top-0">CIDADE</label>
                        <div>
                        <input type="text" class="cidade selectListBlur autocomplete nomeRegex" id="cidades" />
                        </div>

                    </div>

                    <div class="form-group col-sm-6 input-rede-credenciada padding-left-rede" >
                        <label for="" class="label-bairro labelOdontRede padding-top-0">BAIRRO</label>
                        <div>
                        <input class="bairro selectListBlur autocomplete nomeRegex" id="bairros" />
                        </div>
                    </div>

                    <div class="form-group col-sm-6 input-rede-credenciada padding-left-rede padding-right-button padding-top-btn" >
                        <button class="btn btn-lg btn-block btnOdont max-witdh-btn" id="btnBuscar">BUSCAR</button>
                    </div>

                </div>

            </div>
        </div>

        <div id="map" class="nopadding height-maps">
            <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYhoOl5Kervzx0pOvSAL8qIIWcPHg5Zyk&callback=mapa">
            </script>
        </div>
        
        </div>

        <!--<input type="text" class="hide" id="foco">-->
        <div th:replace="fragments/footer :: footer">&nbsp;</div>

    </div>


    <!-- End Bloco 1 -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modalConteiner">
            <div class="imgBtnExcluir" id="closeModalRedeCredenciada">
                <img src="img/btn-excluir.png" class="btnExcluir" alt="">
            </div>
            <div class="">
                <div class="modal-header-OdontMed">
                    <div class="">
                        <span class="labelBoldModal"><h2 id="nomeDentista"></h2></span>
                    </div>
                    <div>
                        <span class="labelLightModal"><h5 id="croDentista"></h5></span>
                        <label class="labelLightModal"><h5 id="tipoPessoaDentista"></h5></label>
                        <!--<span class="labelLightModal">Pessoa Física</span>-->
                    </div>
                </div>

                <div class="col-sm-12 labelBoldModalPlano"><span></span></div>
                <div class="modal-body-OdontMed">
                    <div class="row">
                        <label class="labelBoldTitleModal">Especialidades</label>
                        <div class="text-center">
                            <label><img src="img/Protese.png" class="" alt=""><p><h5 id="especialidadeDentista" style="color:gray"></h5></p></label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer-OdontMed">
                    <div>
                        <label class="labelBoldPink">Endereço</label>
                        <p class="labelBold"><h5 id="enderecoDentista" style="color:gray"></h5></p>
                        <p class="labelBold"><h5 id="cepDentista" style="color:gray"></h5></p>
                    </div>
                    <div>
                        <label class="labelBoldPink">Contato</label>
                        <p class="labelBold"><h5 id="telefoneDentista" style="color:gray"></h5></p>
                    </div>
                    <br />
                </div>
            </div>

        </div>
    </div>
    <!-- End Modal -->


    <style>


    </style>


</body>
</html>