<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">

<head><title>OdontoPrev</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" th:href="@{/img/odpv.PNG}" type="image/png"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/odontoprev.css}"/>

    <script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.mask.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/odonto-Valida.js}"></script>

    <script type="text/javascript" th:src="@{/js/menu.js}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script>
        $(function () {
            $(".button-collapse").sideNav();
        });

        $(document).ready(function () {
            /*
            $(".conteudo").click(function () {
                $("#dados").attr("data-id", $(this).val());
                $('.custom-url').attr('href', '/downloadBoleto?id=' + $("#dados").attr("data-id") + "-" + $("#dados").attr("data-value"));
            });
            */

            $(".clickAccordeon").click(function () {

                var taAberto = $(this).attr('data-aberto');
                console.log(taAberto);

                if (taAberto == 'false') {
                    $(this).find(".glyphicon").removeClass("glyphicon-plus").addClass("glyphicon-minus");
                    $(this).find(".glyphicon-minus").css('color', '#FFFFFF');
                    $(this).css('background-color', '#1a75cf');
                    $(this).find(".nomeDependente").css('color', '#FFFFFF');
                    $(this).attr('data-aberto', 'true');

                } else {
                    $(this).find(".glyphicon").removeClass("glyphicon-minus").addClass("glyphicon-plus");
                    $(this).find(".glyphicon-plus").css('color', '#ACAAA5');
                    $(this).css('background-color', '#FFFFFF');
                    $(this).find(".nomeDependente").css('color', '#ACAAA5');
                    $(this).attr('data-aberto', 'false');
                }
            });
        });
    </script>
</head>

<body style="min-width: 100% !important;">
<div class="container-fluid nopadding">

    <div th:switch="${session.usuario.perfil}">
        <div th:case="'Corretor'">
            <div th:replace="fragments/menu-corretor :: menu-corretor">&nbsp;</div>
            <div th:replace="fragments/header-corretor :: header-corretor">&nbsp;</div>
        </div>
        <div th:case="'Corretora'">
            <div th:replace="fragments/menu-corretora :: menu-corretora">&nbsp;</div>
            <div th:replace="fragments/header-corretora :: header-corretora">&nbsp;</div>
        </div>
    </div>

    <div class="container-logado padding-logado">
        <div class="row">
            <div class="col-md-6 odontBoxCenter">
                <div>
                    <div class="subTitleResumoPMEProp space-bottom-0">
                        VENDA PME
                    </div>

                    <div class="titleResumoProp space-top-0">
                        RESUMO DA PROPOSTA
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 row">
            <div class="titleResumoPropBlue"><p>DADOS DA EMPRESA</p></div>
            <table class="col-xs-12">
                <tr>
                    <td>
                        <label class="label-odont">CNPJ</label><br/>
                        <div class="p-odont" th:name="${cnpj}" th:text="${cnpj}"></div>
                    </td>
                    <td>
                        <label class="label-odont">Razão social</label><br/>
                        <div class="p-odont" th:name="${razaoSocial}" th:text="${razaoSocial}"></div>
                    </td>
                    <td>
                        <label class="label-odont">Nome fantasia</label><br/>
                        <div class="p-odont" th:name="${nomeFantasia}" th:text="${nomeFantasia}"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="label-odont">Ramo de atividade</label><br/>
                        <div class="p-odont" th:name="${ramoAtividade}" th:text="${ramoAtividade}"></div>
                    </td>
                    <td>
                        <label class="label-odont">Representante legal</label><br/>
                        <div class="p-odont" th:name="${representanteLegal}" th:text="${representanteLegal}"></div>
                    </td>
                    <td>
                        <label class="label-odont">CPF</label><br/>
                        <div class="p-odont" th:name="${cpfRepresentante}" th:text="${cpfRepresentante}"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="label-odont">Telefone</label><br/>
                        <div class="p-odont" th:name="${telefone}" th:text="${telefone}"></div>
                    </td>
                    <td>
                        <label class="label-odont">Celular</label><br/>
                        <div class="p-odont" th:name="${celular}" th:text="${celular}"></div>
                    </td>
                    <td>
                        <label class="label-odont">E-mail</label><br/>
                        <div class="p-odont" th:name="${email}" th:text="${email}"></div>
                    </td>
                </tr>
            </table>
        </div>

        <div class="col-xs-12 row">
            <div class="titleResumoPropBlue"><p>ENDEREÇO DA EMPRESA</p></div>
            <table class="col-xs-12">
                <tr>
                    <td colspan="3">
                        <label class="label-odont">CEP</label><br/>
                        <div class="p-odont" th:name="${enderecoEmpresa.getCep()}"
                             th:text="${enderecoEmpresa.getCep()}"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="label-odont">Endereço</label><br/>
                        <div class="p-odont" th:name="${enderecoEmpresa.getLogradouro()}"
                             th:text="${enderecoEmpresa.getLogradouro()}"></div>
                    </td>
                    <td>
                        <label class="label-odont">Número</label><br/>
                        <div class="p-odont" th:name="${enderecoEmpresa.getNumero()}"
                             th:text="${enderecoEmpresa.getNumero()}"></div>
                    </td>
                    <td>
                        <label class="label-odont">Complemento</label><br/>
                        <div class="p-odont" th:name="${enderecoEmpresa.getComplemento()}"
                             th:text="${enderecoEmpresa.getComplemento()}"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="label-odont">Bairro</label><br/>
                        <div class="p-odont" th:name="${enderecoEmpresa.getBairro()}"
                             th:text="${enderecoEmpresa.getBairro()}"></div>
                    </td>
                    <td>
                        <label class="label-odont">Cidade</label><br/>
                        <div class="p-odont" th:name="${enderecoEmpresa.getCidade()}"
                             th:text="${enderecoEmpresa.getCidade()}"></div>
                    </td>
                    <td>
                        <label class="label-odont">ESTADO</label><br/>
                        <div class="p-odont" th:name="${enderecoEmpresa.getEstado()}"
                             th:text="${enderecoEmpresa.getEstado()}"></div>
                    </td>
                </tr>
            </table>
        </div>

        <div class="col-xs-12 row">
            <div class="titleResumoPropBlue"><p>DATAS CONTRATUAIS</p></div>
            <table class="col-xs-12">
                <tr>
                    <td>
                        <label class="label-odont">Data de vencimento da fatura</label><br/>
                        <div class="p-odont" th:name="${dataVencimentoFatura}" th:text="${dataVencimentoFatura}"></div>
                    </td>
                    <td>
                        <label class="label-odont">Data de corte da movimentação</label><br/>
                        <div class="p-odont" th:name="${dataMovimentacao}" th:text="${dataMovimentacao}"></div>
                    </td>
                    <td>
                        <div th:style="${cdStatusVenda == 5} ? 'display:inline-block' : 'display:none'">
                            <label class="label-odont">Previsão de Início da Vigência</label><br/>
                            <div class="p-odont" th:name="${dataVencimentoFatura}" th:text="${dataVigencia}"></div>
                        </div>
                        <div th:style="${cdStatusVenda != 5} ? 'display:inline-block' : 'display:none'">
                            <label class="label-odont">Data de vigência</label><br/>
                            <div class="p-odont" th:name="${dataVigencia}" th:text="${dataVigencia}"></div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div class="col-xs-12 row">
            <div th:replace="fragments/beneficiario :: beneficiario">&nbsp;</div>
        </div>

        <div class="row">
            <div class="col-sm-12 btnPadBtmTop">
                <a th:href="@{downloadContratacao(cdEmpresa=${cdEmpresa})}" class="btn btn-lg btn-block btnOdont uppercase" id="" role="button" target="_parent">BAIXAR DETALHES DA CONTRATAçÃO</a>
            </div>
            <div class="col-xs-12 row" th:style="${error != null} ? 'display:inline-block' : 'display:none'">
                <label style="font-size: 14pt; color: #FF4141; margin-left: 15px" th:text="${error}" />
            </div>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer">&nbsp;</div>
</div>

</body>
</html>