<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Language" content="pt-br">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Odontoprev</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/odontoprev.css" rel="stylesheet">
    <link href="css/sweetalert.css" rel="stylesheet" />

</head>

<body>

    <!-- Bloco 1 -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 odontBoxCenter">
                <div class="text-center">
                    <div>
                        <h1 class="titleOdont text-center">
                            RESUMO DA PROPOSTA
                        </h1>
                        <h2 class="subTitleOdont text-center">
                            Confira o(s) plano(s) e escolha a forma de pagamento
                        </h2>
                    </div>
                </div>
            </div>
        </div>

        <br />

        <div id="planos"></div>

        <br />

        <div class="row">
            <div class="col-md-12">
                <div class="btnPadBtmTop">
                    <a href="cartao_pf_debito.html" class="btn btn-lg btn-block btnOdont" id="" role="button">PAGAR COM DÉBITO EM CONTA</a>
                </div>
                <div class="btnPadBtm">
                    <div class="btn btn-lg btn-block btnOdont" id="pagarComBoleto" role="button" onclick="pagarComBoleto()">PAGAR COM BOLETO</div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Bloco 1 -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
    <script src="js/odontoprev.js"></script>
    <script src="js/jquery.3.2.1.js"></script>
    <script src="js/jquery.mask.min.js"></script>
    <script src="js/odonto-Valida.js"></script>
    <script src="app/coordenador.js"></script>
    <script src="app/pfResumoController.js"></script>
    <script src="js/sweetalert.min.js"></script>
</body>
</html>