<!DOCTYPE html>
<html lang="pt-br">
<head><title>OdontoPrev</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Language" content="pt-br">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">



    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/odontoprev.css" rel="stylesheet">
    <link href="css/sweetalert.css" rel="stylesheet"/>

</head>

<body>

<div class="">
    <div class="col-sm-12 odontBoxCenter">
        <div class="text-center">
            <div>
                <h1 class="titleOdont text-center">
                    RESUMO DA PROPOSTA
                </h1>
                <h2 class="subTitleOdont text-center">
                    Confira o(s) plano(s) e escolha a forma de pagamento
                </h2>
            </div>
        </div>
    </div>
</div>

<br/>
<div id="planos"></div>
<br/>
<label></label>
<div>
    <img src="img/emergency-icon.png" style="position:absolute; width: 60px; height: auto; padding-left: 10px; padding-top: 20px; margin-bottom: 40px;" />
    <p style="font-family:Roboto-Light; text-align: left; color:white; background-color: #F9B40A; padding-left: 80px; padding-right: 10px; padding-bottom: 20px; padding-top: 20px;">
        <span style="font-family: Roboto-Medium !important;">ATENÇÃO</span><br />
        O plano estará ativo até 10 dias após a compra, se houver carência, ela começa a contar a partir desta data.
    </p>
</div>
<div class="">
    <div class="col-sm-12">
        <div class="btnPadBtmTop">
            <button class="btn btn-lg btn-block btnOdont" id="irParaDebito" role="button">PAGAR COM DÉBITO
                EM CONTA</button>
        </div>
        <div class="btnPadBtm">
            <button class="btn btn-lg btn-block btnOdont" id="pagarComBoleto" role="button">
                PAGAR COM BOLETO
            </button>
        </div>
    </div>
</div>

<!-- End Bloco 1 -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/scripts.js"></script>
<script src="js/odontoprev.js"></script>
<script src="js/jquery.3.2.1.js"></script>
<script src="js/jquery.mask.min.js"></script>
<script src="js/odonto-Valida.js"></script>
<script src="app/coordenador.js"></script>
<script src="app/pfResumoController.js"></script>
<script src="js/sweetalert.min.js"></script>
<script src="js/moment.js"></script>
<script> resizeIframe('frame_pf');</script>
</body>
</html>