<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br"
      xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <!--<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" th:href="@{/img/odpv.PNG}" type="image/png"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/odontoprev.css}"/>

    <script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.mask.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/odonto-Valida.js}"></script>

    <script type="text/javascript" th:src="@{/js/menu.js}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script>
        $(function () {
            $(".button-collapse").sideNav();
        });
    </script>

    <style type="text/css">
        .boxDadosPropostaResumo {
            height: 90pt;
            border: 1px solid #EDEDED;
            border-radius: 18px;
            box-shadow: 2px 5px 15px 0px #EDEDED;
            margin-left: 0px;
            margin-right: 0px;
        }
    </style>


</head>

<body style="min-width: 100% !important;">

<div class="container-fluid nopadding">

    <div th:switch="${session.usuario.perfil}">
        <div th:case="'Corretor'">
            <div th:replace="fragments/menu-corretor :: menu-corretor">&nbsp;</div>
            <div th:replace="fragments/header-corretor :: header-corretor">&nbsp;</div>
        </div>
        <div th:case="'Corretora'">
            <div th:replace="fragments/menu-corretora :: menu-corretora">&nbsp;</div>
            <div th:replace="fragments/header-corretora :: header-corretora">&nbsp;</div>
        </div>
    </div>

    <div class="container-logado padding-logado">
        <div class="row">
            <div class="col-md-6 odontBoxCenter">
                <div>
                    <div class="titleResumoProp">
                        RESUMO DA PROPOSTA
                    </div>
                    <div class="subTitleResumoProp">
                        Confira o plano escolhido e os dados do cliente abaixo
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-6 row">
            <div class="boxDadosPropostaResumo">
                <div th:name="${titulo}" class="titlePlanoResumoProp" th:text="${titulo}"></div>
                <label class="valorPlanoResumoProp" style="margin-left: 40px;">R$
                    <div th:text="${#numbers.formatDecimal(valor, 0,  'POINT', 2, 'COMMA')}"
                         th:name="${valor}" class="valorPlanoResumoProp"></div>
                </label>
                <div class="tipoPlano" th:text="${tipoPlano}"></div>
                <div class="valorTotalPlanoLabel">Total da proposta: R$</div>
                <div class="valorTotalPlano" th:text="${#numbers.formatDecimal(valorTotal, 0,  'POINT', 2, 'COMMA')}"/>
            </div>
        </div>

        <div class="col-xs-12 row">
            <div class="titleResumoPropBlue"><p>TITULAR DO PLANO</p></div>
            <table class="col-xs-12">
                <tr>
                    <td>
                        <label class="label-odont">Nome</label><br/>
                        <div class="p-odont" th:name="${nome}" th:text="${nome}"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="label-odont">CPF</label><br/>
                        <div class="p-odont" th:name="${cpf}" th:text="${cpf}"></div>
                    </td>
                    <td>
                        <label class="label-odont">Sexo</label><br/>
                        <div class="p-odont" th:name="${sexo}" th:text="${sexo}"></div>
                    </td>
                    <td>
                        <label class="label-odont">Data de nascimento</label><br/>
                        <div class="p-odont" th:name="${dataNasc}" th:text="${dataNasc}"></div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <label class="label-odont">Nome da mãe</label><br/>
                        <div class="p-odont" th:name="${nomeMae}" th:text="${nomeMae}"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="label-odont">Celular</label><br/>
                        <div class="p-odont" th:name="${celular}" th:text="${celular}"></div>
                    </td>
                    <td>
                        <label class="label-odont">E-mail</label><br/>
                        <div class="p-odont" th:name="${email}" th:text="${email}"></div>
                    </td>
                    <td>
                        <label class="label-odont">Dependentes</label><br/>
                        <label class="p-odont" th:value="${depNome}" th:text="${depNome}"
                               th:style="${depNome} == null ? 'display:none' : 'display:inline-block'"/>
                        <div th:each="dependente : ${detalhesPlano.dependentes}">
                            <a href="#" type="button" data-toggle="modal"
                               th:attrappend="data-target='#' + ${dependente.cdVida}"
                               th:style="${dependente.cdTitular != 0} ? 'display:inline-block' : 'display:none'">
                                <label th:name="${dependente.cdVida}"
                                       th:text="${dependente.nome}" class="linkDepBlue"></label>
                            </a>
                            <!-- INICIO - Modal -->
                            <div class="modal fade" th:attr="id=${dependente.cdVida}" role="dialog">
                                <div class="modal-dialog" style="width: 400px">
                                    <div class="imgBtnExcluir" id="closeModalDependentes">
                                        <img th:src="@{/img/btn-excluir.png}" class="btnExcluir" data-dismiss="modal">
                                    </div>
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title font-blue">DADOS DO DEPENDENTE</h4>
                                        </div>
                                        <div class="modal-body md-form">
                                            <table>
                                                <tr>
                                                    <td>
                                                        <label class="label-odont">Nome</label><br/>
                                                        <div class="p-odont" th:text="${dependente.nome}"></div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label class="label-odont">E-mail</label><br/>
                                                        <div class="p-odont" th:text="${dependente.email}"></div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label class="label-odont">Celular</label><br/>
                                                        <div class="p-odont" th:text="${dependente.celular}"></div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label class="label-odont">CPF</label><br/>
                                                        <div class="p-odont" th:text="${dependente.cpf}"></div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label class="label-odont">Data de Nascimento</label><br/>
                                                        <div class="p-odont"
                                                             th:text="${dependente.dataNascimento}"></div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label class="label-odont">Sexo</label><br/>
                                                        <div class="p-odont" th:text="${dependente.sexo}"></div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label class="label-odont">Nome da Mãe</label><br/>
                                                        <div class="p-odont" th:text="${dependente.nomeMae}"></div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="modal-footer">&nbsp;</div>
                                    </div>
                                </div>
                            </div>
                            <!-- FIM -->
                        </div>
                    </td>

                </tr>
            </table>
        </div>

        <div class="col-xs-12 row">
            <div class="titleResumoPropBlue"><p>ENDEREÇO</p></div>
            <table class="col-xs-12">
                <tr>
                    <td>
                        <label class="label-odont">Cep</label><br/>
                        <div class="p-odont" th:name="${cep}" th:text="${cep}"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="label-odont">Endereço</label><br/>
                        <div class="p-odont" th:name="${logradouro}" th:text="${logradouro}"></div>
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        <label class="label-odont">Número</label><br/>
                        <div class="p-odont" th:name="${numero}" th:text="${numero}"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="label-odont">Complemento</label><br/>
                        <div class="p-odont" th:name="${complemento}" th:text="${complemento}"></div>
                    </td>
                    <td>
                        <label class="label-odont">Bairro</label><br/>
                        <div class="p-odont" th:name="${bairro}" th:text="${bairro}"></div>
                    </td>
                    <td>
                        <label class="label-odont">Cidade</label><br/>
                        <div class="p-odont" th:name="${cidade}" th:text="${cidade}"></div>
                    </td>
                    <td>
                        <label class="label-odont">Estado</label><br/>
                        <div class="p-odont" th:name="${estado}" th:text="${estado}"></div>
                    </td>
                </tr>
            </table>
        </div>

        <div class="col-xs-12 row">
            <div class="titleResumoPropBlue"><p>FORMA DE PAGAMENTO</p></div>
            <table class="col-xs-12">
                <tr>
                    <td>
                        <div class="p-odont" th:name="${tipoPgmto}" th:text="${tipoPgmto}"></div>
                    </td>
                </tr>
            </table>
        </div>

        <div class="row">
            <div class="col-md-12"></div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer">&nbsp;</div>
</div>

</body>
</html>