<!DOCTYPE html>
<html lang="pt-br">
<head><title>OdontoPrev</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Language" content="pt-br">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/odontoprev.css" rel="stylesheet">
    <link href="css/sweetalert.css" rel="stylesheet" />
</head>
	
<body>

    <div class="container-fluid">

        </div>
        <div class="row">
            <div class="col-sm-12 odontBoxCenter">
                <div class="text-center">
                    <div>
                        <h1 class="titleOdont text-center">
                            RESUMO DA PROPOSTA
                        </h1>
                        <h2 class="subTitleOdont text-center">
                            Confira as informações da proposta
                        </h2>
                    </div>
                </div>

                <div id="planos" style="margin-bottom:20px; margin-left:20px; margin-right:20px;">
                </div>

                <div class="spanInlineLeft">
                    <span class="labelOdontFocus text-left" style="margin-left: 20px; font-family: Roboto-Black;">Total</span>
                </div>
                <div class="spanInlineRight">
                    <span id="valorTotalResumoPropostaPme"class="labelOdontFocus text-right" style="margin-right: 20px; font-family: Roboto-Black;"></span>
                </div>

                <div class="boxLabInput">
                    <div>
                        <label class="labelBlue" style="margin-bottom: 10px; margin-top:40px;">DADOS DA EMPRESA</label>
                    </div>
                    <div>
                        <label class="label-cnpj labelOdontBlur">CNPJ</label>
                    </div>
                    <div>
                        <input id="cnpjResumo" type="text" class=" cnpj inputLabelBlur" disabled>
                    </div>
                    <div>
                        <label class="label-razao-social labelOdontBlur">Razão social</label>
                    </div>
                    <div>
                        <input id="razaoSocialResumo" type="text" class="razao-social inputLabelBlur" disabled>
                    </div>
                    <div>
                        <label class="label-nome-fantasia labelOdontBlur">Nome fantasia</label>
                    </div>
                    <div>
                        <input id="nomeFantasiaResumo" type="text" class="nome-fantasia inputLabelBlur" disabled>
                    </div>
                    <div>
                        <label class="label-ramo-atividade labelOdontBlur">Ramo de atividade</label>
                    </div>
                    <div>
                        <input id="ramoAtividadeResumo" type="text" class="ramo-atividade inputLabelBlur" disabled>
                    </div>
                    <!--<div>
            <label class="label-inscricao-estadual labelOdontBlur">Inscrição estadual</label>
        </div>
        <div>
            <input type="text" class="inscricao-estadual data inputLabelBlur" disabled>
        </div>-->
                    <div>
                        <label class="label-representante-legal labelOdontBlur">Representante legal</label>
                    </div>
                    <div>
                        <input id="representanteLegalResumo" type="text" class="representante-legal inputLabelBlur" disabled>
                    </div>
                    <div>
                        <label class="label-cpf labelOdontBlur">CPF</label>
                    </div>
                    <div>
                        <input id="cpfResumo" type="text" class="cpf inputLabelBlur" disabled>
                    </div>
                    <div>
                        <label class="label-telefone labelOdontBlur">Telefone</label>
                    </div>
                    <div>
                        <input id="telefoneResumo" type="text" class="telefone inputLabelBlur" disabled>
                    </div>
                    <div>
                        <label class="label-celular labelOdontBlur">Celular</label>
                    </div>
                    <div>
                        <input id="celularResumo" type="text" class="celular inputLabelBlur" disabled>
                    </div>
                    <div>
                        <label class="label-email labelOdontBlur">E-mail</label>
                    </div>
                    <div>
                        <input id="emailResumo" type="text" class="email inputLabelBlur" disabled>
                    </div>

                    <div>
                        <label class="labelCheckOdontBlur">
                            * O representante legal é o contato na empresa
                        </label>
                    </div>
                    <div>
                        <label class="labelBlue" style="margin-bottom: 10px; margin-top:40px;">ENDEREÇO DA EMPRESA</label>
                    </div>
                    <div>
                        <label class="label-cep labelOdontBlur">CEP</label>
                    </div>
                    <div>
                        <input id="cepResumo" type="text" class="cep inputLabelBlur" disabled>
                    </div>
                    <div>
                        <label class="label-endereco labelOdontBlur">Endereço</label>
                    </div>
                    <div>
                        <input id="enderecoResumo" type="text" class="endereco inputLabelBlur" disabled>
                    </div>
                    <div>
                        <label class="label-numero labelOdontBlur">Número</label>
                    </div>
                    <div>
                        <input id="numeroResumo" type="number" class="numero inputLabelBlur" disabled>
                    </div>
                    <div>
                        <label class="label-complemento labelOdontBlur">Complemento</label>
                    </div>
                    <div>
                        <input id="complementoResumo" type="text" class="complemento inputLabelBlur" disabled>
                    </div>
                    <div>
                        <label class="label-bairro labelOdontBlur">Bairro</label>
                    </div>
                    <div>
                        <input id="bairroResumo" type="text" class="bairro inputLabelBlur" disabled>
                    </div>
                    <div>
                        <label class="label-cidade labelOdontBlur">Cidade</label>
                    </div>
                    <div>
                        <input id="cidadeResumo" type="text" class="cidade inputLabelBlur" disabled>
                    </div>
                    <div>
                        <label class="label-estado labelOdontBlur">Estado</label>
                    </div>
                    <div>
                        <input id="estadoResumo" type="text" class="estado inputLabelBlur" disabled>
                    </div>
                    <div>
                        <label class="labelCheckOdontBlur">
                            * O endereço de correspondência é o mesmo
                        </label>
                    </div>

                    <div>
                        <label class="labelBlue" style="margin-bottom: 10px; margin-top:40px;">BENEFICIÁRIOS</label>
                    </div>

                    <div class="lista" id="lista">
                    </div>

                    <a class="btn btn-lg btn-block btnTranspOdontBenef" style="margin-bottom: 5%; margin-top: 5%;" onclick="adicionarBenef()" role="button">ADICIONAR BENEFICIÁRIO</a>

                    <div>
                        <label class="labelBlue" style="margin-bottom: 10px; margin-top:40px;">DATAS OPERACIONAIS</label>
                    </div>

                    <div>
                        <label class="labelBold">Data da fatura:</label>
                        <label id="vencimento" class="labelLight"></label>
                    </div>
                    <div>
                        <label class="labelBold">Data de corte de movimentação:</label>
                        <label id="corte" class="labelLight"></label>
                    </div>
                    <div>
                        <label class="labelBold">Data de vigência:</label>
                        <label id="vigencia" class="labelLight"></label>
                    </div>
                </div>
            </div>
            </div>
        <div class="row">
            <div class="col-sm-12 btnPadBtm">
                <a onclick="enviarPropostaPme()" class="btn btn-lg btn-block btnOdont" id="" role="button">ENVIAR</a>
            </div>
        </div>
    </div>
    <!-- End Bloco 1 -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <script src="js/odontoprev.js"></script>
    <script src="js/jquery.3.2.1.js"></script>
    <script src="js/jquery.mask.min.js"></script>
    <script src="app/coordenador.js"></script>
    <script src="js/odonto-Valida.js"></script>  
    <script type="text/javascript" charset="utf-8" src="app/pmeResumoPropostaController.js"></script>
    <script type="text/javascript" charset="utf-8" src="js/sweetalert.min.js"></script>
    <script> resizeIframe('frame_pf');</script>
    <script src="js/moment.js"></script>
</body>
</html>