<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Language" content="pt-br">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">

    <title>Odontoprev</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/odontoprev.css" rel="stylesheet">
    <link href="css/sweetalert.css" rel="stylesheet" />

    <script src="js/scripts.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/odontoprev.js"></script>
    <script src="js/jquery.3.2.1.js"></script>
    <script src="js/jquery.mask.min.js"></script>
    <script src="js/odonto-Valida.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/sweetalert.min.js"></script>
    <script src="app/coordenador.js"></script>
    <script src="app/pmeFaturaController.js"></script>
    <script src="js/moment.js"></script>
</head>
<body>
    <!-- Menu -->
    <div id="componenteMenu"></div>
    <!-- End Menu -->
    <!-- Bloco 1 -->
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12 odontBoxCenter">
                <h1 class="titleOdont text-center">
                    DATAS OPERACIONAIS
                </h1>

                <p class="label-parentesco labelOdontBlur"> Escolha a melhor data vencimento da fatura. </p>

                <div class="boxLabInput">
                    <div class="form-group">
                        <label for="" class="label-parentesco labelOdontBlur" style="color: #1974CE">Data de vencimento da fatura</label>
                        <select class="form-control parentesco selectListBlur" id="vencOdont" style="color: #1974CE">
                            <option>Selecione...</option>
                            <option>05</option>
                            <option>15</option>
                            <option>25</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>



        <div class="row hide" id="divProximoMes">
            <div class="col-md-12">
                <label class="label-parentesco labelOdontBlur" id="proximoMes"></label>
            </div>
        </div>

        <!--<div class="row">
            <div class="col-md-12">
                <label class="label-parentesco labelOdontBlur" id="corte"></label><br>
                <label class="label-parentesco labelOdontBlur" id="vencimento"></label><br>
                <label class="label-parentesco labelOdontBlur" id="vigencia"></label><br><br />
                <label class="label-parentesco labelOdontBlur" id="movimentacao"></label><br><br />
            </div>
        </div>-->

        <div class="row">
            <div class="col-md-12">
                <div class="btn btn-lg btn-block btnOdont" href="" id="bntVenc" onclick="" role="button" style="background:#1974CE">CONTINUAR</div>
            </div>
        </div>

    </div>
    <!-- End Bloco 1 -->


    <div class="modal fade" id="myModal" role="dialog" style="padding-top:50px;">
        <div class="modal-dialog modalContainerVencimento">
            <div class="modal-content">
                <div class="modal-body" style="padding: 20px;">
                    <img src="img/btn-excluir.png" class="closeModalMateriais btnExcluir" data-dismiss="modal" alt="" />
                    <div id="">
                        <h1 class="titleOdont titleVencimento text-center">
                            ATENÇÃO
                        </h1>
                        <label class="labelBlurResumoStatus text-center" style="color: #1974CE; font-size:14pt;">
                            Para o dia de vencimento da fatura escolhido: <label class="labelOdontBlur" style="color: red; font-size:14pt;" id="dataSelecionada"></label>
                        </label>
                        <label class="labelBlurResumoStatus text-center" style="color: #1974CE; font-size:14pt;">A data de vigência deste contrato será</label>
                        <h1 class="titleOdont titleVencimento text-center" id="dataVigencia" style="font-size: 18pt !important; color: red !important;"></h1>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="btn btn-lg btn-block btnOdont" href="" id="bntVenc" onclick="atualizarFatura()" role="button" style="background:#1974CE; margin-top: 5px;">CONTINUAR</div>
                            </div>
                        </div>

                        <div class="text-center" style="margin-top:5px;">
                            <a class="linkOdont" id="escolherOutraData">Escolher outra data</a>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>