<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br"
      xmlns="http://www.w3.org/1999/xhtml">

<head><title>OdontoPrev</title>
    <meta charset="UTF-8">
    <link rel="shortcut icon" th:href="@{/img/odpv.PNG}" type="image/png"/>
    <meta http-equiv="Content-Language" content="pt-br">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" th:href="@{slick/slick.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{slick/slick-theme.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/odontoprev.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/main.css}"/>
</head>

<body>
<!-- Bloco 1 -->
<div class="container-fluid">
    <div class="col-sm-12 odontBoxCenter">
        <div class="row">
            <div class="text-center">
                <div>
                    <h1 class="titleOdont text-center">
                        ESCOLHA O PLANO
                    </h1>
                    <h2 class="subTitleOdont text-center">
                        Escolha o melhor plano para o seu cliente.
                    </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 single-item">

                <!-- INICIO PLANO DENTE DE LEITE 20181022 -->
                <div class="col-sm-4 boxPlanos item">
                    <h1 class="titleBoxVendas titleSlick2">DENTE <p>DE LEITE DE 0 A 7 ANOS</p></h1>
                    <div class="row pVPlanoVenda">
                        <label>Coberturas:</label>
                        <p>Restaurações</p>
                        <p>Limpeza</p>
                        <p>Emergências</p>
                        <p>Tratamento de Gengiva e Canal</p>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div id="denteDeLeiteMensal" onclick="iniciarProposta($(this).attr('data-id'))" class="btn btn-lg btn-block btnOdontPlano btnSlick2" href="venda_pf_dados_proposta.html" role="button" data-id="">
                                <div class="spanInlineLeft">
                                    <span>Mensal</span>
                                </div>
                                <div class="spanInlineRight">
                                    <span class="font-moeda">R$ 14,<span class="font-cent">98</span></span>
                                </div>
                            </div>
                            <p class="pInfoPlanoSlick2">Carência: 90 dias para tratamentos e 180 para prótese</p>
                            <div id="denteDeLeiteAnual" onclick="iniciarProposta($(this).attr('data-id'))" class="btn btn-lg btn-block btnOdontPlano btnSlick2" href="venda_pf_dados_proposta.html" role="button" data-id="">
                                <div class="spanInlineLeft">
                                    <span>Anual</span>
                                </div>
                                <div class="spanInlineRight">
                                    <span class="font-moeda">R$ 149,<span class="font-cent">80</span></span>
                                </div>
                            </div>
                            <p class="pInfoPlanoSlick2">Sem carência</p>
                        </div>
                    </div>
                </div>
                <!-- END PLANO DENTE DE LEITE 20181022 -->
                <!-- INICIO PLANO JUNIOR 20181022 -->
                <div class="col-sm-4 boxPlanos item">
                    <h1 class="titleBoxVendas titleSlick8Junior">JÚNIOR <p>DE 8 A 16 ANOS</p></h1>
                    <div class="row pVPlanoVenda">
                        <label>Coberturas:</label>
                        <p>Restaurações</p>
                        <p>Limpeza</p>
                        <p>Emergências</p>
                        <p>Tratamento de Gengiva e Canal</p>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div id="planoJuniorMensal" onclick="iniciarProposta($(this).attr('data-id'))" class="btn btn-lg btn-block btnOdontPlano btnSlick8Junior" href="venda_pf_dados_proposta.html" role="button" data-id="">
                                <div class="spanInlineLeft">
                                    <span>Mensal</span>
                                </div>
                                <div class="spanInlineRight">
                                    <span class="font-moeda">R$ 27,<span class="font-cent">99</span></span>
                                </div>
                            </div>
                            <p class="pInfoPlanoSlick8Junior">Carência: 90 dias para tratamentos e 180 para prótese</p>
                            <div id="planoJuniorAnual" onclick="iniciarProposta($(this).attr('data-id'))" class="btn btn-lg btn-block btnOdontPlano btnSlick8Junior" href="venda_pf_dados_proposta.html" role="button" data-id="">
                                <div class="spanInlineLeft">
                                    <span>Anual</span>
                                </div>
                                <div class="spanInlineRight">
                                    <span class="font-moeda">R$ 279,<span class="font-cent">90</span></span>
                                </div>
                            </div>
                            <p class="pInfoPlanoSlick8Junior">Sem carência</p>
                        </div>
                    </div>
                </div>
                <!-- END PLANO JUNIOR 20181022 -->

                    <div class="col-sm-4 boxPlanos item" id="Planos">
                        <h1 class="titleBoxVendas titleSlick1">DENTAL BEM-ESTAR</h1>
                        <div class="pVPlanoVenda">
                            <label>Coberturas:</label>
                            <p>Limpeza</p>
                            <p>Restaurações</p>
                            <p>Tratamento de Gengiva e Canal</p>
                            <p>Emergências 24h</p>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="bemEstarMensal" onclick="iniciarProposta( $(this).attr('data-id'))" class="btn btn-sm btn-block btnOdontPlano btnSlick1" href="venda_pf_dados_proposta.html" role="button" data-id="">
                                    <div class="spanInlineLeft">
                                        <span>Mensal</span>
                                    </div>
                                    <div class="spanInlineRight">
                                        <span class="font-moeda">R$ 45,<span class="font-cent">60</span></span>
                                    </div>
                                </div>
                                <p class="pInfoPlanoSlick1">Carência: 90 dias para tratamentos e 180 para prótese</p>
                                <div id="bemEstarAnual" onclick="iniciarProposta($(this).attr('data-id'))" class="btn btn-sm btn-block btnOdontPlano btnSlick1" href="venda_pf_dados_proposta.html" role="button" data-id="">
                                    <div class="spanInlineLeft">
                                        <span>Anual</span>
                                    </div>
                                    <div class="spanInlineRight">
                                        <span class="font-moeda">R$ 456,<span class="font-cent">00</span></span>
                                    </div>
                                </div>

                                <p class="pInfoPlanoSlick1">Carência: 60 dias para tratamentos e 90 para prótese</p>

                                <div id="divBemEstar">
                                    <div id="bemEstarAnualSCarencia" onclick="iniciarProposta($(this).attr('data-id'))" class="btn btn-sm btn-block btnOdontPlano btnSlick1" href="venda_pf_dados_proposta.html" role="button" data-id="">
                                        <div class="spanInlineLeft">
                                            <span>Anual</span>
                                        </div>
                                        <div class="spanInlineRight">
                                            <span class="font-moeda">R$ 547,<span class="font-cent">20</span></span>
                                        </div>
                                    </div>
                                    <p class="pInfoPlanoSlick1">Sem carência</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--<div class="col-sm-12 boxPlanos item">
                        <h1 class="titleBoxVendas titleSlick2">DENTE DE LEITE DE 0 A 7 ANOS</h1>
                        <div class="row pVPlanoVenda">
                            <label>Coberturas:</label>
                            <p>Consultas</p>
                            <p>Extrações</p>
                            <p>Restaurações</p>
                            <p>Limpeza</p>
                            <p>Emergências</p>
                            <p>Tratamento de Gengiva e Canal</p>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div onclick="iniciarProposta(6)" class="btn btn-lg btn-block btnOdontPlano btnSlick2" href="venda_pf_dados_proposta.html" role="button">
                                    <div class="spanInlineLeft">
                                        <span>Mensal</span>
                                    </div>
                                    <div class="spanInlineRight">
                                        <span class="font-moeda">R$ 14,<span class="font-cent">98</span></span>
                                    </div>
                                </div>
                                <p class="pInfoPlanoSlick2">Sem carência</p>
                                    <div onclick="iniciarProposta(7)" class="btn btn-lg btn-block btnOdontPlano btnSlick2" href="venda_pf_dados_proposta.html" role="button">
                                        <div class="spanInlineLeft">
                                            <span>Anual</span>
                                        </div>
                                        <div class="spanInlineRight">
                                            <span class="font-moeda">R$ 149,<span class="font-cent">80</span></span>
                                        </div>
                                    </div>
                                    <p class="pInfoPlanoSlick2">Sem carência</p>
                            </div>
                        </div>
                    </div>-->

                    <div class="col-sm-4 boxPlanos item">
                        <h1 class="titleBoxVendas titleSlick3">DENTAL ESTÉTICA</h1>
                        <div class="row pVPlanoVenda">
                            <label>Coberturas:</label>
                            <p>Placa de clareamento + gel</p>
                            <p>Limpeza</p>
                            <p>Tratamento de Gengiva e Canal</p>
                            <p>Emergência 24h</p>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="esteticaMensal" onclick="iniciarProposta($(this).attr('data-id'))" class="btn btn-sm btn-block btnOdontPlano btnSlick3" href="venda_pf_dados_proposta.html" role="button" data-id="">
                                    <div class="spanInlineLeft">
                                        <span>Mensal</span>
                                    </div>
                                    <div class="spanInlineRight">
                                        <span class="font-moeda">R$ 115,<span class="font-cent">00</span></span>
                                    </div>
                                </div>
                                <p class="pInfoPlanoSlick3">Carência: 90 dias para tratamentos e 180 para prótese</p>
                                <div id="esteticaAnual" onclick="iniciarProposta($(this).attr('data-id'))" class="btn btn-sm btn-block btnOdontPlano btnSlick3" href="venda_pf_dados_proposta.html" role="button" data-id="">
                                    <div class="spanInlineLeft">
                                        <span>Anual</span>
                                    </div>
                                    <div class="spanInlineRight">
                                        <span class="font-moeda">R$ 1150,<span class="font-cent">00</span></span>
                                    </div>
                                </div>
                                <p class="pInfoPlanoSlick3">Carência: 60 dias para tratamentos e 90 para prótese</p>
                                <div id="divEstetica">
                                    <div id="esteticaAnualSCarencia" onclick="iniciarProposta($(this).attr('data-id'))" class="btn btn-sm btn-block btnOdontPlano btnSlick3" href="venda_pf_dados_proposta.html" role="button" data-id="">
                                        <div class="spanInlineLeft">
                                            <span>Anual</span>
                                        </div>
                                        <div class="spanInlineRight">
                                            <span class="font-moeda">R$ 1380,<span class="font-cent">00</span></span>
                                        </div>
                                    </div>
                                    <p class="pInfoPlanoSlick3">Sem carência</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 boxPlanos item">
                        <h1 class="titleBoxVendas titleSlick4">DENTAL ORTO</h1>
                        <div class="row pVPlanoVenda">
                            <label>Coberturas:</label>
                            <p>Colocação + Manutenção de aparelho</p>
                            <p>Documentação e radiografias ortodônticas</p>
                            <p>Limpeza</p>
                            <p>Emergência 24h</p>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="ortoMensal" onclick="iniciarProposta($(this).attr('data-id'))" class="btn btn-sm btn-block btnOdontPlano btnSlick4" href="venda_pf_dados_proposta.html" role="button" data-id="">
                                    <div class="spanInlineLeft">
                                        <span>Mensal</span>
                                    </div>
                                    <div class="spanInlineRight">
                                        <span class="font-moeda">R$ 147,<span class="font-cent">00</span></span>
                                    </div>
                                </div>
                                <p class="pInfoPlanoSlick4">Carência: 90 dias para tratamentos e 180 para prótese</p>
                                <div id="ortoAnual" onclick="iniciarProposta($(this).attr('data-id'))" class="btn btn-sm btn-block btnOdontPlano btnSlick4" href="venda_pf_dados_proposta.html" role="button" data-id="">
                                    <div class="spanInlineLeft">
                                        <span>Anual</span>
                                    </div>
                                    <div class="spanInlineRight">
                                        <span class="font-moeda">R$ 1470,<span class="font-cent">00</span></span>
                                    </div>
                                </div>
                                <p class="pInfoPlanoSlick4">Carência: 60 dias para tratamentos e 90 para prótese</p>
                                <div id="divOrto">
                                    <div id="ortoAnualSCarencia" onclick="iniciarProposta($(this).attr('data-id'))" class="btn btn-sm btn-block btnOdontPlano btnSlick4" href="venda_pf_dados_proposta.html" role="button" data-id="">
                                        <div class="spanInlineLeft">
                                            <span>Anual</span>
                                        </div>
                                        <div class="spanInlineRight">
                                            <span class="font-moeda">R$ 1764,<span class="font-cent">00</span></span>
                                        </div>
                                    </div>
                                    <p class="pInfoPlanoSlick4">Sem carência</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 boxPlanos item">
                        <h1 class="titleBoxVendas titleSlick5">DENTAL VIP</h1>
                        <div class="row pVPlanoVenda">
                            <label>Coberturas:</label>
                            <p>Colocação + Manutenção de aparelho</p>
                            <p>Placa de clareamento + gel</p>
                            <p>Prótese Completa (Inclusive Porcelana e Cerâmica)</p>
                            <p>Tratamento de canal e gengiva</p>
                            <p>Emergência 24h</p>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="vipMensal" onclick="iniciarProposta($(this).attr('data-id'))" class="btn btn-sm btn-block btnOdontPlano btnSlick5" href="venda_pf_dados_proposta.html" role="button" data-id="">
                                    <div class="spanInlineLeft">
                                        <span>Mensal</span>
                                    </div>
                                    <div class="spanInlineRight">
                                        <span class="font-moeda">R$ 220,<span class="font-cent">35</span></span>
                                    </div>
                                </div>
                                <p class="pInfoPlanoSlick5">Carência: 90 dias para tratamentos e 180 para prótese</p>
                                <div id="vipAnual" onclick="iniciarProposta($(this).attr('data-id'))" class="btn btn-sm btn-block btnOdontPlano btnSlick5" href="venda_pf_dados_proposta.html" role="button" data-id="">
                                    <div class="spanInlineLeft">
                                        <span>Anual</span>
                                    </div>
                                    <div class="spanInlineRight">
                                        <span class="font-moeda">R$ 2203,<span class="font-cent">50</span></span>
                                    </div>
                                </div>
                                <p class="pInfoPlanoSlick5">Carência: 60 dias para tratamentos e 90 para prótese</p>
                                <div id="divVip">
                                    <div id="vipAnualSCarencia" onclick="iniciarProposta($(this).attr('data-id'))" class="btn btn-sm btn-block btnOdontPlano btnSlick5" href="venda_pf_dados_proposta.html" role="button" data-id="">
                                        <div class="spanInlineLeft">
                                            <span>Anual</span>
                                        </div>
                                        <div class="spanInlineRight">
                                            <span class="font-moeda">R$ 2644,<span class="font-cent">20</span></span>
                                        </div>
                                    </div>
                                    <p class="pInfoPlanoSlick5">Sem carência</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Bloco 1 -->

    <script src="js/jquery-2.2.0.min.js"></script>
    <script src="slick/slick.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
    <script src="js/odontoprev.js"></script>
    <script src="js/odontoprevstick.js"></script>
    <script src="app/coordenador.js"></script>
    <script src="utils/Guid.js"></script>
    <script src="app/pfIndexController.js"></script>
    <script> resizeIframe('frame_pf');</script>
</body>
</html>