<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="Content-Language" content="pt-br">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Odontoprev</title>

		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
		<link href="css/odontoprev.css" rel="stylesheet">
        <link href="css/sweetalert.css" rel="stylesheet" />
        
        <script type="text/javascript">
        function verificar(){
        	
        	nascimento = new Date(document.getElementById("data").value);
        	dataAtual = new Date();
        	ano = nascimento.getFullYear()
        	idade = dataAtual.getFullYear() - nascimento.getFullYear();
        	
        	if(ano < 999 || idade > 18){
        		document.getElementById("responsavelLegal").style.display = "none";
        	}
        	else{
        		document.getElementById("responsavelLegal").style.display = "block";
        	}
        	
        	
        }
        
        </script>
        
        
	</head>
	
    <body id='body'>

        <!-- Bloco 1 -->
        <div class="container-fluid">

            <div class="col-xs-12 odontBoxCenter">
                <div class="row">
                    <div class="text-center">
                        <div>
                            <h1 class="titleOdont text-center">
                                DADOS DA PROPOSTA
                            </h1>
                            <h2 class="subTitleOdont text-center">
                                Confira o plano escolhido e preencha os dados do cliente abaixo
                            </h2>
                        </div>
                    </div>
                </div>

                <div id="planos" style="margin-bottom:20px;">
                </div>

                <div class="row boxLabInput">
                    <div>
                        <label class="labelBlue">TITULAR DO PLANO</label>
                    </div>
                    <div>
                        <label class="label-nome labelOdontBlur">Nome</label>
                    </div>
                    <div>
                        <input type="text" class=" nome inputLabelBlur" id="nomeBeneficiario" autofocus>
                    </div>
                    <div>
                        <label class="label-email labelOdontBlur">E-mail</label>
                    </div>
                    <div>
                        <input type="email" class="email inputLabelBlur">
                    </div>
                    <div>
                        <label class="label-celular labelOdontBlur">Celular</label>
                    </div>
                    <div>
                        <input type="tel" class="celular inputLabelBlur" >
                    </div>
                    <div>
                        <label class="label-cpf labelOdontBlur">CPF</label>
                    </div>
                    <div>
                        <input type="tel" class="cpf inputLabelBlur" id="cpf">
                    </div>
                    <div>
                        <label class="label-nascimento labelOdontBlur">Data de nascimento</label>
                    </div>
                    <div>
                        <input type="tel" class="nascimento data inputLabelBlur" id="data" onkeyup="verificar();">
                    </div>
                    <div>
                        <label class="label-sexo labelOdontBlur">Sexo</label>
                    </div>
                    <div>
                        <div class="radio">
                            <input id="radio-1" name="radio" type="radio" class="sexo" value="f">
                            <label for="radio-1" class=" radio-inline radio-label label-sexo labelOdontBlur">Feminino</label>
                        </div>
                        <div class="radio">
                            <input id="radio-2" name="radio" type="radio" class="sexo" value="m">
                            <label for="radio-2" class="radio-inline radio-label label-sexo labelOdontBlur">Masculino</label>
                        </div>
                    </div>
                    <div>
                        <label class="label-nome labelOdontBlur">Nome da mãe</label>
                    </div>
                    <div>
                        <input type="text" class="nome inputLabelBlur" id="nomeMae" >
                    </div>
                    
                    
                    
                    <div id="responsavelLegal" style="display:none;">
                    <div class="alert" style="background:orange; color:white; margin:5%; text-align:center;">
                    	<p><b>ATENÇÃO: </b> Para titulares menores de dezoito anos é necessário preencher os dados do responsável legal pelo plano</p>
                    </div>
                    
                    <div>
                        <label class="labelBlue">RESPONSÁVEL LEGAL</label>
                    </div>
                    
                    <div>
                        <label class="label-nome labelOdontBlur">Nome</label>
                    </div>
                    <div>
                        <input type="text" class=" nome inputLabelBlur" id="nomeBeneficiario" autofocus >
                    </div>
                    
                    <div>
                        <label class="label-cpf labelOdontBlur">CPF</label>
                    </div>
                    <div>
                        <input type="tel" class="cpf inputLabelBlur" id="cpf">
                    </div>
                    
                    <div>
                        <label class="label-sexo labelOdontBlur">Sexo</label>
                    </div>
                    <div>
                        <div class="radio">
                            <input id="radio-1" name="radio" type="radio" class="sexo" value="f">
                            <label for="radio-1" class=" radio-inline radio-label label-sexo labelOdontBlur">Feminino</label>
                        </div>
                        <div class="radio">
                            <input id="radio-2" name="radio" type="radio" class="sexo" value="m">
                            <label for="radio-2" class="radio-inline radio-label label-sexo labelOdontBlur">Masculino</label>
                        </div>
                    </div>
                    
                    <div>
                        <label class="label-nascimento labelOdontBlur">Data de nascimento</label>
                    </div>
                    <div>
                        <input type="tel" class="nascimento data inputLabelBlur" id="data" >
                    </div>
                    
                    <div>
                        <label class="label-nome labelOdontBlur">Nome da mãe</label>
                    </div>
                    <div>
                        <input type="text" class="nome inputLabelBlur" id="nomeMae" >
                    </div>
                    
                    <div>
                        <label class="label-celular labelOdontBlur">Celular</label>
                    </div>
                    <div>
                        <input type="tel" class="celular inputLabelBlur" >
                    </div>
                    
                    <div>
                        <label class="label-email labelOdontBlur">E-mail</label>
                    </div>
                    <div>
                        <input type="email" class="email inputLabelBlur" >
                    </div>          
                    </div>
                    
                    

                    <!-- <input type="checkbox" value="" class="exemplo2 checkbox inputLabelFocus">
                <label class="Label-checkbox labelOdontFocus checkbox-inline">

                </label> -->
                
                    <div class="squaredOne">
                        <input type="checkbox" value="None" id="squaredOne" name="check" class="checkbox inputLabelCheckFocus"/>
                        <label for="squaredOne" class="Label-checkbox labelCheckOdontFocus checkbox-inline">
                            <span class="spanCheckbox">
                                O representante legal é o titular do plano
                            </span>
                        </label>
                    </div>
                    
                    <div>
                        <label class="labelBlue">Endereço</label>
                    </div>

                    <div>
                        <label class="label-cep labelOdontBlur">CEP</label>
                    </div>
                    <div>
                        <input type="tel" class="cep inputLabelBlur" id="cep" >
                    </div>
                    <div>
                        <label class="label-endereco labelOdontBlur" >Endereço</label>
                    </div>
                    <div>
                        <input type="text" class="endereco inputLabelBlur" id="rua" >
                    </div>
                    <div>
                        <label class="label-numero labelOdontBlur">Número</label>
                    </div>
                    <div>
                        <input type="tel" class="numero inputLabelBlur" >
                    </div>
                    <div>
                        <label class="label-complemento labelOdontBlur">Complemento</label>
                    </div>
                    <div>
                        <input type="text" class="complemento inputLabelBlur">
                    </div>
                    <div>
                        <label class="label-bairro labelOdontBlur">Bairro</label>
                    </div>
                    <div>
                        <input type="text" class="bairro inputLabelBlur" id="bairro" >
                    </div>
                    <div>
                        <label class="label-estado labelOdontBlur">Estado</label>
                    </div>
                    <div>
                        <input type="text" class="estado inputLabelBlur" id="uf" >
                    </div>
                    <div>
                        <label class="label-cidade labelOdontBlur">Cidade</label>
                    </div>
                    <div>
                        <input type="text" class="cidade inputLabelBlur" id="cidade" >
                    </div>
                </div>
                

                <div id="listaDep"></div>

                <br />
                <br />

                <div class="row">
                    <div class="col-md-12 btnPadBtm">
                        <div href="venda_index_pf.html" class="btn btn-xs btn-block btnOdont" id="" onclick="addDependente()" role="button">ADICIONAR DEPENDENTE</div>
                        <!-- <div class="row">
                        <div class="text-center">
                            <a href=""><label for="senha" class="linkOdontSalvar">SALVAR E FINALIZAR PROPOSTA DEPOIS</label></a>
                        </div>
                    </div> -->
                    </div>
                    <div class="col-md-12 btnPadBtm">
                        <div class="btn btn-xs btn-block btnOdont" id="" role="button" onclick="salvarRascunho()">CONTINUAR</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Bloco 1 -->
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/scripts.js"></script>
        <script src="js/odontoprev.js"></script>
        <script src="js/jquery.3.2.1.js"></script>
        <script src="js/jquery.mask.min.js"></script>
        <script src="js/odonto-Valida.js"></script>
        <script src="js/sweetalert.min.js"></script>
        <script src="app/coordenador.js"></script>
        <script src="app/pfCadastroController.js"></script>
    <script> resizeIframe('frame_pf');</script>
    </body>
</html>