<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">

    <meta http-equiv="Content-Language" content="pt-br">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Odontoprev</title>


    <link rel="stylesheet" type="text/css" href="slick/slick.css">
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/odontoprev.css" rel="stylesheet">
</head>

<body id='body'>

    <!-- Bloco 1 -->
    <div class="container-fluid">

        <div class="col-xs-12 odontBoxCenter">
            <div class="row">
                <div class="text-center">
                    <div>
                        <h1 class="titleOdont text-center">
                            ESCOLHA O PLANO
                        </h1>
                        <h2 class="subTitleOdont text-center">
                            Escolha o melhor plano para o seu cliente.
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="single-item">
                    <div class="col-xs-12 boxPlanos item" id="Planos">
                        <h1 class="titleBoxVendas titleSlick1">DENTAL BEM-ESTAR</h1>
                        <div class="row pVPlanoVenda">
                            <label>Coberturas:</label>
                            <p>Limpeza</p>
                            <p>Restaurações</p>
                            <p>Tratamento de Gengiva e Canal</p>
                            <p>Emergências 24h</p>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div id="bemEstarMensal" onclick="iniciarProposta($(this).attr('data-id'))" class="btn btn-xs btn-block btnOdontPlano btnSlick1" href="venda_pf_dados_proposta.html" role="button" data-id="">
                                    <div class="spanInlineLeft">
                                        <span>Mensal</span>
                                    </div>
                                    <div class="spanInlineRight">
                                        <span class="font-moeda">R$ 45,<span class="font-cent">60</span></span>
                                    </div>
                                </div>
                                <p class="pInfoPlanoSlick1">Carência: 90 dias para tratamentos e 180 para prótese</p>
                                <div id="bemEstarAnual" onclick="iniciarProposta($(this).attr('data-id'))" class="btn btn-xs btn-block btnOdontPlano btnSlick1" href="venda_pf_dados_proposta.html" role="button" data-id="">
                                    <div class="spanInlineLeft">
                                        <span>Anual</span>
                                    </div>
                                    <div class="spanInlineRight">
                                        <span class="font-moeda">R$ 456,<span class="font-cent">00</span></span>
                                    </div>
                                </div>

                                <p class="pInfoPlanoSlick1">Carência: 60 dias para tratamentos e 90 para prótese</p>
                                <div id="divBemEstarteste">
                                <div id="bemEstarAnualSCarencia" onclick="iniciarProposta($(this).attr('data-id'))" class="btn btn-xs btn-block btnOdontPlano btnSlick1" href="venda_pf_dados_proposta.html" role="button" data-id="">
                                    <div class="spanInlineLeft">
                                        <span>Anual</span>
                                    </div>
                                    <div class="spanInlineRight">
                                        <span class="font-moeda">R$ 547,<span class="font-cent">20</span></span>
                                    </div>
                                </div>
                                <p class="pInfoPlanoSlick1">Sem carência</p>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="col-xs-12 boxPlanos item">
                        <h1 class="titleBoxVendas titleSlick3">DENTAL ESTÉTICA</h1>
                        <div class="row pVPlanoVenda">
                            <label>Coberturas:</label>
                            <p>Placa de clareamento + gel</p>
                            <p>Limpeza</p>
                            <p>Tratamento de Gengiva e Canal</p>
                            <p>Emergência 24h</p>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div id="esteticaMensal" onclick="iniciarProposta($(this).attr('data-id'))" class="btn btn-xs btn-block btnOdontPlano btnSlick3" href="venda_pf_dados_proposta.html" role="button" data-id="">
                                    <div class="spanInlineLeft">
                                        <span>Mensal</span>
                                    </div>
                                    <div class="spanInlineRight">
                                        <span class="font-moeda">R$ 115,<span class="font-cent">00</span></span>
                                    </div>
                                </div>
                                <p class="pInfoPlanoSlick3">Carência: 90 dias para tratamentos e 180 para prótese</p>
                                <div id="esteticaAnual" onclick="iniciarProposta($(this).attr('data-id'))" class="btn btn-xs btn-block btnOdontPlano btnSlick3" href="venda_pf_dados_proposta.html" role="button" data-id="">
                                    <div class="spanInlineLeft">
                                        <span>Anual</span>
                                    </div>
                                    <div class="spanInlineRight">
                                        <span class="font-moeda">R$ 1150,<span class="font-cent">00</span></span>
                                    </div>
                                </div>
                                <p class="pInfoPlanoSlick3">Carência: 60 dias para tratamentos e 90 para prótese</p>
                                <div id="divEsteticateste">
                                <div id="esteticaAnualSCarencia" onclick="iniciarProposta($(this).attr('data-id'))" class="btn btn-xs btn-block btnOdontPlano btnSlick3" href="venda_pf_dados_proposta.html" role="button" data-id="">
                                    <div class="spanInlineLeft">
                                        <span>Anual</span>
                                    </div>
                                    <div class="spanInlineRight">
                                        <span class="font-moeda">R$ 1380,<span class="font-cent">00</span></span>
                                    </div>
                                </div>
                                <p class="pInfoPlanoSlick3">Sem carência</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 boxPlanos item">
                        <h1 class="titleBoxVendas titleSlick4">DENTAL ORTO</h1>
                        <div class="row pVPlanoVenda">
                            <label>Coberturas:</label>
                            <p>Colocação + Manutenção de aparelho</p>
                            <p>Documentação e radiografias ortodônticas</p>
                            <p>Limpeza</p>
                            <p>Emergência 24h</p>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div id="ortoMensal" onclick="iniciarProposta($(this).attr('data-id'))" class="btn btn-xs btn-block btnOdontPlano btnSlick4" href="venda_pf_dados_proposta.html" role="button" data-id="">
                                    <div class="spanInlineLeft">
                                        <span>Mensal</span>
                                    </div>
                                    <div class="spanInlineRight">
                                        <span class="font-moeda">R$ 147,<span class="font-cent">00</span></span>
                                    </div>
                                </div>
                                <p class="pInfoPlanoSlick4">Carência: 90 dias para tratamentos e 180 para prótese</p>
                                <div id="ortoAnual" onclick="iniciarProposta($(this).attr('data-id'))" class="btn btn-xs btn-block btnOdontPlano btnSlick4" href="venda_pf_dados_proposta.html" role="button" data-id="">
                                    <div class="spanInlineLeft">
                                        <span>Anual</span>
                                    </div>
                                    <div class="spanInlineRight">
                                        <span class="font-moeda">R$ 1470,<span class="font-cent">00</span></span>
                                    </div>
                                </div>
                                <p class="pInfoPlanoSlick4">Carência: 60 dias para tratamentos e 90 para prótese</p>
                                <div id="divOrtoteste">
                                <div id="ortoAnualSCarencia" onclick="iniciarProposta($(this).attr('data-id'))" class="btn btn-xs btn-block btnOdontPlano btnSlick4" href="venda_pf_dados_proposta.html" role="button">
                                    <div class="spanInlineLeft">
                                        <span>Anual</span>
                                    </div>
                                    <div class="spanInlineRight">
                                        <span class="font-moeda">R$ 1764,<span class="font-cent">00</span></span>
                                    </div>
                                </div>
                                <p class="pInfoPlanoSlick4">Sem carência</p>
                                    </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 boxPlanos item">
                        <h1 class="titleBoxVendas titleSlick5">DENTAL VIP</h1>
                        <div class="row pVPlanoVenda">
                            <label>Coberturas:</label>
                            <p>Colocação + Manutenção de aparelho</p>
                            <p>Placa de clareamento + gel</p>
                            <p>Prótese Completa (Inclusive Porcelana e Cerâmica)</p>
                            <p>Tratamento de canal e gengiva</p>
                            <p>Emergência 24h</p>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div id="vipMensal" onclick="iniciarProposta($(this).attr('data-id'))" class="btn btn-xs btn-block btnOdontPlano btnSlick5" href="venda_pf_dados_proposta.html" role="button" data-id="">
                                    <div class="spanInlineLeft">
                                        <span>Mensal</span>
                                    </div>
                                    <div class="spanInlineRight">
                                        <span class="font-moeda">R$ 220,<span class="font-cent">35</span></span>
                                    </div>
                                </div>
                                <p class="pInfoPlanoSlick5">Carência: 90 dias para tratamentos e 180 para prótese</p>
                                <div id="vipAnual" onclick="iniciarProposta($(this).attr('data-id'))" class="btn btn-xs btn-block btnOdontPlano btnSlick5" href="venda_pf_dados_proposta.html" role="button" data-id="">
                                    <div class="spanInlineLeft">
                                        <span>Anual</span>
                                    </div>
                                    <div class="spanInlineRight">
                                        <span class="font-moeda">R$ 2203,<span class="font-cent">50</span></span>
                                    </div>
                                </div>
                                <p class="pInfoPlanoSlick5">Carência: 60 dias para tratamentos e 90 para prótese</p>
                                <div id="divVipteste">
                                <div id="vipAnualSCarencia" onclick="iniciarProposta($(this).attr('data-id'))" class="btn btn-xs btn-block btnOdontPlano btnSlick5" href="venda_pf_dados_proposta.html" role="button" data-id="">
                                    <div class="spanInlineLeft">
                                        <span>Anual</span>
                                    </div>
                                    <div class="spanInlineRight">
                                        <span class="font-moeda">R$ 2644,<span class="font-cent">20</span></span>
                                    </div>
                                </div>
                                <p class="pInfoPlanoSlick5">Sem carência</p>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Bloco 1 -->

    <script src="js/jquery-2.2.0.min.js"></script>
    <script src="slick/slick.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
    <script src="js/odontoprev.js"></script>
    <script src="js/odontoprevstick.js"></script>
    <script src="app/coordenador.js"></script>
    <script src="app/pfIndexController.js"></script>
    <script> resizeIframe('frame_pf');</script>
</body>


</html>