<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">

    <meta http-equiv="Content-Language" content="pt-br">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Odontoprev</title>
	<frame-options policy="ALLOW"/>

    <link rel="stylesheet" type="text/css" href="slick/slick.css">
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/odontoprev.css" rel="stylesheet">
</head>

<body>

    <!-- Bloco 1 -->
    <div class="container-fluid">
        <div class="col-md-12 odontBoxCenter">
            <div class="row">
                <div class="text-center">
                    <div>
                        <h1 class="titleOdont text-center">
                            ESCOLHA O PLANO
                        </h1>
                        <h2 class="subTitleOdont text-center">
                            Para empresas de 3 a 199 vidas.
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="single-item">
                    <div class="col-md-12 boxPlanos item">
                        <h1 class="titleBoxVendas colorSlick3">Integral DOC LE</h1>
                        <h5 class="h5SubTitlePlano colorSlick3">(Compulsório)</h5>
                        <div class="row pVPlanoVenda">
                            <label>Coberturas:</label>
                            <p>Documentação e radiografias ortodônticas</p>
                            <p>Prótese unitária (Coroa)</p>
                            <p>Cirurgia</p>
                            <p>Radiografias</p>
                            <p>Recuperação de dente quebrado por queda</p>
                            <p>Extração do dente do ciso</p>
                            <p>Tratamento de canal e gengiva</p>
                            <p>Tratamento de mau hálito</p>
                            <p>Consultas e limpezas periódicas</p>
                            <p>Emergência 24H</p>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <a class="btn btn-lg btn-block btnOdontPlano btnSlick3" onclick="iniciarProposta(101)" role="button">
                                    <div class="spanInlineLeft">
                                        <span>Mensal</span>
                                    </div>
                                    <div class="spanInlineRight">
                                        <span class="font-moeda">R$ 24,<span class="font-cent">93</span></span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 boxPlanos item">
                        <h1 class="titleBoxVendas titleSlick2">Master LE</h1>
                        <h5 class="h5SubTitlePlano colorSlick2">(Compulsório)</h5>
                        <div class="row pVPlanoVenda">
                            <label>Coberturas:</label>
                            <p>Todas as coberturas do plano INTEGRAL DOC LE</p><br>
                            <p>+ Prótese (Inclusive porcelana e cerâmica)</p>
                            <p>+ Consulta com especialista em ortondontia</p>
                            <p>+ Documentação e radiografias ortodônticas</p>
                            <p>+ Colocação e manutenção de aparelho</p>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <a class="btn btn-lg btn-block btnOdontPlano btnSlick2" onclick="iniciarProposta(102)" role="button">
                                    <div class="spanInlineLeft">
                                        <span>Mensal</span>
                                    </div>
                                    <div class="spanInlineRight">
                                        <span class="font-moeda">R$ 101,<span class="font-cent">10</span></span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- End Bloco 1 -->

    <script src="js/jquery-2.2.0.min.js"></script>
    <script src="slick/slick.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
    <script src="js/odontoprev.js"></script>
    <script src="js/odontoprevstick.js"></script>
    <script src="app/coordenador.js"></script>
    <script src="app/pmeIndexController.js"></script>
    <script> resizeIframe('frame_pf');</script>
</body>
</html>