<html xmlns:th="http://www.thymeleaf.org" lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Editar Cadastro Dono Corretora | OdontoPrev</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="../../../assets/img/odpv.PNG" type="image/png">
    <link href="../../../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../../assets/css/main.css" rel="stylesheet">

    <script type="text/javascript" src="../../../assets/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../../../assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../../assets/js/jquery.mask.min.js"></script>
    <script type="text/javascript" src="../../../assets/js/odonto-Valida.js"></script>
    <script type="text/javascript" src="../../../assets/js/menu.js"></script>
    <script>
        $(function () {
            $(".button-collapse").sideNav();
        });

    </script>
</head>

<body style="min-width: 100% !important;">
<div class="container-fluid nopadding">
    <nav class="nav-odonto">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo" style="color: silver; padding: 35px"><img src="../../../assets/img/logo.png"></a>
            <ul class="hide-on-med-and-down">
                <li class="nav-cel"><a href="../others/home-dono-corretora.html"><img
                        src="../../../assets/img/menu-home.png"><span>home</span></a></li>
                <li class=" title-nav">para você</li>
                <li class="nav-cel"><a href="../vendas_pf/escolhaPlanoPF.html"><img
                        src="../../../assets/img/menu-vender-pf.png"><span>vender pessoa física</span></a></li>
                <li class="nav-cel"><a href="../vendas_pme/Escolha_um_plano.html"><img
                        src="../../../assets/img/menu-vender-pme.png"><span>vender pme</span></a></li>
                <li class="nav-cel"><a href="../others/lista_de_pospostas.html"><img
                        src="../../../assets/img/menu-listas.png"><span>sua lista de propostas</span></a></li>
                <li class="nav-cel"><a href="#"><img src="../../../assets/img/menu-listas.png"><span>informações dos planos</span></a>
                </li>
                <li class="nav-cel"><a href="#"><img
                        src="../../../assets/img/menu-meus-dados.png"><span>meus dados</span></a></li>

                <li class=" title-nav">para a sua corretora</li>

                <li class="nav-cel"><a href="../others/forca-de-vendas.html"><img
                        src="../../../assets/img/menu-listas.png"><span>equipe</span></a></li>
                <li class="nav-cel"><a href="../others/lista_de_pospostas.html"><img
                        src="../../../assets/img/menu-listas.png"><span>lista de propostas</span></a></li>
                <li class="nav-cel"><a href="../others/saldo-de-comissao.html"><img
                        src="../../../assets/img/menu-listas.png"><span>lista de comissão</span></a></li>
                <li class="nav-cel"><a href="../others/busca-rede-credenciadas.html"><img
                        src="../../../assets/img/menu-rede-credenciada.png"><span>rede credenciada</span></a></li>
                <li class="nav-cel"><a href="#"><img
                        src="../../../assets/img/menu-contato.png"><span>fale conosco</span></a></li>
            </ul>
        </div>
    </nav>

    <div class="nav-mobile">
        <ul class="side-nav" id="menu-mobile">
            <li class="" style="background-color: #fff; padding: 30px">
                <div class="perfil-mobile">
                    <div class="circle-perfil">
                        <div class="data-perfil">
                            <p class="font-gray name-mobile"><strong>Marcos Palmas</strong></p>
                            <p class="font-gray">Corretora XPTO</p>
                            <p class="font-pink">Sair</p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-cel"><a href="../others/home-dono-corretora.html"><img
                    src="../../../assets/img/menu-home.png"><span>home</span></a></li>
            <li class=" title-nav">para você</li>
            <li class="nav-cel"><a href="../vendas_pf/escolhaPlanoPF.html"><img
                    src="../../../assets/img/menu-vender-pf.png"><span>vender pessoa física</span></a></li>
            <li class="nav-cel"><a href="../vendas_pme/Escolha_um_plano.html"><img
                    src="../../../assets/img/menu-vender-pme.png"><span>vender pme</span></a></li>
            <li class="nav-cel"><a href="../others/lista_de_pospostas.html"><img
                    src="../../../assets/img/menu-listas.png"><span>sua lista de propostas</span></a></li>
            <li class="nav-cel"><a href="#"><img
                    src="../../../assets/img/menu-listas.png"><span>informações dos planos</span></a></li>
            <li class="nav-cel"><a href="#"><img
                    src="../../../assets/img/menu-meus-dados.png"><span>meus dados</span></a></li>

            <li class=" title-nav">para a sua corretora</li>

            <li class="nav-cel"><a href="../others/forca-de-vendas.html"><img src="../../../assets/img/menu-listas.png"><span>equipe</span></a>
            </li>
            <li class="nav-cel"><a href="../others/lista_de_pospostas.html"><img
                    src="../../../assets/img/menu-listas.png"><span>lista de propostas</span></a></li>
            <li class="nav-cel"><a href="../others/saldo-de-comissao.html"><img
                    src="../../../assets/img/menu-listas.png"><span>lista de comissão</span></a></li>
            <li class="nav-cel"><a href="../others/busca-rede-credenciadas.html"><img
                    src="../../../assets/img/menu-rede-credenciada.png"><span>rede credenciada</span></a></li>
            <li class="nav-cel"><a href="#"><img
                    src="../../../assets/img/menu-contato.png"><span>fale conosco</span></a></li>
        </ul>
    </div>

    <div class="header-logado">
        <a href="#" data-activates="menu-mobile" class="button-collapse pull-right">
            <img src="../../../assets/img/menu.png" class="icon-menu">
        </a>
        <img src="../../../assets/img/logo-mobile.png" class="logo-ondonto-mobile" style="position: relative;top:30px">

        <div class="perfil-web">
            <div class="circle-perfil">
                <div class="data-perfil">
                    <p class="user-name"><strong>Marcos Palmas</strong></p>
                    <p class="font-gray">Corretora XPTO</p>
                    <a href="#" class="link-odonto">Sair</a>
                </div>
            </div>
        </div>
        <div class="pull-right space-top-30 btn-header-web">
            <a href="../vendas_pf/escolhaPlanoPF.html" type="button" class="btn btnPink btn-width-custom text-right">VENDER
                PARA PESSOA FÍSICA</a><br>
            <a href="../vendas_pme/Escolha_um_plano.html" type="button"
               class="btn btnBlue btn-width-custom space-top-10">VENDER PME</a>
        </div>
    </div>
    <div class="container-logado padding-logado">
        <div class="row">
            <div class="col-xs-12">

                <form class="space-top-30">
                    <div class="col-xs-12">
                        <div class="form-group inline space-right width-form3 ">
                            <label class="label-cnpj">CNPJ</label>
                            <input type="text" id="cnpjEditarCadastroSouDono" class="cnpj  form-control ">
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <div class="form-group inline space-right width-form3 space-top-30">
                            <label class="label-razao-social">RAZÃO SOCIAL</label>
                            <input type="text" id="razaoSocialEditarCadastroSouDono" class="razao-social form-control">
                        </div>
                        <div class="form-group inline space-right width-form3">
                            <label class="label-cnae">CNAE</label>
                            <input type="text" id="cnaeEditarCadastroSouDono" class="cnae form-control">
                        </div>
                        <div class="form-group inline space-right width-form3">
                            <label class="label-simplesNacional">SIMPLES NACIONAL </label>
                            <input type="text" id="simplesNacionalEditarCadastroSouDono"
                                   class="simplesNacional form-control">
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <div class="form-group inline inline space-right width-form3 space-top-30">
                            <label class="label-dataAbertura">DATA DE ABERTURA</label>
                            <input type="text" id="dataAberturaEditarCadastroSouDono"
                                   class=" dataAbertura form-control">
                        </div>
                        <div class="form-group inline width-form3">
                            <label class="label-statusCnpjCadastroSouDono">STATUS CNPJ</label>
                            <input type="text" id="statusCnpjEditarCadastroSouDono"
                                   class="statusCnpjCadastroSouDono form-control ">
                        </div>
                    </div>

                    <div class="col-xs-12">

                        <div class="form-group inline space-right width-form1 space-top-30">
                            <label class="label-nomeCadastroSouDono">NOME DO REPRESENTATE LEGAL</label>
                            <input type="text" id="nomeCadastroSouDono" class=" nomeCadastroSouDono form-control">
                        </div>
                        <div class="form-group inline width-form3">
                            <label class="label-cpf">CPF</label>
                            <input type="text" id="cpEditarCadastroSouDono" class="cpf form-control ">
                        </div>

                    </div>

                    <div class="col-xs-12">

                        <div class="form-group inline space-right width-form1 space-top-30">
                            <label class="label-nomeSubCadastroSouDono">NOME DO REPRESENTATE LEGAL</label>
                            <input type="text" id="nomeSubEditarCadastroSouDono"
                                   class=" nomeSubCadastroSouDono form-control">
                        </div>
                        <div class="form-group inline width-form3">
                            <label class="label-cpfCadastroSouDono">CPF</label>
                            <input type="text" id="cpfEditarCadastroSouDono" class="cpfCadastroSouDono form-control ">
                        </div>

                    </div>

                    <div class="col-xs-12">

                        <div class="form-group inline space-right width-form3 space-top-30">
                            <label class="label-telefone">TELEFONE</label>
                            <input type="text" id="telefoneEditarCadastroSouDono" class="telefone form-control">
                        </div>
                        <div class="form-group inline space-right width-form3">
                            <label class="label-celularCadastroSouDono">CELULAR</label>
                            <input type="text" id="celularEditarCadastroSouDono"
                                   class="celularCadastroSouDono form-control">
                        </div>
                        <div class="form-group inline space-right width-form3">
                            <label class="label-email">E-MAIL </label>
                            <input type="text" id="emailEditarCadastroSouDono" class="email form-control">
                        </div>

                    </div>

                    <div class="col-xs-12">
                        <h4 class="labelEndCorretoraDonoDeCorretora sub-title space-top-60">
                            ENDEREÇO DA CORRETORA
                        </h4>

                        <div class="form-group space-right width-form3 space-top-40">
                            <label class="label-cep space-top-40">CEP</label>
                            <input type="text" id="cepEditarCadastroSouDono" class=" cep form-control">
                            <a href=" ">
                                <img src="../../../assets/img/magnifie.png" class="icone-revelar-senha" align="right">
                            </a>
                        </div>

                        <div class="form-group inline space-right width-form1 space-top-30">
                            <label class="label-endereco">ENDEREÇO</label>
                            <input type="text" id="enderecoEditarCadastroSouDono" class="endereco form-control ">
                        </div>

                        <div class="form-group inline space-right width-form3">
                            <label class="label-numero">NÚMERO</label>
                            <input type="text" id="numeroEditarCadastroSouDono" class="numero form-control ">
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <div class="form-group inline space-right width-form3 space-top-30">
                            <label form="complemento" class="label-complemento">COMPLEMENTO</label>
                            <input type="text" id="complementoEditarCadastroSouDono" class="complemento form-control">
                        </div>

                        <div class="form-group inline space-right width-form3">
                            <label form="bairro" class="label-bairro">BAIRRO</label>
                            <input type="text" id="bairroEditarCadastroSouDono" class=" bairro form-control ">
                        </div>

                        <div class="form-group inline space-right width-form2">
                            <label form="cidade" class="label-cidade">CIDADE</label>
                            <input type="text" id="cidadeEditarCadastroSouDono" class="cidade form-control">
                        </div>

                        <div class="form-group inline space-right">
                            <label class="label-estado">ESTADO</label>
                            <select class="form-control form-control-custom" id="estado estadoEditarCadastroSouDono">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <h4 class="labelEndCorretoraDonoDeCorretora sub-title space-top-60">
                            DADOS BANCÁRIOS
                        </h4>

                        <div class="row">
                            <div class="col-xs-12">

                                <div class="form-group inline space-right width-form3 space-top-30">
                                    <label form="complemento" class="label-banco">Banco</label>
                                    <input type="text" id="bancoEditarCadastroSouDono" class="banco form-control">
                                    <a href=" ">
                                        <img src="../../../assets/img/magnifie.png" class="icone-revelar-senha"
                                             align="right">
                                    </a>
                                </div>
                                <div class="form-group inline space-right width-form3">
                                    <label form="bairro" class="label-agencia">Agência</label>
                                    <input type="text" id="agenciaEditarCadastroSouDono" class="agencia form-control ">
                                </div>

                                <div class="form-group inline space-right width-form2">
                                    <label form="cidade" class="label-conta">Conta</label>
                                    <input type="text" id="contaEditarCadastroSouDono" class=" conta form-control">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <h4 class="labelCadastroDeSenhaDonoDeCorretora sub-title space-top-60">
                            SENHA
                        </h4>
                        <div class="form-group width-form3 space-top-40">
                            <label class="label-sennhaCadastroSouDono space-top-60"> Editar senha</label>
                            <input type="password" id="senhaEditarCadastroSouDono"
                                   class=" sennhaCadastroSouDono form-control">

                            <img src="../../../assets/img/senha-1@2x.png" id="icone-senhaEditarCadastroSouDono"
                                 class="icone-revelar-senha" align="right">

                        </div>
                        <div class="space-top-30">
                            <a type="button" class="btn btnBlue btn-width-custom space-top-10 uppercase">EDITAR MEUS
                                DADOS</a>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="footer-logado">
        <div class="pull-left box-footer">
            <p>© OdontoPrev. S/A - CNPJ: 119.199/0001-51</p>
            <p>Av. Marcos Penteado de Ulhoa Rodrigues, 939-14 andar-Edifício Jatoba Torre 2-Barueri-SP CEP-
                06460-040</p>
            <p>OdontoPrev - CRO/SP n° 19009</p>
        </div>
        <div class="pull-right footer-img"><img th:src="@{/img/ans.png}"></div>
    </div>
</div>
</body>

</html>