<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" th:href="@{/img/odpv.PNG}" type="image/png"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.mask.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/odonto-Valida.js}"></script>
    <script type="text/javascript" th:src="@{/js/menu.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script>
        $(function () {
            $(".button-collapse").sideNav();
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.table-odonto .line-table:odd').css('background-color', '#fff');

            $('.table-odonto .line-table:even').css('background-color', '#EDEDED');
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.barras').each(function () {
                var dataWidth = $(this).data('value');
                $(this).css("width", dataWidth + "%");
                $(this).css("max-width", "100%");
                if (dataWidth <= 25) {
                    $(this).css("background-color", "red");
                }
                else if (dataWidth > 25 && dataWidth <= 50) {
                    $(this).css("background-color", "orange");
                }
                else if (dataWidth > 50 && dataWidth <= 75) {
                    $(this).css("background-color", "yellow");
                }
                else if (dataWidth > 75 && dataWidth <= 100) {
                    $(this).css("background-color", "green");
                }
            });
        });
    </script>

    <script type="text/javascript">

        $(document).ready(function () {

            $(".btn-odonto-pink-primary").css("background-color", "#D9487F");
            $(".btn-odonto-pink-primary").css("border-color", "#D9487F");
            $(".btn-odonto-pink-primary").css("color", "#fff");

            $('.btn-odonto-pink-primary').click(function () {
                $(".btn-odonto-pink-primary").css("background-color", "#D9487F");
                $(".btn-odonto-pink-primary").css("border-color", "#D9487F");
                $(".btn-odonto-pink-primary").css("color", "#fff");
                $(".btn-odonto-blue-primary").css("background-color", "#fff");
                $(".btn-odonto-blue-primary").css("color", "#2D6FCE");

            });


            $('.btn-odonto-blue-primary').click(function () {
                $(".btn-odonto-blue-primary").css("background-color", "#2D6FCE");
                $(".btn-odonto-blue-primary").css("border-color", "#2D6FCE");
                $(".btn-odonto-blue-primary").css("color", "#fff");
                $(".btn-odonto-pink-primary").css("background-color", "#fff");
                $(".btn-odonto-pink-primary").css("color", "#D9487F");

            });


        });


        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip({html: true, placement: "bottom"});
        });


    </script>

    <style>
        /* Tooltip */
        .dados + .tooltip > .tooltip-inner {
            background-color: #da497f;
            color: #FFFFFF;
            padding: 20px;
            font-size: 12px;
        }

        /* Tooltip on bottom */
        .dados + .tooltip.bottom > .tooltip-arrow {
            border-bottom: 5px solid #da497f;
        }
    </style>

    <style>
        .label.bg-gold {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 50%;
            text-align: left;
            font-weight: normal;
            padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 15px;
            border-radius: 10px;
        }

        a.text-silver:hover {
            color: #7D7D7D !important;
        }

        .navbar-right ~ .navbar-right {
            margin-right: 25px;
        }
    </style>


</head>
<body style="min-width: 100% !important;">

<div class="container-fluid nopadding">

    <div th:replace="fragments/menu-corretora :: menu-corretora">&nbsp;</div>

    <div th:replace="fragments/header-corretora :: header-corretora">&nbsp;</div>

    <div class="container-logado padding-logado">

        <div class="row">
            <div class="col-xs-12">
                <h4 class="uppercase font-blue title-section-odonto pull-left">Sua equipe</h4>
            </div>
            <div class="col-xs-12 text-silver">
                <p>Você pode conferir abaixo todos os corretores vinculados à sua corretora. </p>
            </div>
        </div>


        <div class="row space-top-30">

            <div class="col-xs-12">

                <table class="table-odonto">

                    <thead>
                    <tr>
                        <th><span>Nome</span></th>
                        <th class="col-xs-3"><span>Status</span></th>
                        <!--<th><span>Ações</span></th>-->
                        <th><span></span></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="forca : ${listaForca.lista}" class="line-table">
                        <td><span class="dados" data-toggle="tooltip"
                                  th:title="${forca.cpf} + '<br>' + ${forca.email} + '<br>' + ${forca.celular}"
                                  th:text="${forca.nome}"></span></td>
                        <td><span th:text="${forca.statusForcaVenda}"></span></td>
                        <td align="right"><span>  <a class="text-silver"
                                                     th:href="@{/corretora/equipe/excluir(cpf=${forca.cpf})}">
                            <i style="font-size: 16px;" class="fa">&#xf014;</i> Excluir</a></span>
                            <!--<td><span>  <a th:href="@{/corretora/equipe/desativar(id=${forca.cdForcaVenda})}" > Desativar </a></span>-->

                    </tr>

                    </tbody>
                </table>

            </div>
        </div>

        <div class="col-xs-12">
            <div class=" space-top-30 btn-header-web">
                <a th:href="@{/corretora/equipe/adicionar}" type="button"
                   class="btn uppercase btnBlue btn-width-custom space-top-10 navbar-right">ADICIONAR NOVO CORRETOR</a>
                <!-- TODO: Não entra na Sprint5 -->
                <!-- a th:href="@{/corretora/equipe/adicionar}" type="button"
                class="btn uppercase btnBlue btn-width-custom space-top-10 navbar-right">DADOS COMPLETOS DA EQUIPE</a-->
            </div>
        </div>

        <div class="col-xs-30">
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <h4><p style="color: #5e5e5e">Faça o upload da equipe de vendas</p></h4>
            <p class="text-odonto font-silver">Para fazer o upload da sua equipe de vendas, você precisa preencher
                corretamente todos os campos do formulário.</p>
            <a th:src="@{/static/modelo.xlsx}" style="color: #a94442">Clique aqui e faça o download da planilha em
                excel</a>
            <div class="space-top-10 btn-header-web">
                <button type="button" data-toggle="modal" data-target="#uploadModal"
                        class="btn uppercase btnBlue btn-width-custom space-top-10 navbar-left">FAZER UPLOAD DA EQUIPE
                </button>
                <!--a th:href="@{/fileupload}" type="button"
                   class="btn uppercase btnBlue btn-width-custom space-top-10 navbar-right">FAZER UPLOAD DA EQUIPE</a-->


                <!-- INICIO - Modal -->
                <div class="modal fade" id="uploadModal" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title text-blue">UPLOAD DA EQUIPE DE VENDAS</h4>
                            </div>
                            <div class="modal-body">
                                <form class="md-form" action="#" th:action="@{/fileupload}" th:object="${fileupload}"
                                      method="post">
                                    <div class="file-field">
                                        <p><input type="file" name="file" id="file"
                                                  style="width: 0.1px;height: 0.1px;opacity: 0; overflow: hidden; position: absolute; z-index: -1;"
                                                  accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                                            <label for="file" class="btn uppercase btnBlue space-top-10">ESCOLHER
                                                ARQUIVO</label>
                                        </p>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <div class="col-xs-3"><a type="button" th:href="@{/fileupload}"
                                                         class="btn uppercase btnBlue">Enviar</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- FIM -->

                <!--form action="uploadSuccess.html" th:action="@{/fileupload}" method="post" enctype="multipart/form-data">
                      <label for="file">FAZER UPLOAD DA EQUIPE</label>
                      <input type="file" name="file" id="file"/>
                      <input type="submit" value="Upload" />
                </form-->
            </div>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </div>

        <div class="row space-top-30">
            <div class="col-xs-12">
                <h4 class="uppercase font-blue title-section-odonto pull-left">Aguardando aprovação</h4>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <h2><span class="label bg-gold col-md-12">
                    <i style="font-size:18px" class="fa">&#xf0a2;</i>&nbsp;
                    <strong th:text="${listaForca.totalForca}">2</strong>&nbsp;
                    Corretores aguardando sua aprovação</span></h2>
                </div>
            </div>

        </div>
        <br/>
        <div class="row">
            <div class="col-xs-12">
                <p class="text-odonto font-silver">Os usuários abaixo informaram fazer parte da equipe de vendas da sua
                    corretora.
                    Para autorizar o acesso clique em “ativar”. Caso você não conheça este corretor, clique em
                    “reprovar".</p>
            </div>
        </div>

        <div th:if="*{listaForca.erro}" style="padding-top: 10px">
            <span th:text="*{listaForca.message}" class="alert alert-danger"></span>
        </div>

        <div class="row space-top-30">
            <div class="col-xs-12">
                <table class="table-odonto">
                    <thead>
                    <tr>
                        <th class="col-xs-7"><span>Nome</span></th>
                        <th><span></span></th>
                        <th><span>Ações</span></th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="forca : ${listaForca.aguardandoAprovacao}" class="line-table">
                        <td><span th:text="${forca.nome}">Lopes</span></td>
                        <td><span th:text="${forca.statusForcaVenda}">PME</span></td>

                        <td><span>  <a class="text-silver"
                                       th:href="@{/corretora/equipe/ativar(id=${forca.cpf})}">
                            <i style="font-size: 16px" class="fa">&#xf087;</i> Ativar</a></span>
                        <td><span>  <a class="text-silver"
                                       th:href="@{/corretora/equipe/reprovar(cpf=${forca.cpf})}">X Reprovar</a></span>

                            <!--<td><span>  <a th:href="@{/corretora/equipe/desativar(id=${forca.cpf})}" > Desativar </a></span>-->
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <div th:replace="fragments/footer :: footer">&nbsp;</div>
</div>

</body>
</html>